In [1]:
pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in ./.local/lib/python3.8/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in ./.local/lib/python3.8/site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '8g') \
    .config('spark.driver.memory', '8g') \
    .getOrCreate()
# spark = SparkSession.builder.appName('Read CSV File into DataFrame').getOrCreate()
from pyspark.sql.functions import col

# Load the data into a DataFrame
df_spark = spark.read.csv("/home/nirmala/Documents/precog_requirement_task/acts_sections.csv", header=True)

# Remove the 'act' from the DataFrame
df_spark = df_spark.drop(col("act"))

# Remove the 'section' from the DataFrame
df_spark = df_spark.drop(col("section"))

# Remove the 'bailable_ipc' from the DataFrame
df_spark = df_spark.drop(col("bailable_ipc"))

# Remove the 'number_sections_ipc' from the DataFrame
df_spark = df_spark.drop(col("number_sections_ipc"))
# Write the resulting DataFrame to a CSV file

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 16:38:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df1=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2010.csv" ,header=True)
# df1 = df1.withColumn("state_code", when(df("state_code") == "01", lit("Andhra Pradesh")).otherwise(df("state_code")))

dp=df1

In [4]:
# df_merged = df.join(df1, on=["ddl_case_id"], how="left").filter(col("ddl_case_id") == col("ddl_case_id"))
df_merged=df_spark.join(df1,
               df_spark.ddl_case_id == df1.ddl_case_id, 
               "right")

In [5]:
# df_merged.count()
del df_spark
# df_merged.write.csv("2010.csv", mode="overwrite", header=True)

In [6]:
df_merged = df_merged.drop(col("dist_code"))

# Remove the 'section' from the DataFrame
df_merged = df_merged.drop(col("cino"))

# Remove the 'bailable_ipc' from the DataFrame
df_merged = df_merged.drop(col("court_no"))

# Remove the 'number_sections_ipc' from the DataFrame
df_merged = df_merged.drop(col("judge_position"))

df_merged = df_merged.drop(col("type_name"))

df_merged = df_merged.drop(col("purpose_name"))

df_merged = df_merged.drop(col("female_adv_def"))

df_merged = df_merged.drop(col("female_petitioner"))

df_merged = df_merged.drop(col("female_adv_pet"))

df_merged = df_merged.drop(col("female_defendant"))

In [7]:
df_pandas = df_merged.toPandas()

In [8]:
df_merged

DataFrame[ddl_case_id: string, criminal: string, ddl_case_id: string, year: string, state_code: string, disp_name: string, date_of_filing: string, date_of_decision: string, date_first_list: string, date_last_list: string, date_next_list: string]

In [9]:
del df_merged

In [10]:

df_pandas=df_pandas.drop(df_pandas.columns[0], axis=1)

In [11]:
df_pandas

,criminal,year,state_code,disp_name,date_of_filing,date_of_decision,date_first_list,date_last_list,date_next_list
0,0,2010,1,25,2010-04-20,2011-03-31,2010-06-23,2011-02-28,2011-03-31
1,1,2010,1,22,2010-02-11,2013-07-01,2010-03-11,2013-06-12,2013-07-01
2,1,2010,1,25,2010-02-15,2013-01-29,2010-03-15,2012-12-26,2013-01-29
3,1,2010,1,25,2010-04-21,2011-01-10,2010-05-10,2010-12-27,2011-01-10
4,1,2010,1,25,2010-04-23,2011-07-04,2010-05-29,2011-05-31,2011-07-04
...,...,...,...,...,...,...,...,...,...
1048570,None,2010,3,19,2010-06-29,2012-03-12,None,2012-03-11,2012-03-12
1048571,None,2010,3,13,2010-04-05,2011-10-22,2011-05-05,2011-10-15,2011-10-22
1048572,None,2010,3,4,2010-07-21,2012-10-09,2011-07-06,2012-10-08,2012-10-09
1048573,None,2010,3,4,2010-07-24,2016-04-27,2011-03-21,2016-04-27,2016-04-27
1048574,None,2010,3,4,2010-08-06,2013-09-18,2011-08-30,2013-09-16,2013-09-18

In [12]:
# df['decision'].unique()

  state  cases_count
0     1       866279
1     2       119359
2     3        62937

In [14]:
df_2010=df_pandas
del df_pandas

In [15]:
# df_2010=df_2010.drop(columns=["ddl_case_id","cino"])
df_2010['state_code'].replace(to_replace='1', value="Maharashtra",inplace=True)
df_2010['state_code'].replace(to_replace='2' ,value="Andhra Pradesh",inplace=True)
df_2010['state_code'].replace(to_replace='3' ,value="Karnataka",inplace=True)
df_2010['state_code'].replace(to_replace='4', value="Kerala",inplace=True)
df_2010['state_code'].replace(to_replace='5' ,value="Himachal Pradesh",inplace=True)
df_2010['state_code'].replace(to_replace='6', value="Assam",inplace=True)
df_2010['state_code'].replace(to_replace='7', value="Jharkhand",inplace=True)
df_2010['state_code'].replace(to_replace='8' ,value="Bihar",inplace=True)
df_2010['state_code'].replace(to_replace='9' ,value="Rajasthan",inplace=True)
df_2010['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df_2010['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df_2010['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df_2010['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df_2010['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df_2010['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df_2010['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df_2010['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df_2010['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df_2010['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df_2010['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df_2010['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df_2010['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df_2010['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df_2010['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df_2010['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df_2010['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df_2010['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df_2010['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df_2010['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df_2010['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df_2010['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df_2010['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

def create_new_column(row):
    if pd.isnull(row['date_next_list']):
        return 1
    else:
        return 0

df_2010['pending'] = df_2010.apply(create_new_column, axis=1)

In [16]:
df_pandas2 = df_2010["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
df_pandas2['state_code']=df_pandas2['state_code'].sort_values()
df_pandas2.rename(columns={"index": "state", "state_code": "cases_count"}, inplace=True)

df_pandas2

            state  cases_count
0     Maharashtra       866279
1  Andhra Pradesh       119359
2       Karnataka        62937

In [15]:
df_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   criminal          841833 non-null   object
 1   year              1048575 non-null  object
 2   state_code        1048575 non-null  object
 3   disp_name         1048575 non-null  object
 4   date_of_filing    1048575 non-null  object
 5   date_of_decision  981884 non-null   object
 6   date_first_list   1027122 non-null  object
 7   date_last_list    1048575 non-null  object
 8   date_next_list    1015373 non-null  object
 9   pending           1048575 non-null  int64
dtypes: int64(1), object(9)
memory usage: 80.0+ MB

In [16]:
df_2010['filing'] = pd.to_datetime(df_2010['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

df_2010['first_list'] = pd.to_datetime(df_2010['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

df_2010['decision'] = pd.to_datetime(df_2010['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df_2010['last_list'] = pd.to_datetime(df_2010['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
df_2010['date_next_list'] = pd.to_datetime(df_2010['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 


df_2010['closing'] = df_2010['date_next_list'].dt.year

df_2010['closing']=df_2010['closing'].fillna('1900')

In [17]:
df_2010=df_2010.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

In [18]:
df_2010['file_reachcourt'] =(df_2010['first_list']-df_2010['filing']).dt.days
df_2010['file_end'] =(df_2010['last_list']-df_2010['filing']).dt.days
df_2010['decision_end'] =(df_2010['last_list']-df_2010['decision']).dt.days

In [19]:
df_2010=df_2010.drop(columns=['first_list','decision','last_list'])

In [20]:
def replace_negatives(x):
    if x < 0:
        return -1
    return x
df_2010['file_reachcourt']=df_2010['file_reachcourt'].apply(replace_negatives)

In [21]:
df_2010['file_end']=df_2010['file_end'].apply(replace_negatives)
df_2010['decision_end']=df_2010['decision_end'].apply(replace_negatives)

In [22]:
df_2010

,criminal,year,state_code,disp_name,date_last_list,pending,filing,closing,file_reachcourt,file_end,decision_end
0,0,2010,Maharashtra,25,2011-02-28,0,2010-04-20,2011.0,64.0,345.0,0.0
1,1,2010,Maharashtra,22,2013-06-12,0,2010-02-11,2013.0,28.0,1236.0,0.0
2,1,2010,Maharashtra,25,2012-12-26,0,2010-02-15,2013.0,28.0,1079.0,0.0
3,1,2010,Maharashtra,25,2010-12-27,0,2010-04-21,2011.0,19.0,264.0,0.0
4,1,2010,Maharashtra,25,2011-05-31,0,2010-04-23,2011.0,36.0,437.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,None,2010,Karnataka,19,2012-03-11,0,2010-06-29,2012.0,NaN,622.0,0.0
1048571,None,2010,Karnataka,13,2011-10-15,0,2010-04-05,2011.0,395.0,565.0,0.0
1048572,None,2010,Karnataka,4,2012-10-08,0,2010-07-21,2012.0,350.0,811.0,0.0
1048573,None,2010,Karnataka,4,2016-04-27,0,2010-07-24,2016.0,240.0,2104.0,0.0
1048574,None,2010,Karnataka,4,2013-09-16,0,2010-08-06,2013.0,389.0,1139.0,0.0

In [23]:
df_2010['criminal'].unique()
df_2010['criminal'].replace(to_replace='0',value='criminal',inplace=True)
df_2010['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

In [24]:
df_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   criminal         841833 non-null   object
 1   year             1048575 non-null  object
 2   state_code       1048575 non-null  object
 3   disp_name        1048575 non-null  object
 4   date_last_list   1048575 non-null  object
 5   pending          1048575 non-null  int64
 6   filing           1048575 non-null  datetime64[ns]
 7   closing          1048575 non-null  object
 8   file_reachcourt  1027119 non-null  float64
 9   file_end         1015218 non-null  float64
 10  decision_end     948859 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 88.0+ MB

In [25]:
import numpy as np

In [26]:
df_2010['file_reachcourt'] = pd.to_numeric(df_2010['file_reachcourt'], errors='coerce')

# Fill the missing and infinite values with -1
df_2010['file_reachcourt'] = df_2010['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_reachcourt' column to integers
df_2010['file_reachcourt'] = df_2010['file_reachcourt'].astype(int)

In [27]:
df_2010['file_end'] = pd.to_numeric(df_2010['file_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2010['file_end'] = df_2010['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_end ' column to integers
df_2010['file_end'] = df_2010['file_end'].astype(int)

In [28]:
df_2010['decision_end'] = pd.to_numeric(df_2010['decision_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2010['decision_end'] = df_2010['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'decision_end' column to integers
df_2010['decision_end'] = df_2010['decision_end'].astype(int)

In [29]:
df_2010.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   criminal         841833 non-null   object
 1   year             1048575 non-null  object
 2   state_code       1048575 non-null  object
 3   disp_name        1048575 non-null  object
 4   date_last_list   1048575 non-null  object
 5   pending          1048575 non-null  int64
 6   filing           1048575 non-null  datetime64[ns]
 7   closing          1048575 non-null  object
 8   file_reachcourt  1048575 non-null  int64
 9   file_end         1048575 non-null  int64
 10  decision_end     1048575 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 88.0+ MB

In [30]:
df_2010

,criminal,year,state_code,disp_name,date_last_list,pending,filing,closing,file_reachcourt,file_end,decision_end
0,criminal,2010,Maharashtra,25,2011-02-28,0,2010-04-20,2011.0,64,345,0
1,Non-criminal,2010,Maharashtra,22,2013-06-12,0,2010-02-11,2013.0,28,1236,0
2,Non-criminal,2010,Maharashtra,25,2012-12-26,0,2010-02-15,2013.0,28,1079,0
3,Non-criminal,2010,Maharashtra,25,2010-12-27,0,2010-04-21,2011.0,19,264,0
4,Non-criminal,2010,Maharashtra,25,2011-05-31,0,2010-04-23,2011.0,36,437,0
...,...,...,...,...,...,...,...,...,...,...,...
1048570,None,2010,Karnataka,19,2012-03-11,0,2010-06-29,2012.0,-1,622,0
1048571,None,2010,Karnataka,13,2011-10-15,0,2010-04-05,2011.0,395,565,0
1048572,None,2010,Karnataka,4,2012-10-08,0,2010-07-21,2012.0,350,811,0
1048573,None,2010,Karnataka,4,2016-04-27,0,2010-07-24,2016.0,240,2104,0
1048574,None,2010,Karnataka,4,2013-09-16,0,2010-08-06,2013.0,389,1139,0

In [31]:
df_2010['decision_end'].unique()

array([   0,   -1,    2, ..., 1215, 1099, 1150])

In [32]:
# df_2010['criminal'] = df_2010['criminal'].fillna(-1)

In [33]:
# del temp
# del non_criminal_count_2010

In [34]:
#criminal count
temp=df_2010
temp2=df_2010
temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)

In [35]:
temp_criminal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 742305 entries, 0 to 1048574
Data columns (total 11 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   criminal         535563 non-null  object
 1   year             742305 non-null  object
 2   state_code       742305 non-null  object
 3   disp_name        742305 non-null  object
 4   date_last_list   742305 non-null  object
 5   pending          742305 non-null  int64
 6   filing           742305 non-null  datetime64[ns]
 7   closing          742305 non-null  object
 8   file_reachcourt  742305 non-null  int64
 9   file_end         742305 non-null  int64
 10  decision_end     742305 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 68.0+ MB

# Criminal_count in 2010

In [36]:
criminal_count_2010 = temp_criminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
criminal_count_2010['state_code']=criminal_count_2010['state_code'].sort_values()
criminal_count_2010.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

criminal_count_2010

criminal_count_2010.info()

new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


criminal_count_2010= pd.concat([new_rows, criminal_count_2010], ignore_index=True)


criminal_count_2010['state']=criminal_count_2010['state'].sort_values()


criminal_count_2010=criminal_count_2010.sort_values(by='state')

criminal_count_2010.insert(2, 'Year', 2010)


criminal_count_2010=criminal_count_2010.reset_index()

criminal_count_2010=criminal_count_2010.drop(columns=['index'])

del temp_criminal

criminal_count_2010


criminal_count_2010['criminal_perlakh']=criminal_count_2010['criminal_count']/100000

non_criminal_count_2010 = temp_noncriminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
non_criminal_count_2010['state_code']=non_criminal_count_2010['state_code'].sort_values()
non_criminal_count_2010.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

non_criminal_count_2010

non_criminal_count_2010.info()

new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


non_criminal_count_2010= pd.concat([new_rows, non_criminal_count_2010], ignore_index=True)


non_criminal_count_2010['state']=non_criminal_count_2010['state'].sort_values()


non_criminal_count_2010=non_criminal_count_2010.sort_values(by='state')

# non_criminal_count_2010.insert(2, 'Year', 2010)


non_criminal_count_2010=non_criminal_count_2010.reset_index()

non_criminal_count_2010=non_criminal_count_2010.drop(columns=['index'])
non_criminal_count_2010

df_criminal_not=pd.merge(criminal_count_2010,non_criminal_count_2010,on='state')

df_criminal_not

df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

df_criminal_not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           3 non-null      object
 1   criminal_count  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              3 non-null      object
 1   noncriminal_count  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 176.0+ bytes

,state,criminal_count,Year,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,Andhra Pradesh,88892,2010,0.88892,46002,0.46002
1,Assam,0,2010,0.00000,0,0.00000
2,Bihar,0,2010,0.00000,0,0.00000
3,Chandigarh,0,2010,0.00000,0,0.00000
4,Chattisgarh,0,2010,0.00000,0,0.00000
5,DNH at silvasa,0,2010,0.00000,0,0.00000
6,Delhi,0,2010,0.00000,0,0.00000
7,Diu and daman,0,2010,0.00000,0,0.00000
8,Goa,0,2010,0.00000,0,0.00000
9,Gujarath,0,2010,0.00000,0,0.00000
10,Haryana,0,2010,0.00000,0,0.00000
11,Himachal Pradesh,0,2010,0.00000,0,0.00000
12,Jammu and kashmir,0,2010,0.00000,0,0.00000
13,Jharkhand,0,2010,0.00000,0,0.00000
14,Karnataka,56115,2010,0.56115,38972,0.38972
15,Kerala,0,2010,0.00000,0,0.00000
16,Ladakh,0,2010,0.00000,0,0.00000
17,Madhya Pradesh,0,2010,0.00000,0,0.00000
18,Maharashtra,597298,2010,5.97298,428038,4.28038
19,Manipur,0,2010,0.00000,0,0.00000
20,Meghalaya,0,2010,0.00000,0,0.00000
21,Mizoram,0,2010,0.00000,0,0.00000
22,Orissa,0,2010,0.00000,0,0.00000
23,Punjab,0,2010,0.00000,0,0.00000
24,Rajasthan,0,2010,0.00000,0,0.00000
25,Sikkim,0,2010,0.00000,0,0.00000
26,Tamilnadu,0,2010,0.00000,0,0.00000
27,Telangana,0,2010,0.00000,0,0.00000
28,Tripura,0,2010,0.00000,0,0.00000
29,Uttar pradesh,0,2010,0.00000,0,0.00000
30,Uttarakhand,0,2010,0.00000,0,0.00000
31,West Bengal,0,2010,0.00000,0,0.00000

In [37]:
# criminal_count_2010 = temp_criminal["state_code"].value_counts().reset_index()

# # Rename the "index" and "Year" columns
# criminal_count_2010['state_code']=criminal_count_2010['state_code'].sort_values()
# criminal_count_2010.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

# criminal_count_2010

In [38]:
# criminal_count_2010.info()

In [39]:
# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

In [40]:
# criminal_count_2010= pd.concat([new_rows, criminal_count_2010], ignore_index=True)

In [41]:
# criminal_count_2010['state']=criminal_count_2010['state'].sort_values()

In [42]:
# criminal_count_2010=criminal_count_2010.sort_values(by='state')

In [43]:
# criminal_count_2010.insert(2, 'Year', 2010)

In [44]:
# criminal_count_2010=criminal_count_2010.reset_index()

In [45]:
# criminal_count_2010=criminal_count_2010.drop(columns=['index'])

In [46]:
# del temp_criminal

In [47]:
# criminal_count_2010

In [48]:
# criminal_count_2010['criminal_perlakh']=criminal_count_2010['criminal_count']/100000

In [49]:
# non_criminal_count_2010 = temp_noncriminal["state_code"].value_counts().reset_index()

# # Rename the "index" and "Year" columns
# non_criminal_count_2010['state_code']=non_criminal_count_2010['state_code'].sort_values()
# non_criminal_count_2010.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

# non_criminal_count_2010

# non_criminal_count_2010.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# non_criminal_count_2010= pd.concat([new_rows, non_criminal_count_2010], ignore_index=True)


# non_criminal_count_2010['state']=non_criminal_count_2010['state'].sort_values()


# non_criminal_count_2010=non_criminal_count_2010.sort_values(by='state')

# # non_criminal_count_2010.insert(2, 'Year', 2010)


# non_criminal_count_2010=non_criminal_count_2010.reset_index()

# non_criminal_count_2010=non_criminal_count_2010.drop(columns=['index'])
# non_criminal_count_2010

In [50]:
# df_criminal_not=pd.merge(criminal_count_2010,non_criminal_count_2010,on='state')

In [51]:
# df_criminal_not

In [52]:
# df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

In [53]:
# df_criminal_not

# Pending Cases in 2010

In [54]:
# del temp
# temp=df_2010

In [55]:
# temp=temp.drop(temp[temp['pending']==0].index)

In [56]:
# pending_Cases_2010 = temp["state_code"].value_counts().reset_index()

# # Rename the "index" and "Year" columns
# pending_Cases_2010['state_code']=pending_Cases_2010['state_code'].sort_values()
# pending_Cases_2010.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
# new_rows_pending = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'pendingcases_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# pending_Cases_2010= pd.concat([new_rows_pending, pending_Cases_2010], ignore_index=True)

# pending_Cases_2010

In [57]:

# pending_Cases_2010=pending_Cases_2010.sort_values(by='state')

In [58]:
# pending_Cases_2010.info()

In [59]:
# pending_Cases_2010=pending_Cases_2010.reset_index()

In [60]:
# pending_Cases_2010=pending_Cases_2010.drop(columns=['index'])

In [61]:
# pending_Cases_2010.info()

In [62]:
# del df_pending

In [65]:
df_pending=dp

df_pending = df_pending.drop(col("dist_code"))
df_pending = df_pending.drop(col("ddl_case_id"))
df_pending = df_pending.drop(col("court_no"))
df_pending = df_pending.drop(col("cino"))
df_pending = df_pending.drop(col("judge_position"))
df_pending = df_pending.drop(col("female_defendant"))
df_pending = df_pending.drop(col("female_petitioner"))
df_pending = df_pending.drop(col("female_adv_def"))
df_pending = df_pending.drop(col("female_adv_pet"))
df_pending = df_pending.drop(col("type_name"))
df_pending = df_pending.drop(col("purpose_name"))
df_pending = df_pending.drop(col("disp_name"))
df_pending = df_pending.drop(col("date_last_list"))
df_pending = df_pending.drop(col("date_first_list"))


df_pending

df = df_pending.toPandas()

df['date_of_filing'] = pd.to_datetime(df['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 


df['date_of_decision'] = pd.to_datetime(df['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df['date_next_list'] = pd.to_datetime(df['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 



# df['file_end'] =(df['date_next_list']-df['date_of_filing']).dt.year
df.info()

df['closing'] = df['date_next_list'].dt.year
df['filing'] = df['date_of_filing'].dt.year


df=df.drop(columns=['date_of_filing','date_of_decision','date_next_list'])

df['closing']=df['closing'].fillna('1900')


df['closing']=df['closing'].astype(int)
df['filing']=df['filing'].astype(int)

df

df.info()

df = df[~df['closing'].isin([2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022])]


df

df['pending_years']=df['closing']-df['filing']

df


df['filing'].unique()

df=df.drop(columns=['filing','closing'])

df=df.reset_index()

df=df.drop(columns=['index'])
df

df['state_code'].replace(to_replace='1', value="Maharashtra",inplace=True)
df['state_code'].replace(to_replace='2' ,value="Andhra Pradesh",inplace=True)
df['state_code'].replace(to_replace='3' ,value="Karnataka",inplace=True)
df['state_code'].replace(to_replace='4', value="Kerala",inplace=True)
df['state_code'].replace(to_replace='5' ,value="Himachal Pradesh",inplace=True)
df['state_code'].replace(to_replace='6', value="Assam",inplace=True)
df['state_code'].replace(to_replace='7', value="Jharkhand",inplace=True)
df['state_code'].replace(to_replace='8' ,value="Bihar",inplace=True)
df['state_code'].replace(to_replace='9' ,value="Rajasthan",inplace=True)
df['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

df

df_pending = df["state_code"].value_counts().reset_index()


df_pending

df_pending['state_code']=df_pending['state_code'].sort_values()
df_pending.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
new_rows_pending = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'pendingcases_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
df_pending= pd.concat([new_rows_pending, df_pending], ignore_index=True)
df_pending

df_pending['pending_casesperlakh']=df_pending['pendingcases_count']/100000
df_pending.insert(3, 'Year', 2010)

df_pending

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   year              1048575 non-null  object
 1   state_code        1048575 non-null  object
 2   date_of_filing    1048575 non-null  datetime64[ns]
 3   date_of_decision  981873 non-null   datetime64[ns]
 4   date_next_list    1015218 non-null  datetime64[ns]
dtypes: datetime64[ns](3), object(2)
memory usage: 40.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   year        1048575 non-null  object
 1   state_code  1048575 non-null  object
 2   closing     1048575 non-null  int64
 3   filing      1048575 non-null  int64
dtypes: int64(2), object(2)
memory usage: 32.0+ MB

                state  pendingcases_count  pending_casesperlakh  Year
0              Kerala                   0               0.00000  2010
1    Himachal Pradesh                   0               0.00000  2010
2               Assam                   0               0.00000  2010
3           Jharkhand                   0               0.00000  2010
4               Bihar                   0               0.00000  2010
5           Rajasthan                   0               0.00000  2010
6           Tamilnadu                   0               0.00000  2010
7              Orissa                   0               0.00000  2010
8   Jammu and kashmir                   0               0.00000  2010
9       Uttar pradesh                   0               0.00000  2010
10            Haryana                   0               0.00000  2010
11        Uttarakhand                   0               0.00000  2010
12        West Bengal                   0               0.00000  2010
13           Gujarath                   0               0.00000  2010
14        Chattisgarh                   0               0.00000  2010
15            Mizoram                   0               0.00000  2010
16            Tripura                   0               0.00000  2010
17          Meghalaya                   0               0.00000  2010
18             Punjab                   0               0.00000  2010
19     Madhya Pradesh                   0               0.00000  2010
20             Sikkim                   0               0.00000  2010
21            Manipur                   0               0.00000  2010
22              Delhi                   0               0.00000  2010
23         Chandigarh                   0               0.00000  2010
24          Telangana                   0               0.00000  2010
25                Goa                   0               0.00000  2010
26      Diu and daman                   0               0.00000  2010
27     DNH at silvasa                   0               0.00000  2010
28             Ladakh                   0               0.00000  2010
29        Maharashtra               25128               0.25128  2010
30          Karnataka                8083               0.08083  2010
31     Andhra Pradesh                 200               0.00200  2010

# Average Time to reach court after filing per 1 lakh cases

In [66]:
# del temp
# temp=df_2010

In [67]:
# avg_file_court=temp.drop(temp[temp['file_reachcourt'] < 0].index)
# # del avg_file_court

In [68]:
# avg_file_court

In [69]:
# # filing_reach = df["file_reachcourt"].value_counts().reset_index()
# avg_file_court = avg_file_court.groupby('state_code')
# # df_mean = filing_reach['file_reachcourt'].mean()

# def avg_days(group,column):
#     return group[column].mean() / group[column].count() * 100000

# df_avg_days = avg_file_court.apply(avg_days,"file_reachcourt")

# # # Rename the "index" and "Year" columns
# # year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# # year_counts_end
# df_avg_days.info()
# del avg_file_court

In [70]:
# file_court_avg=df_avg_days.to_frame().reset_index()

# # pandas_s.info()
# file_court_avg.rename(columns={"state_code": "state", 0: "avg_filecourt_per1lakhcases"}, inplace=True)
# file_court_avg

In [71]:
# new_rows_file_court_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_filecourt_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_court_avg= pd.concat([new_rows_file_court_avg, file_court_avg], ignore_index=True)

# file_court_avg
# del df_avg_days

In [72]:

# file_court_avg=file_court_avg.sort_values(by='state')

In [73]:
# file_court_avg.info()

In [74]:
# file_court_avg

In [75]:

# file_court_avg=file_court_avg.reset_index()
# file_court_avg=file_court_avg.drop(columns=['index'])  


# file_court_avg.info()

# file_court_avg.insert(2, 'Year', 2010)


# file_court_avg

In [76]:
# file_court_avg['avg_filecourt_per1lakhcases']=file_court_avg['avg_filecourt_per1lakhcases'].astype(int)

In [77]:
del temp
temp=df_2010

avg_file_court=temp.drop(temp[temp['file_reachcourt'] < 0].index)
# del avg_file_court

avg_file_court

# filing_reach = df["file_reachcourt"].value_counts().reset_index()
avg_file_court = avg_file_court.groupby('state_code')
# df_mean = filing_reach['file_reachcourt'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_court.apply(avg_days,"file_reachcourt")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()
del avg_file_court

file_court_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_court_avg.rename(columns={"state_code": "state", 0: "avg_filecourt_per1lakhcases"}, inplace=True)
file_court_avg

new_rows_file_court_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_filecourt_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

file_court_avg= pd.concat([new_rows_file_court_avg, file_court_avg], ignore_index=True)

file_court_avg
del df_avg_days


file_court_avg=file_court_avg.sort_values(by='state')




file_court_avg.info()



file_court_avg


file_court_avg=file_court_avg.reset_index()
file_court_avg=file_court_avg.drop(columns=['index'])  


file_court_avg.info()

file_court_avg.insert(2, 'Year', 2010)


file_court_avg

file_court_avg['avg_filecourt_per1lakhcases']=file_court_avg['avg_filecourt_per1lakhcases'].astype(int)

file_court_avg

<class 'pandas.core.series.Series'>
Index: 3 entries, Andhra Pradesh to Maharashtra
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      float64
dtypes: float64(1)
memory usage: 48.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 29 to 12
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

                state  avg_filecourt_per1lakhcases  Year
0      Andhra Pradesh                          353  2010
1               Assam                            0  2010
2               Bihar                            0  2010
3          Chandigarh                            0  2010
4         Chattisgarh                            0  2010
5      DNH at silvasa                            0  2010
6               Delhi                            0  2010
7       Diu and daman                            0  2010
8                 Goa                            0  2010
9            Gujarath                            0  2010
10            Haryana                            0  2010
11   Himachal Pradesh                            0  2010
12  Jammu and kashmir                            0  2010
13          Jharkhand                            0  2010
14          Karnataka                          751  2010
15             Kerala                            0  2010
16             Ladakh                            0  2010
17     Madhya Pradesh                            0  2010
18        Maharashtra                           14  2010
19            Manipur                            0  2010
20          Meghalaya                            0  2010
21            Mizoram                            0  2010
22             Orissa                            0  2010
23             Punjab                            0  2010
24          Rajasthan                            0  2010
25             Sikkim                            0  2010
26          Tamilnadu                            0  2010
27          Telangana                            0  2010
28            Tripura                            0  2010
29      Uttar pradesh                            0  2010
30        Uttarakhand                            0  2010
31        West Bengal                            0  2010

# Average Time to End case after filing per 1 lakh cases in 2010

In [78]:
del temp
temp=df_2010

avg_file_end=temp.drop(temp[temp['file_end'] < 0].index)
# del avg_file_end

avg_file_end

# filing_reach = df["file_end"].value_counts().reset_index()
avg_file_end = avg_file_end.groupby('state_code')
# df_mean = filing_reach['file_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_end.apply(avg_days,"file_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days

file_End_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_End_avg.rename(columns={"state_code": "state", 0: "avg_fileend_per1lakhcases"}, inplace=True)
file_End_avg

new_rows_file_End_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_fileend_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

file_End_avg= pd.concat([new_rows_file_End_avg, file_End_avg], ignore_index=True)

file_End_avg


file_End_avg=file_End_avg.sort_values(by='state')




file_End_avg.info()



file_End_avg


file_End_avg=file_End_avg.reset_index()
file_End_avg=file_End_avg.drop(columns=['index'])  


file_End_avg.info()

file_End_avg.insert(2, 'Year', 2010)


file_End_avg

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg
del avg_file_end
del df_avg_days

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 29 to 12
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

# Average Time to End case after decision per 1 lakh cases in 2010

In [79]:
del temp
temp=df_2010

avg_decision_end=temp.drop(temp[temp['decision_end'] < 0].index)
# del avg_decision_end

avg_decision_end

# filing_reach = df["decision_end"].value_counts().reset_index()
avg_decision_end = avg_decision_end.groupby('state_code')
# df_mean = filing_reach['decision_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_decision_end.apply(avg_days,"decision_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()

decision_end_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
decision_end_avg.rename(columns={"state_code": "state", 0: "avg_decision_end_per1lakhcases"}, inplace=True)
decision_end_avg

new_rows_decision_end_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_decision_end_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

decision_end_avg= pd.concat([new_rows_decision_end_avg, decision_end_avg], ignore_index=True)

decision_end_avg


decision_end_avg=decision_end_avg.sort_values(by='state')




decision_end_avg.info()



decision_end_avg


decision_end_avg=decision_end_avg.reset_index()
decision_end_avg=decision_end_avg.drop(columns=['index'])  


decision_end_avg.info()

decision_end_avg.insert(2, 'Year', 2010)


decision_end_avg

decision_end_avg['avg_decision_end_per1lakhcases']=decision_end_avg['avg_decision_end_per1lakhcases'].astype(int)

decision_end_avg
del df_avg_days
del avg_decision_end

<class 'pandas.core.series.Series'>
Index: 3 entries, Andhra Pradesh to Maharashtra
Series name: None
Non-Null Count  Dtype
--------------  -----
3 non-null      float64
dtypes: float64(1)
memory usage: 48.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 29 to 12
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

# Withdrawal cases in 2010 per state

In [80]:
del temp
temp=df_2010

withdrawal=temp[temp['disp_name'] == '51']
# del avg_decision_end

# withdrawal
withdrawal = withdrawal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
withdrawal['state_code']=withdrawal['state_code'].sort_values()
withdrawal.rename(columns={"index": "state", "state_code": "withdrawal_count"}, inplace=True)
new_rows_withdrawal = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'withdrawal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

withdrawal

withdrawal= pd.concat([new_rows_withdrawal, withdrawal], ignore_index=True)

withdrawal


withdrawal=withdrawal.sort_values(by='state')




withdrawal.info()



withdrawal


withdrawal=withdrawal.reset_index()
withdrawal=withdrawal.drop(columns=['index'])  


withdrawal.info()

withdrawal.insert(2, 'Year', 2010)


withdrawal

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 30 to 12
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  withdrawal_count  Year
0      Andhra Pradesh              1332  2010
1               Assam                 0  2010
2               Bihar                 0  2010
3          Chandigarh                 0  2010
4         Chattisgarh                 0  2010
5      DNH at silvasa                 0  2010
6               Delhi                 0  2010
7       Diu and daman                 0  2010
8                 Goa                 0  2010
9            Gujarath                 0  2010
10            Haryana                 0  2010
11   Himachal Pradesh                 0  2010
12  Jammu and kashmir                 0  2010
13          Jharkhand                 0  2010
14          Karnataka               626  2010
15             Kerala                 0  2010
16             Ladakh                 0  2010
17     Madhya Pradesh                 0  2010
18        Maharashtra             17934  2010
19            Manipur                 0  2010
20          Meghalaya                 0  2010
21            Mizoram                 0  2010
22             Orissa                 0  2010
23             Punjab                 0  2010
24          Rajasthan                 0  2010
25             Sikkim                 0  2010
26          Tamilnadu                 0  2010
27          Telangana                 0  2010
28            Tripura                 0  2010
29      Uttar pradesh                 0  2010
30        Uttarakhand                 0  2010
31        West Bengal                 0  2010

# Prison disposed cases in 2010 per state

In [81]:
del temp
temp=df_2010

prison_2010=temp[temp['disp_name'] == '38']
# del avg_decision_end

prison_2010
prison_2010 = prison_2010["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
prison_2010['state_code']=prison_2010['state_code'].sort_values()
prison_2010.rename(columns={"index": "state", "state_code": "prison_count"}, inplace=True)
new_rows_prison_2010 = pd.DataFrame({'state' : ['Andhra Pradesh','Maharashtra','Karnataka', 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'prison_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

prison_2010

prison_2010= pd.concat([new_rows_prison_2010, prison_2010], ignore_index=True)

prison_2010


prison_2010=prison_2010.sort_values(by='state')




prison_2010.info()



prison_2010


prison_2010=prison_2010.reset_index()
prison_2010=prison_2010.drop(columns=['index'])  


prison_2010.info()

prison_2010.insert(2, 'Year', 2010)


prison_2010

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 15
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  prison_count  Year
0      Andhra Pradesh             0  2010
1               Assam             0  2010
2               Bihar             0  2010
3          Chandigarh             0  2010
4         Chattisgarh             0  2010
5      DNH at silvasa             0  2010
6               Delhi             0  2010
7       Diu and daman             0  2010
8                 Goa             0  2010
9            Gujarath             0  2010
10            Haryana             0  2010
11   Himachal Pradesh             0  2010
12  Jammu and kashmir             0  2010
13          Jharkhand             0  2010
14          Karnataka             0  2010
15             Kerala             0  2010
16             Ladakh             0  2010
17     Madhya Pradesh             0  2010
18        Maharashtra             0  2010
19            Manipur             0  2010
20          Meghalaya             0  2010
21            Mizoram             0  2010
22             Orissa             0  2010
23             Punjab             0  2010
24          Rajasthan             0  2010
25             Sikkim             0  2010
26          Tamilnadu             0  2010
27          Telangana             0  2010
28            Tripura             0  2010
29      Uttar pradesh             0  2010
30        Uttarakhand             0  2010
31        West Bengal             0  2010

# Dismissed cases in 2010 per state

In [82]:
del temp
temp=df_2010

dismissed_2010=temp[temp['disp_name'] == '22']
# del avg_decision_end

# dismissed_2010
dismissed_2010 = dismissed_2010["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
dismissed_2010['state_code']=dismissed_2010['state_code'].sort_values()
dismissed_2010.rename(columns={"index": "state", "state_code": "dismissed_count"}, inplace=True)
new_rows_dismissed_2010 = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'dismissed_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

dismissed_2010

dismissed_2010= pd.concat([new_rows_dismissed_2010, dismissed_2010], ignore_index=True)

dismissed_2010


dismissed_2010=dismissed_2010.sort_values(by='state')




dismissed_2010.info()



dismissed_2010


dismissed_2010=dismissed_2010.reset_index()
dismissed_2010=dismissed_2010.drop(columns=['index'])  


dismissed_2010.info()

dismissed_2010.insert(2, 'Year', 2010)


dismissed_2010

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 30 to 12
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            32 non-null     object
 1   dismissed_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            32 non-null     object
 1   dismissed_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  dismissed_count  Year
0      Andhra Pradesh            27690  2010
1               Assam                0  2010
2               Bihar                0  2010
3          Chandigarh                0  2010
4         Chattisgarh                0  2010
5      DNH at silvasa                0  2010
6               Delhi                0  2010
7       Diu and daman                0  2010
8                 Goa                0  2010
9            Gujarath                0  2010
10            Haryana                0  2010
11   Himachal Pradesh                0  2010
12  Jammu and kashmir                0  2010
13          Jharkhand                0  2010
14          Karnataka            11151  2010
15             Kerala                0  2010
16             Ladakh                0  2010
17     Madhya Pradesh                0  2010
18        Maharashtra            58186  2010
19            Manipur                0  2010
20          Meghalaya                0  2010
21            Mizoram                0  2010
22             Orissa                0  2010
23             Punjab                0  2010
24          Rajasthan                0  2010
25             Sikkim                0  2010
26          Tamilnadu                0  2010
27          Telangana                0  2010
28            Tripura                0  2010
29      Uttar pradesh                0  2010
30        Uttarakhand                0  2010
31        West Bengal                0  2010

In [83]:
df_merged=pd.merge(dismissed_2010,prison_2010,on='state')
df_merged=pd.merge(df_merged,withdrawal,on='state')
df_merged=pd.merge(df_merged,decision_end_avg,on='state')
df_merged=pd.merge(df_merged,file_End_avg,on='state')
df_merged=pd.merge(df_merged,file_court_avg,on='state')
df_merged=pd.merge(df_merged,df_pending,on='state')
df_merged=pd.merge(df_merged,df_criminal_not,on='state')

/tmp/ipykernel_4982/1103493085.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,decision_end_avg,on='state')
/tmp/ipykernel_4982/1103493085.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,file_court_avg,on='state')
/tmp/ipykernel_4982/1103493085.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,df_criminal_not,on='state')

In [84]:
df_merged

,state,dismissed_count,Year_x,prison_count,Year_y,withdrawal_count,Year_x,avg_decision_end_per1lakhcases,Year_y,avg_fileend_per1lakhcases,...,avg_filecourt_per1lakhcases,Year_y,pendingcases_count,pending_casesperlakh,Year_x,criminal_count,Year_y,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,Andhra Pradesh,27690,2010,0,2010,1332,2010,0,2010,888,...,353,2010,200,0.00200,2010,88892,2010,0.88892,46002,0.46002
1,Assam,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
2,Bihar,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
3,Chandigarh,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
4,Chattisgarh,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
5,DNH at silvasa,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
6,Delhi,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
7,Diu and daman,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
8,Goa,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
9,Gujarath,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
10,Haryana,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
11,Himachal Pradesh,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
12,Jammu and kashmir,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
13,Jharkhand,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
14,Karnataka,11151,2010,0,2010,626,2010,26,2010,1580,...,751,2010,8083,0.08083,2010,56115,2010,0.56115,38972,0.38972
15,Kerala,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
16,Ladakh,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
17,Madhya Pradesh,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
18,Maharashtra,58186,2010,0,2010,17934,2010,0,2010,118,...,14,2010,25128,0.25128,2010,597298,2010,5.97298,428038,4.28038
19,Manipur,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
20,Meghalaya,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
21,Mizoram,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
22,Orissa,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
23,Punjab,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
24,Rajasthan,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
25,Sikkim,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
26,Tamilnadu,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
27,Telangana,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
28,Tripura,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
29,Uttar pradesh,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
30,Uttarakhand,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000
31,West Bengal,0,2010,0,2010,0,2010,0,2010,0,...,0,2010,0,0.00000,2010,0,2010,0.00000,0,0.00000

In [85]:
df_merged=df_merged.drop(columns='Year_x')

In [86]:
df_merged=df_merged.drop(df_merged.columns[[3, 6, 9,13]],axis = 1)

In [87]:
df_merged['year']=[2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010]

In [88]:
df_merged

,state,dismissed_count,prison_count,withdrawal_count,avg_decision_end_per1lakhcases,avg_fileend_per1lakhcases,avg_filecourt_per1lakhcases,pendingcases_count,pending_casesperlakh,criminal_count,criminal_perlakh,noncriminal_count,noncriminal_perlakh,year
0,Andhra Pradesh,27690,0,1332,0,888,353,200,0.00200,88892,0.88892,46002,0.46002,2010
1,Assam,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
2,Bihar,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
3,Chandigarh,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
4,Chattisgarh,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
5,DNH at silvasa,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
6,Delhi,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
7,Diu and daman,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
8,Goa,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
9,Gujarath,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
10,Haryana,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
11,Himachal Pradesh,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
12,Jammu and kashmir,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
13,Jharkhand,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
14,Karnataka,11151,0,626,26,1580,751,8083,0.08083,56115,0.56115,38972,0.38972,2010
15,Kerala,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
16,Ladakh,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
17,Madhya Pradesh,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
18,Maharashtra,58186,0,17934,0,118,14,25128,0.25128,597298,5.97298,428038,4.28038,2010
19,Manipur,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
20,Meghalaya,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
21,Mizoram,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
22,Orissa,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
23,Punjab,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
24,Rajasthan,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
25,Sikkim,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
26,Tamilnadu,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
27,Telangana,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
28,Tripura,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
29,Uttar pradesh,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
30,Uttarakhand,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010
31,West Bengal,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000,2010

In [89]:
df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','pendingcases_count','criminal_count','pending_casesperlakh','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])

In [90]:
df_merged

,year,state,dismissed_count,prison_count,withdrawal_count,avg_decision_end_per1lakhcases,avg_fileend_per1lakhcases,avg_filecourt_per1lakhcases,pendingcases_count,criminal_count,pending_casesperlakh,criminal_count,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,2010,Andhra Pradesh,27690,0,1332,0,888,353,200,88892,0.00200,88892,0.88892,46002,0.46002
1,2010,Assam,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
2,2010,Bihar,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
3,2010,Chandigarh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
4,2010,Chattisgarh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
5,2010,DNH at silvasa,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
6,2010,Delhi,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
7,2010,Diu and daman,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
8,2010,Goa,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
9,2010,Gujarath,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
10,2010,Haryana,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
11,2010,Himachal Pradesh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
12,2010,Jammu and kashmir,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
13,2010,Jharkhand,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
14,2010,Karnataka,11151,0,626,26,1580,751,8083,56115,0.08083,56115,0.56115,38972,0.38972
15,2010,Kerala,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
16,2010,Ladakh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
17,2010,Madhya Pradesh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
18,2010,Maharashtra,58186,0,17934,0,118,14,25128,597298,0.25128,597298,5.97298,428038,4.28038
19,2010,Manipur,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
20,2010,Meghalaya,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
21,2010,Mizoram,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
22,2010,Orissa,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
23,2010,Punjab,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
24,2010,Rajasthan,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
25,2010,Sikkim,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
26,2010,Tamilnadu,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
27,2010,Telangana,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
28,2010,Tripura,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
29,2010,Uttar pradesh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
30,2010,Uttarakhand,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
31,2010,West Bengal,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000

In [91]:
df_merged_2010=df_merged

In [92]:
df_merged

,year,state,dismissed_count,prison_count,withdrawal_count,avg_decision_end_per1lakhcases,avg_fileend_per1lakhcases,avg_filecourt_per1lakhcases,pendingcases_count,criminal_count,pending_casesperlakh,criminal_count,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,2010,Andhra Pradesh,27690,0,1332,0,888,353,200,88892,0.00200,88892,0.88892,46002,0.46002
1,2010,Assam,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
2,2010,Bihar,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
3,2010,Chandigarh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
4,2010,Chattisgarh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
5,2010,DNH at silvasa,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
6,2010,Delhi,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
7,2010,Diu and daman,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
8,2010,Goa,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
9,2010,Gujarath,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
10,2010,Haryana,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
11,2010,Himachal Pradesh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
12,2010,Jammu and kashmir,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
13,2010,Jharkhand,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
14,2010,Karnataka,11151,0,626,26,1580,751,8083,56115,0.08083,56115,0.56115,38972,0.38972
15,2010,Kerala,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
16,2010,Ladakh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
17,2010,Madhya Pradesh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
18,2010,Maharashtra,58186,0,17934,0,118,14,25128,597298,0.25128,597298,5.97298,428038,4.28038
19,2010,Manipur,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
20,2010,Meghalaya,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
21,2010,Mizoram,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
22,2010,Orissa,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
23,2010,Punjab,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
24,2010,Rajasthan,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
25,2010,Sikkim,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
26,2010,Tamilnadu,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
27,2010,Telangana,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
28,2010,Tripura,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
29,2010,Uttar pradesh,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
30,2010,Uttarakhand,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000
31,2010,West Bengal,0,0,0,0,0,0,0,0,0.00000,0,0.00000,0,0.00000

In [93]:
del df_merged

In [94]:
del dismissed_2010
del prison_2010
del withdrawal
del file_End_avg
del file_court_avg
del df_pending
del criminal_count_2010
del df1
del non_criminal_count_2010

In [95]:
df_merged_2010.to_csv('2010_filtered.csv', index=False)