In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '14g') \
    .config('spark.driver.memory', '50g') \
    .getOrCreate()
# spark = SparkSession.builder.appName('Read CSV File into DataFrame').getOrCreate()
from pyspark.sql.functions import col

# Load the data into a DataFrame
df_spark = spark.read.csv("/home/nirmala/Documents/precog_requirement_task/acts_sections.csv", header=True)

# Remove the 'act' from the DataFrame
df_spark = df_spark.drop(col("act"))

# Remove the 'section' from the DataFrame
df_spark = df_spark.drop(col("section"))

# Remove the 'bailable_ipc' from the DataFrame
df_spark = df_spark.drop(col("bailable_ipc"))

# Remove the 'number_sections_ipc' from the DataFrame
df_spark = df_spark.drop(col("number_sections_ipc"))
# Write the resulting DataFrame to a CSV file

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 17:00:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df1=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2011.csv" ,header=True)
dp=df1

In [3]:
# df_merged = df.join(df1, on=["ddl_case_id"], how="left").filter(col("ddl_case_id") == col("ddl_case_id"))
df_merged=df_spark.join(df1,
               df_spark.ddl_case_id == df1.ddl_case_id, 
               "right")

In [4]:
# df_merged.count()
# del df_spark
# df=pd.read_csv('/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2011.csv')
# df_merged.write.csv("2010.csv", mode="overwrite", header=True)

In [5]:
df_merged = df_merged.drop(col("dist_code"))

# Remove the 'section' from the DataFrame
df_merged = df_merged.drop(col("cino"))

# Remove the 'bailable_ipc' from the DataFrame
df_merged = df_merged.drop(col("court_no"))

# Remove the 'number_sections_ipc' from the DataFrame
df_merged = df_merged.drop(col("judge_position"))

df_merged = df_merged.drop(col("type_name"))

df_merged = df_merged.drop(col("purpose_name"))

df_merged = df_merged.drop(col("date_last_list"))

df_merged = df_merged.drop(col("female_adv_def"))

df_merged = df_merged.drop(col("female_petitioner"))

df_merged = df_merged.drop(col("female_adv_pet"))

df_merged = df_merged.drop(col("female_defendant"))

In [6]:
# json_string = df_merged.toJSON().collect()

# # Convert the JSON string to a Pandas DataFrame

In [7]:
df_pandas = df_merged.toPandas()

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving
ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

ValueError: Unable to parse datatype from schema. An error occurred while calling o74.schema

In [8]:
df_merged

DataFrame[ddl_case_id: string, criminal: string, ddl_case_id: string, year: string, state_code: string, disp_name: string, date_of_filing: string, date_of_decision: string, date_first_list: string, date_next_list: string]

In [9]:
del df_merged

In [10]:
df_pandas
df_pandas_copy=df_pandas

In [11]:

df_pandas=df_pandas.drop(df_pandas.columns[0], axis=1)

In [12]:
# df['decision'].unique()
# del df_2011

In [13]:
df_2011=df_pandas
del df_pandas

In [14]:
# df_2011=df_2011.drop(columns=["ddl_case_id","cino"])
df_2011['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df_2011['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df_2011['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df_2011['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df_2011['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df_2011['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df_2011['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df_2011['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df_2011['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df_2011['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df_2011['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df_2011['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df_2011['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df_2011['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df_2011['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df_2011['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df_2011['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df_2011['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df_2011['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df_2011['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df_2011['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df_2011['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df_2011['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df_2011['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df_2011['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df_2011['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df_2011['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df_2011['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df_2011['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df_2011['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df_2011['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df_2011['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

def create_new_column(row):
    if pd.isnull(row['date_next_list']):
        return 1
    else:
        return 0

df_2011['pending'] = df_2011.apply(create_new_column, axis=1)

In [15]:
# del df_2011

In [16]:
df_2011['filing'] = pd.to_datetime(df_2011['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

df_2011['first_list'] = pd.to_datetime(df_2011['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

df_2011['decision'] = pd.to_datetime(df_2011['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df_2011['last_list'] = pd.to_datetime(df_2011['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
df_2011['date_next_list'] = pd.to_datetime(df_2011['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 


df_2011['closing'] = df_2011['date_next_list'].dt.year

df_2011['closing']=df_2011['closing'].fillna('1900')


df_2011=df_2011.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

df_2011['file_reachcourt'] =(df_2011['first_list']-df_2011['filing']).dt.days
df_2011['file_end'] =(df_2011['last_list']-df_2011['filing']).dt.days
df_2011['decision_end'] =(df_2011['last_list']-df_2011['decision']).dt.days


df_2011=df_2011.drop(columns=['first_list','decision','last_list'])

def replace_negatives(x):
    if x < 0:
        return -1
    return x
df_2011['file_reachcourt']=df_2011['file_reachcourt'].apply(replace_negatives)


df_2011['file_end']=df_2011['file_end'].apply(replace_negatives)
df_2011['decision_end']=df_2011['decision_end'].apply(replace_negatives)


df_2011



df_2011['criminal'].unique()
df_2011['criminal'].replace(to_replace='0',value='criminal',inplace=True)
df_2011['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

df_2011.info()

import numpy as np


df_2011['file_reachcourt'] = pd.to_numeric(df_2011['file_reachcourt'], errors='coerce')

# Fill the missing and infinite values with -1
df_2011['file_reachcourt'] = df_2011['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_reachcourt' column to integers
df_2011['file_reachcourt'] = df_2011['file_reachcourt'].astype(int)

df_2011['file_end'] = pd.to_numeric(df_2011['file_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2011['file_end'] = df_2011['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_end ' column to integers
df_2011['file_end'] = df_2011['file_end'].astype(int)

df_2011['decision_end'] = pd.to_numeric(df_2011['decision_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2011['decision_end'] = df_2011['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'decision_end' column to integers
df_2011['decision_end'] = df_2011['decision_end'].astype(int)

df_2011.info()

df_2011

df_2011['decision_end'].unique()


# df_2011['criminal'] = df_2011['criminal'].fillna(-1)


# del temp
# del non_criminal_count_2011

#criminal count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208653 entries, 0 to 5208652
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   criminal         object
 1   year             object
 2   state_code       object
 3   disp_name        object
 4   pending          int64
 5   filing           datetime64[ns]
 6   closing          object
 7   file_reachcourt  float64
 8   file_end         float64
 9   decision_end     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 397.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208653 entries, 0 to 5208652
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   criminal         object
 1   year             object
 2   state_code       object
 3   disp_name        object
 4   pending          int64
 5   filing           datetime64[ns]
 6   closing          object
 7   file_reachcourt  int64
 8   file_end         int64
 9   decision_end     int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 397.4+ MB

array([   0,   -1,    1, ..., 1761, 7061, 3281])

In [17]:
temp=df_2011
temp2=df_2011
temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)  

temp_criminal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4202114 entries, 6 to 5208652
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   criminal         object
 1   year             object
 2   state_code       object
 3   disp_name        object
 4   pending          int64
 5   filing           datetime64[ns]
 6   closing          object
 7   file_reachcourt  int64
 8   file_end         int64
 9   decision_end     int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 352.7+ MB

In [18]:
df_2011['state_code'].unique()

array(['Maharashtra', 'Andhra Pradesh', 'Karnataka', 'Kerala',
       'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan',
       'Tamilnadu', 'Orissa', 'Jammu and kashmir', 'Uttar pradesh',
       'Haryana', 'Uttarakhand', 'West Bengal', 'Gujarath', 'Chattisgarh',
       'Mizoram', 'Tripura', 'Meghalaya', 'Punjab', 'Madhya Pradesh',
       'Sikkim', 'Manipur', 'Delhi', 'Chandigarh', 'Telangana', 'Goa',
       'Diu and daman', 'DNH at silvasa', 'Ladakh'], dtype=object)

In [19]:
# df_2011['filing'] = pd.to_datetime(df_2011['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

# df_2011['first_list'] = pd.to_datetime(df_2011['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

# df_2011['decision'] = pd.to_datetime(df_2011['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

# df_2011['last_list'] = pd.to_datetime(df_2011['date_next_list'], format='%Y-%m-%d',errors = 'coerce')

In [20]:
# df_2011=df_2011.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

In [21]:
# df_2011['file_reachcourt'] =(df_2011['first_list']-df_2011['filing']).dt.days
# df_2011['file_end'] =(df_2011['last_list']-df_2011['filing']).dt.days
# df_2011['decision_end'] =(df_2011['last_list']-df_2011['decision']).dt.days

In [22]:
# df_2011=df_2011.drop(columns=['filing','first_list','decision','last_list'])

In [23]:
# def replace_negatives(x):
#     if x < 0:
#         return -1
#     return x
# df_2011['file_reachcourt']=df_2011['file_reachcourt'].apply(replace_negatives)

In [24]:
# df_2011['file_end']=df_2011['file_end'].apply(replace_negatives)
# df_2011['decision_end']=df_2011['decision_end'].apply(replace_negatives)

In [25]:
# df_2011

In [26]:
# df_2010=df_2010.drop(columns=['date_last_list'])

In [27]:
# df_2011

In [28]:
# df_2011.info()

In [29]:
# import numpy as np

In [30]:
# df_2011['file_reachcourt'] = pd.to_numeric(df_2011['file_reachcourt'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2011['file_reachcourt'] = df_2011['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'file_reachcourt' column to integers
# df_2011['file_reachcourt'] = df_2011['file_reachcourt'].astype(int)

In [31]:
# df_2011['file_end'] = pd.to_numeric(df_2011['file_end'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2011['file_end'] = df_2011['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'file_end ' column to integers
# df_2011['file_end'] = df_2011['file_end'].astype(int)

In [32]:
# df_2011['decision_end'] = pd.to_numeric(df_2011['decision_end'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2011['decision_end'] = df_2011['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'decision_end' column to integers
# df_2011['decision_end'] = df_2011['decision_end'].astype(int)

In [33]:
# df_2011.info()

In [34]:
# df_2011

In [35]:
# df_2011['decision_end'].unique()

In [36]:

# df_2011['file_reachcourt']=df_2011['file_reachcourt'].fillna(-1)
# df_2011['file_end']=df_2011['file_end'].fillna(-1)
# df_2011['decision_end']=df_2011['decision_end'].fillna(-1)
# df_2011['file_reachcourt']=df_2011['file_reachcourt'].astype(int)
# df_2011['file_end']=df_2011['file_end'].astype(int)
# df_2011['decision_end']=df_2011['decision_end'].astype(int)

In [37]:
# df_2011

In [38]:
# #criminal count
# temp=df_2011
# temp_criminal= temp.drop(temp[temp['criminal']==-1].index)  
# temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']==0].index)

In [39]:
del df_criminal_not

NameError: name 'df_criminal_not' is not defined

# Criminal_count in 2011

In [40]:
criminal_count_2011 = temp_criminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
criminal_count_2011['state_code']=criminal_count_2011['state_code'].sort_values()
criminal_count_2011.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

criminal_count_2011

criminal_count_2011.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
# # new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# criminal_count_2011= pd.concat([new_rows, criminal_count_2011], ignore_index=True)


criminal_count_2011['state']=criminal_count_2011['state'].sort_values()


criminal_count_2011=criminal_count_2011.sort_values(by='state')

criminal_count_2011.insert(2, 'Year', 2011)


criminal_count_2011=criminal_count_2011.reset_index()

criminal_count_2011=criminal_count_2011.drop(columns=['index'])

# del temp_criminal



criminal_count_2011['criminal_perlakh']=criminal_count_2011['criminal_count']/100000
criminal_count_2011

non_criminal_count_2011 = temp_noncriminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
non_criminal_count_2011['state_code']=non_criminal_count_2011['state_code'].sort_values()
non_criminal_count_2011.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

non_criminal_count_2011

non_criminal_count_2011.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
# # new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# non_criminal_count_2011= pd.concat([new_rows, non_criminal_count_2011], ignore_index=True)


non_criminal_count_2011['state']=non_criminal_count_2011['state'].sort_values()


non_criminal_count_2011=non_criminal_count_2011.sort_values(by='state')

# non_criminal_count_2011.insert(2, 'Year', 2011)


non_criminal_count_2011=non_criminal_count_2011.reset_index()

non_criminal_count_2011=non_criminal_count_2011.drop(columns=['index'])
non_criminal_count_2011

df_criminal_not=pd.merge(criminal_count_2011,non_criminal_count_2011,on='state')

df_criminal_not

df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

df_criminal_not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           32 non-null     object
 1   criminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              32 non-null     object
 1   noncriminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

,state,criminal_count,Year,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,Andhra Pradesh,111527,2011,1.11527,63975,0.63975
1,Assam,39268,2011,0.39268,64451,0.64451
2,Bihar,77582,2011,0.77582,150137,1.50137
3,Chandigarh,12868,2011,0.12868,7768,0.07768
4,Chattisgarh,19985,2011,0.19985,21428,0.21428
5,DNH at silvasa,381,2011,0.00381,484,0.00484
6,Delhi,90602,2011,0.90602,69695,0.69695
7,Diu and daman,368,2011,0.00368,228,0.00228
8,Goa,22970,2011,0.22970,20242,0.20242
9,Gujarath,274008,2011,2.74008,165926,1.65926
10,Haryana,167458,2011,1.67458,157715,1.57715
11,Himachal Pradesh,43030,2011,0.43030,42655,0.42655
12,Jammu and kashmir,22992,2011,0.22992,16103,0.16103
13,Jharkhand,37744,2011,0.37744,49551,0.49551
14,Karnataka,590244,2011,5.90244,495933,4.95933
15,Kerala,172706,2011,1.72706,110921,1.10921
16,Ladakh,3,2011,0.00003,1,0.00001
17,Madhya Pradesh,291663,2011,2.91663,291739,2.91739
18,Maharashtra,599856,2011,5.99856,443382,4.43382
19,Manipur,1164,2011,0.01164,908,0.00908
20,Meghalaya,1174,2011,0.01174,1189,0.01189
21,Mizoram,637,2011,0.00637,624,0.00624
22,Orissa,85418,2011,0.85418,82017,0.82017
23,Punjab,160316,2011,1.60316,149057,1.49057
24,Rajasthan,228741,2011,2.28741,227705,2.27705
25,Sikkim,366,2011,0.00366,399,0.00399
26,Tamilnadu,209008,2011,2.09008,170864,1.70864
27,Telangana,75294,2011,0.75294,62594,0.62594
28,Tripura,6377,2011,0.06377,7574,0.07574
29,Uttar pradesh,692935,2011,6.92935,673549,6.73549
30,Uttarakhand,37423,2011,0.37423,21206,0.21206
31,West Bengal,128006,2011,1.28006,126422,1.26422

In [41]:
# criminal_count_2011.info()

In [42]:
# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
del temp_criminal

In [43]:
# criminal_count_2010= pd.concat([new_rows, criminal_count_2010], ignore_index=True)

In [44]:
# criminal_count_2011['state']=criminal_count_2011['state'].sort_values()

In [45]:
# criminal_count_2011=criminal_count_2011.sort_values(by='state')

In [46]:
# criminal_count_2011.insert(2, 'Year', 2011)

In [47]:
# criminal_count_2011=criminal_count_2011.reset_index()

In [48]:
# criminal_count_2011=criminal_count_2011.drop(columns=['index'])

# Pending Cases in 2010

In [49]:
# del temp
df_pending=dp

df_pending = df_pending.drop(col("dist_code"))
df_pending = df_pending.drop(col("ddl_case_id"))
df_pending = df_pending.drop(col("court_no"))
df_pending = df_pending.drop(col("cino"))
df_pending = df_pending.drop(col("judge_position"))
df_pending = df_pending.drop(col("female_defendant"))
df_pending = df_pending.drop(col("female_petitioner"))
df_pending = df_pending.drop(col("female_adv_def"))
df_pending = df_pending.drop(col("female_adv_pet"))
df_pending = df_pending.drop(col("type_name"))
df_pending = df_pending.drop(col("purpose_name"))
df_pending = df_pending.drop(col("disp_name"))
df_pending = df_pending.drop(col("date_last_list"))
df_pending = df_pending.drop(col("date_first_list"))


df_pending

DataFrame[year: string, state_code: string, date_of_filing: string, date_of_decision: string, date_next_list: string]

In [50]:
df = df_pending.toPandas()

In [51]:
df['date_of_filing'] = pd.to_datetime(df['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 
df['date_of_decision'] = pd.to_datetime(df['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 
df['date_next_list'] = pd.to_datetime(df['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
# df['file_end'] =(df['date_next_list']-df['date_of_filing']).dt.year
df.info()
df['closing'] = df['date_next_list'].dt.year
df['filing'] = df['date_of_filing'].dt.year
df=df.drop(columns=['date_of_filing','date_of_decision','date_next_list'])

df['closing']=df['closing'].fillna('1900')
df['closing']=df['closing'].astype(int)
df['filing']=df['filing'].astype(int)
df
df.info()
df = df[~df['closing'].isin([2010,2011,2012,2013,2014,2015,2016,2017,2019,2020,2021,2022])]
df
df['pending_years']=df['closing']-df['filing']
df
df['filing'].unique()

df=df.drop(columns=['filing','closing'])

df=df.reset_index()

df=df.drop(columns=['index'])
df

df['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208653 entries, 0 to 5208652
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   year              object
 1   state_code        object
 2   date_of_filing    datetime64[ns]
 3   date_of_decision  datetime64[ns]
 4   date_next_list    datetime64[ns]
dtypes: datetime64[ns](3), object(2)
memory usage: 198.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5208653 entries, 0 to 5208652
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   year        object
 1   state_code  object
 2   closing     int64
 3   filing      int64
dtypes: int64(2), object(2)
memory usage: 159.0+ MB

        year      state_code  pending_years
0       2011     Maharashtra              7
1       2011     Maharashtra              7
2       2011     Maharashtra              7
3       2011     Maharashtra              7
4       2011     Maharashtra              7
...      ...             ...            ...
380303  2011  DNH at silvasa              7
380304  2011  DNH at silvasa              7
380305  2011  DNH at silvasa              7
380306  2011  DNH at silvasa              7
380307  2011  DNH at silvasa              7

[380308 rows x 3 columns]

In [52]:
df_pending = df["state_code"].value_counts().reset_index()
df_pending
df_pending['state_code']=df_pending['state_code'].sort_values()
df_pending.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
df_pending=df_pending.sort_values(by='state')
df_pending=df_pending.reset_index()
df_pending['pending_casesperlakh']=df_pending['pendingcases_count']/100000
# df_pending.insert(3, 'Year', 2010)
df_pending

    index              state  pendingcases_count  pending_casesperlakh
0      12     Andhra Pradesh                5710               0.05710
1      17              Assam                3237               0.03237
2       6              Bihar               16698               0.16698
3      24         Chandigarh                 145               0.00145
4      15        Chattisgarh                5054               0.05054
5      25     DNH at silvasa                  56               0.00056
6      16              Delhi                4452               0.04452
7      28      Diu and daman                  14               0.00014
8      13                Goa                5287               0.05287
9       4           Gujarath               22536               0.22536
10     21            Haryana                1394               0.01394
11     19   Himachal Pradesh                2228               0.02228
12     20  Jammu and kashmir                1919               0.01919
13     10          Jharkhand                6951               0.06951
14      0          Karnataka               95279               0.95279
15      9             Kerala               11020               0.11020
16      1     Madhya Pradesh               67804               0.67804
17      3        Maharashtra               35482               0.35482
18     27            Manipur                  49               0.00049
19     26          Meghalaya                  50               0.00050
20     29            Mizoram                   5               0.00005
21     11             Orissa                5890               0.05890
22     18             Punjab                2409               0.02409
23      5          Rajasthan               17202               0.17202
24     30             Sikkim                   1               0.00001
25      8          Tamilnadu               12762               0.12762
26     14          Telangana                5094               0.05094
27     23            Tripura                 235               0.00235
28      2      Uttar pradesh               37043               0.37043
29     22        Uttarakhand                1186               0.01186
30      7        West Bengal               13116               0.13116

In [53]:
# df_pending=df_pending.drop(columns=['index'])

In [54]:

# pending_Cases_2011=pending_Cases_2011.sort_values(by='state')

In [55]:
# pending_Cases_2011

In [56]:
# pending_Cases_2011=pending_Cases_2011.reset_index()

In [57]:
df_pending=df_pending.drop(columns=['index'])  
df_pending

                state  pendingcases_count  pending_casesperlakh
0      Andhra Pradesh                5710               0.05710
1               Assam                3237               0.03237
2               Bihar               16698               0.16698
3          Chandigarh                 145               0.00145
4         Chattisgarh                5054               0.05054
5      DNH at silvasa                  56               0.00056
6               Delhi                4452               0.04452
7       Diu and daman                  14               0.00014
8                 Goa                5287               0.05287
9            Gujarath               22536               0.22536
10            Haryana                1394               0.01394
11   Himachal Pradesh                2228               0.02228
12  Jammu and kashmir                1919               0.01919
13          Jharkhand                6951               0.06951
14          Karnataka               95279               0.95279
15             Kerala               11020               0.11020
16     Madhya Pradesh               67804               0.67804
17        Maharashtra               35482               0.35482
18            Manipur                  49               0.00049
19          Meghalaya                  50               0.00050
20            Mizoram                   5               0.00005
21             Orissa                5890               0.05890
22             Punjab                2409               0.02409
23          Rajasthan               17202               0.17202
24             Sikkim                   1               0.00001
25          Tamilnadu               12762               0.12762
26          Telangana                5094               0.05094
27            Tripura                 235               0.00235
28      Uttar pradesh               37043               0.37043
29        Uttarakhand                1186               0.01186
30        West Bengal               13116               0.13116

In [58]:
# pending_Cases_2011.info()

In [59]:
# pending_Cases_2011.insert(2, 'Year', 2010)
# pending_Cases_2011['Year'].replace(to_replace=2010 ,value=2011,inplace=True)

In [60]:
# pending_Cases_2011

# Average Time to reach court after filing per 1 lakh cases

In [61]:
del temp
temp=df_2011

In [62]:
avg_file_court=temp.drop(temp[temp['file_reachcourt'] < 0].index)
# del avg_file_court

In [63]:
avg_file_court

,criminal,year,state_code,disp_name,pending,filing,closing,file_reachcourt,file_end,decision_end
0,Non-criminal,2011,Maharashtra,25,0,2011-02-05,2011.0,10,24,0
1,Non-criminal,2011,Maharashtra,22,0,2011-03-28,2011.0,22,191,0
2,Non-criminal,2011,Maharashtra,25,0,2011-05-30,2013.0,17,779,0
3,Non-criminal,2011,Maharashtra,30,0,2011-09-16,2011.0,1,7,0
4,Non-criminal,2011,Maharashtra,25,0,2011-09-17,2011.0,0,3,0
...,...,...,...,...,...,...,...,...,...,...
5208648,criminal,2011,DNH at silvasa,33,0,2011-07-15,2014.0,7,1246,0
5208649,None,2011,DNH at silvasa,33,0,2011-08-12,2014.0,12,1182,0
5208650,criminal,2011,DNH at silvasa,51,0,2011-12-08,2014.0,159,859,0
5208651,criminal,2011,DNH at silvasa,33,0,2011-12-17,2014.0,150,1017,0
5208652,None,2011,DNH at silvasa,24,0,2011-12-05,2012.0,245,245,110

In [64]:
# filing_reach = df["file_reachcourt"].value_counts().reset_index()
avg_file_court = avg_file_court.groupby('state_code')
# df_mean = filing_reach['file_reachcourt'].mean()
def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000
df_avg_days = avg_file_court.apply(avg_days,"file_reachcourt")
# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()
del avg_file_court

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes

In [65]:
file_court_avg=df_avg_days.to_frame().reset_index()
# pandas_s.info()
file_court_avg.rename(columns={"state_code": "state", 0: "avg_filecourt_per1lakhcases"}, inplace=True)
file_court_avg

                state  avg_filecourt_per1lakhcases
0      Andhra Pradesh                 1.654346e+02
1               Assam                 4.765981e+02
2               Bihar                 7.246962e+02
3          Chandigarh                 1.073451e+03
4         Chattisgarh                 1.145389e+03
5      DNH at silvasa                 1.527774e+04
6               Delhi                 1.162834e+02
7       Diu and daman                 1.627405e+04
8                 Goa                 5.162559e+02
9            Gujarath                 1.137235e+02
10            Haryana                 1.559914e+02
11   Himachal Pradesh                 7.820681e+02
12  Jammu and kashmir                 2.878601e+03
13          Jharkhand                 1.194746e+03
14          Karnataka                 4.232934e+01
15             Kerala                 1.319281e+02
16             Ladakh                 7.476667e+07
17     Madhya Pradesh                 1.042682e+02
18        Maharashtra                 1.182120e+01
19            Manipur                 5.264245e+04
20          Meghalaya                 1.206293e+04
21            Mizoram                 5.940641e+04
22             Orissa                 9.892288e+02
23             Punjab                 1.783644e+02
24          Rajasthan                 2.348695e+02
25             Sikkim                 1.011253e+05
26          Tamilnadu                 1.802818e+02
27          Telangana                 2.988371e+02
28            Tripura                 2.822067e+03
29      Uttar pradesh                 8.229361e+01
30        Uttarakhand                 1.116284e+03
31        West Bengal                 5.999486e+02

In [66]:
# new_rows_file_court_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_filecourt_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
# file_court_avg= pd.concat([new_rows_file_court_avg, file_court_avg], ignore_index=True)
file_court_avg
del df_avg_days

In [67]:

file_court_avg=file_court_avg.sort_values(by='state')

In [68]:
file_court_avg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes

In [69]:
file_court_avg

                state  avg_filecourt_per1lakhcases
0      Andhra Pradesh                 1.654346e+02
1               Assam                 4.765981e+02
2               Bihar                 7.246962e+02
3          Chandigarh                 1.073451e+03
4         Chattisgarh                 1.145389e+03
5      DNH at silvasa                 1.527774e+04
6               Delhi                 1.162834e+02
7       Diu and daman                 1.627405e+04
8                 Goa                 5.162559e+02
9            Gujarath                 1.137235e+02
10            Haryana                 1.559914e+02
11   Himachal Pradesh                 7.820681e+02
12  Jammu and kashmir                 2.878601e+03
13          Jharkhand                 1.194746e+03
14          Karnataka                 4.232934e+01
15             Kerala                 1.319281e+02
16             Ladakh                 7.476667e+07
17     Madhya Pradesh                 1.042682e+02
18        Maharashtra                 1.182120e+01
19            Manipur                 5.264245e+04
20          Meghalaya                 1.206293e+04
21            Mizoram                 5.940641e+04
22             Orissa                 9.892288e+02
23             Punjab                 1.783644e+02
24          Rajasthan                 2.348695e+02
25             Sikkim                 1.011253e+05
26          Tamilnadu                 1.802818e+02
27          Telangana                 2.988371e+02
28            Tripura                 2.822067e+03
29      Uttar pradesh                 8.229361e+01
30        Uttarakhand                 1.116284e+03
31        West Bengal                 5.999486e+02

In [70]:

file_court_avg=file_court_avg.reset_index()
file_court_avg=file_court_avg.drop(columns=['index'])  


file_court_avg.info()

file_court_avg.insert(2, 'Year', 2011)


# file_court_avg=file_court_avg.drop(columns=['Year'])  
file_court_avg

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

                state  avg_filecourt_per1lakhcases  Year
0      Andhra Pradesh                 1.654346e+02  2011
1               Assam                 4.765981e+02  2011
2               Bihar                 7.246962e+02  2011
3          Chandigarh                 1.073451e+03  2011
4         Chattisgarh                 1.145389e+03  2011
5      DNH at silvasa                 1.527774e+04  2011
6               Delhi                 1.162834e+02  2011
7       Diu and daman                 1.627405e+04  2011
8                 Goa                 5.162559e+02  2011
9            Gujarath                 1.137235e+02  2011
10            Haryana                 1.559914e+02  2011
11   Himachal Pradesh                 7.820681e+02  2011
12  Jammu and kashmir                 2.878601e+03  2011
13          Jharkhand                 1.194746e+03  2011
14          Karnataka                 4.232934e+01  2011
15             Kerala                 1.319281e+02  2011
16             Ladakh                 7.476667e+07  2011
17     Madhya Pradesh                 1.042682e+02  2011
18        Maharashtra                 1.182120e+01  2011
19            Manipur                 5.264245e+04  2011
20          Meghalaya                 1.206293e+04  2011
21            Mizoram                 5.940641e+04  2011
22             Orissa                 9.892288e+02  2011
23             Punjab                 1.783644e+02  2011
24          Rajasthan                 2.348695e+02  2011
25             Sikkim                 1.011253e+05  2011
26          Tamilnadu                 1.802818e+02  2011
27          Telangana                 2.988371e+02  2011
28            Tripura                 2.822067e+03  2011
29      Uttar pradesh                 8.229361e+01  2011
30        Uttarakhand                 1.116284e+03  2011
31        West Bengal                 5.999486e+02  2011

In [71]:
file_court_avg['avg_filecourt_per1lakhcases']=file_court_avg['avg_filecourt_per1lakhcases'].astype(int)

In [72]:
file_court_avg

                state  avg_filecourt_per1lakhcases  Year
0      Andhra Pradesh                          165  2011
1               Assam                          476  2011
2               Bihar                          724  2011
3          Chandigarh                         1073  2011
4         Chattisgarh                         1145  2011
5      DNH at silvasa                        15277  2011
6               Delhi                          116  2011
7       Diu and daman                        16274  2011
8                 Goa                          516  2011
9            Gujarath                          113  2011
10            Haryana                          155  2011
11   Himachal Pradesh                          782  2011
12  Jammu and kashmir                         2878  2011
13          Jharkhand                         1194  2011
14          Karnataka                           42  2011
15             Kerala                          131  2011
16             Ladakh                     74766666  2011
17     Madhya Pradesh                          104  2011
18        Maharashtra                           11  2011
19            Manipur                        52642  2011
20          Meghalaya                        12062  2011
21            Mizoram                        59406  2011
22             Orissa                          989  2011
23             Punjab                          178  2011
24          Rajasthan                          234  2011
25             Sikkim                       101125  2011
26          Tamilnadu                          180  2011
27          Telangana                          298  2011
28            Tripura                         2822  2011
29      Uttar pradesh                           82  2011
30        Uttarakhand                         1116  2011
31        West Bengal                          599  2011

# Average Time to End case after filing per 1 lakh cases in 2010

In [73]:
temp=df_2011

avg_file_end=temp.drop(temp[temp['file_end'] < 0].index)
# del avg_file_end

avg_file_end

# filing_reach = df["file_end"].value_counts().reset_index()
avg_file_end = avg_file_end.groupby('state_code')
# df_mean = filing_reach['file_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_end.apply(avg_days,"file_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days

file_End_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_End_avg.rename(columns={"state_code": "state", 0: "avg_fileend_per1lakhcases"}, inplace=True)
file_End_avg

# new_rows_file_End_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_fileend_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_End_avg= pd.concat([new_rows_file_End_avg, file_End_avg], ignore_index=True)

# file_End_avg


file_End_avg=file_End_avg.sort_values(by='state')




file_End_avg.info()



file_End_avg


file_End_avg=file_End_avg.reset_index()
file_End_avg=file_End_avg.drop(columns=['index'])  


file_End_avg.info()

file_End_avg.insert(2, 'Year', 2011)


file_End_avg

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg
del avg_file_end
del df_avg_days

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

In [74]:
file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

In [75]:
file_End_avg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     int64
 2   Year                       32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

# Average Time to End case after decision per 1 lakh cases in 2010

In [76]:
del temp
temp=df_2011

avg_decision_end=temp.drop(temp[temp['decision_end'] < 0].index)
# del avg_decision_end

avg_decision_end

# filing_reach = df["decision_end"].value_counts().reset_index()
avg_decision_end = avg_decision_end.groupby('state_code')
# df_mean = filing_reach['decision_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_decision_end.apply(avg_days,"decision_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()

decision_end_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
decision_end_avg.rename(columns={"state_code": "state", 0: "avg_decision_end_per1lakhcases"}, inplace=True)
decision_end_avg

# new_rows_decision_end_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_decision_end_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# decision_end_avg= pd.concat([new_rows_decision_end_avg, decision_end_avg], ignore_index=True)

# decision_end_avg


decision_end_avg=decision_end_avg.sort_values(by='state')




decision_end_avg.info()



decision_end_avg


decision_end_avg=decision_end_avg.reset_index()
decision_end_avg=decision_end_avg.drop(columns=['index'])  


decision_end_avg.info()

decision_end_avg.insert(2, 'Year', 2011)


decision_end_avg

decision_end_avg['avg_decision_end_per1lakhcases']=decision_end_avg['avg_decision_end_per1lakhcases'].astype(int)

decision_end_avg
del df_avg_days
del avg_decision_end

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

# Withdrawal cases in 2010 per state

In [77]:
del temp
temp=df_2011

withdrawal=temp[temp['disp_name'] == '51']
# del avg_decision_end

# withdrawal
withdrawal = withdrawal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
withdrawal['state_code']=withdrawal['state_code'].sort_values()
withdrawal.rename(columns={"index": "state", "state_code": "withdrawal_count"}, inplace=True)
new_rows_withdrawal = pd.DataFrame({'state' : [ 'Ladakh'], 'withdrawal_count' : [ 0 ]})

withdrawal

withdrawal= pd.concat([new_rows_withdrawal, withdrawal], ignore_index=True)

withdrawal


withdrawal=withdrawal.sort_values(by='state')




withdrawal.info()



withdrawal


withdrawal=withdrawal.reset_index()
withdrawal=withdrawal.drop(columns=['index'])  


withdrawal.info()

withdrawal.insert(2, 'Year', 2011)


withdrawal

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 14 to 20
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  withdrawal_count  Year
0      Andhra Pradesh              1802  2011
1               Assam              1145  2011
2               Bihar               887  2011
3          Chandigarh              3617  2011
4         Chattisgarh               527  2011
5      DNH at silvasa                65  2011
6               Delhi             18270  2011
7       Diu and daman                31  2011
8                 Goa               108  2011
9            Gujarath             32967  2011
10            Haryana             25215  2011
11   Himachal Pradesh              4244  2011
12  Jammu and kashmir               398  2011
13          Jharkhand              1096  2011
14          Karnataka              4972  2011
15             Kerala              1876  2011
16             Ladakh                 0  2011
17     Madhya Pradesh             10636  2011
18        Maharashtra             20518  2011
19            Manipur                18  2011
20          Meghalaya               182  2011
21            Mizoram                12  2011
22             Orissa             13284  2011
23             Punjab             26478  2011
24          Rajasthan              8920  2011
25             Sikkim                35  2011
26          Tamilnadu              2228  2011
27          Telangana              1154  2011
28            Tripura                86  2011
29      Uttar pradesh              1693  2011
30        Uttarakhand               162  2011
31        West Bengal               621  2011

# Prison disposed cases in 2010 per state

In [78]:
# del prison_2011

In [79]:
del temp
temp=df_2011

prison_2011=temp[temp['disp_name'] == '38']
# del avg_decision_end

prison_2011
prison_2011 = prison_2011["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
prison_2011['state_code']=prison_2011['state_code'].sort_values()
prison_2011.rename(columns={"index": "state", "state_code": "prison_count"}, inplace=True)
new_rows_prison_2011 = pd.DataFrame({'state' : ['Andhra Pradesh','Karnataka', 'Kerala', 'Himachal Pradesh', 'Tamilnadu','Jammu and kashmir','Uttar pradesh','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Madhya Pradesh','Sikkim','Manipur','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'prison_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

prison_2011

prison_2011= pd.concat([new_rows_prison_2011, prison_2011], ignore_index=True)

prison_2011


prison_2011=prison_2011.sort_values(by='state')




prison_2011.info()



prison_2011


prison_2011=prison_2011.reset_index()
prison_2011=prison_2011.drop(columns=['index'])  


prison_2011.info()

prison_2011.insert(2, 'Year', 2011)


prison_2011

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 8
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  prison_count  Year
0      Andhra Pradesh             0  2011
1               Assam          1307  2011
2               Bihar             1  2011
3          Chandigarh             0  2011
4         Chattisgarh             0  2011
5      DNH at silvasa             0  2011
6               Delhi             1  2011
7       Diu and daman             0  2011
8                 Goa             0  2011
9            Gujarath             0  2011
10            Haryana            36  2011
11   Himachal Pradesh             0  2011
12  Jammu and kashmir             0  2011
13          Jharkhand             6  2011
14          Karnataka             0  2011
15             Kerala             0  2011
16             Ladakh             0  2011
17     Madhya Pradesh             0  2011
18        Maharashtra             3  2011
19            Manipur             0  2011
20          Meghalaya             0  2011
21            Mizoram             0  2011
22             Orissa             2  2011
23             Punjab            68  2011
24          Rajasthan            16  2011
25             Sikkim             0  2011
26          Tamilnadu             0  2011
27          Telangana             0  2011
28            Tripura             0  2011
29      Uttar pradesh             0  2011
30        Uttarakhand             0  2011
31        West Bengal             0  2011

In [80]:
# del dismissed_2011

# Dismissed cases in 2010 per state

In [81]:
del temp
temp=df_2011

dismissed_2011=temp[temp['disp_name'] == '22']
# del avg_decision_end

# dismissed_2011
dismissed_2011 = dismissed_2011["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
dismissed_2011['state_code']=dismissed_2011['state_code'].sort_values()
dismissed_2011.rename(columns={"index": "state", "state_code": "dismissed_count"}, inplace=True)
new_rows_dismissed_2011 = pd.DataFrame({'state' : [ 'Ladakh'], 'dismissed_count' : [ 0 ]})

dismissed_2011

dismissed_2011= pd.concat([new_rows_dismissed_2011, dismissed_2011], ignore_index=True)

dismissed_2011


dismissed_2011=dismissed_2011.sort_values(by='state')




dismissed_2011.info()



dismissed_2011


dismissed_2011=dismissed_2011.reset_index()
dismissed_2011=dismissed_2011.drop(columns=['index'])  


dismissed_2011.info()

dismissed_2011.insert(2, 'Year', 2011)


dismissed_2011

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 9 to 10
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            32 non-null     object
 1   dismissed_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   state            32 non-null     object
 1   dismissed_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  dismissed_count  Year
0      Andhra Pradesh            35976  2011
1               Assam             9800  2011
2               Bihar            13381  2011
3          Chandigarh             3125  2011
4         Chattisgarh             3912  2011
5      DNH at silvasa               60  2011
6               Delhi            18405  2011
7       Diu and daman               57  2011
8                 Goa               17  2011
9            Gujarath            29781  2011
10            Haryana            38827  2011
11   Himachal Pradesh             7983  2011
12  Jammu and kashmir             2086  2011
13          Jharkhand             7667  2011
14          Karnataka            90865  2011
15             Kerala            37778  2011
16             Ladakh                0  2011
17     Madhya Pradesh            46045  2011
18        Maharashtra            59208  2011
19            Manipur              250  2011
20          Meghalaya              100  2011
21            Mizoram               27  2011
22             Orissa             7116  2011
23             Punjab            49491  2011
24          Rajasthan            14290  2011
25             Sikkim               12  2011
26          Tamilnadu            67246  2011
27          Telangana            23536  2011
28            Tripura              536  2011
29      Uttar pradesh            76479  2011
30        Uttarakhand             8638  2011
31        West Bengal            32106  2011

In [82]:
df_merged=pd.merge(dismissed_2011,prison_2011,on='state')
df_merged=pd.merge(df_merged,withdrawal,on='state')
df_merged=pd.merge(df_merged,decision_end_avg,on='state')
df_merged=pd.merge(df_merged,file_End_avg,on='state')
df_merged=pd.merge(df_merged,file_court_avg,on='state')
df_merged=pd.merge(df_merged,df_pending,on='state')
df_merged=pd.merge(df_merged,df_criminal_not,on='state')

/tmp/ipykernel_4762/2025194204.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,decision_end_avg,on='state')
/tmp/ipykernel_4762/2025194204.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,file_court_avg,on='state')

In [83]:
df_merged=df_merged.drop(columns='Year_x')

In [84]:
df_merged=df_merged.drop(df_merged.columns[[3, 6, 9,13]],axis = 1)

In [86]:
df_merged['year']=[2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011,2011]

In [87]:
df_merged

,state,dismissed_count,prison_count,withdrawal_count,avg_decision_end_per1lakhcases,avg_fileend_per1lakhcases,avg_filecourt_per1lakhcases,pendingcases_count,pending_casesperlakh,criminal_count,criminal_perlakh,noncriminal_count,noncriminal_perlakh,year
0,Andhra Pradesh,35976,0,1802,0,598,165,5710,0.05710,111527,1.11527,63975,0.63975,2011
1,Assam,9800,1307,1145,4,1384,476,3237,0.03237,39268,0.39268,64451,0.64451,2011
2,Bihar,13381,1,887,9,1352,724,16698,0.16698,77582,0.77582,150137,1.50137,2011
3,Chandigarh,3125,0,3617,315,5682,1073,145,0.00145,12868,0.12868,7768,0.07768,2011
4,Chattisgarh,3912,0,527,75,3320,1145,5054,0.05054,19985,0.19985,21428,0.21428,2011
5,DNH at silvasa,60,0,65,147,135830,15277,56,0.00056,381,0.00381,484,0.00484,2011
6,Delhi,18405,1,18270,12,869,116,4452,0.04452,90602,0.90602,69695,0.69695,2011
7,Diu and daman,57,0,31,0,125385,16274,14,0.00014,368,0.00368,228,0.00228,2011
8,Goa,17,0,108,149,3068,516,5287,0.05287,22970,0.22970,20242,0.20242,2011
9,Gujarath,29781,0,32967,1,282,113,22536,0.22536,274008,2.74008,165926,1.65926,2011
10,Haryana,38827,36,25215,3,460,155,1394,0.01394,167458,1.67458,157715,1.57715,2011
11,Himachal Pradesh,7983,0,4244,11,2689,782,2228,0.02228,43030,0.43030,42655,0.42655,2011
12,Jammu and kashmir,2086,0,398,2,5982,2878,1919,0.01919,22992,0.22992,16103,0.16103,2011
13,Jharkhand,7667,6,1096,6,2933,1194,6951,0.06951,37744,0.37744,49551,0.49551,2011
14,Karnataka,90865,0,4972,2,130,42,95279,0.95279,590244,5.90244,495933,4.95933,2011
15,Kerala,37778,0,1876,7,412,131,11020,0.11020,172706,1.72706,110921,1.10921,2011
16,Madhya Pradesh,46045,0,10636,5,274,104,67804,0.67804,291663,2.91663,291739,2.91739,2011
17,Maharashtra,59208,3,20518,0,111,11,35482,0.35482,599856,5.99856,443382,4.43382,2011
18,Manipur,250,0,18,56,110611,52642,49,0.00049,1164,0.01164,908,0.00908,2011
19,Meghalaya,100,0,182,3,72583,12062,50,0.00050,1174,0.01174,1189,0.01189,2011
20,Mizoram,27,0,12,0,86894,59406,5,0.00005,637,0.00637,624,0.00624,2011
21,Orissa,7116,2,13284,12,2041,989,5890,0.05890,85418,0.85418,82017,0.82017,2011
22,Punjab,49491,68,26478,2,547,178,2409,0.02409,160316,1.60316,149057,1.49057,2011
23,Rajasthan,14290,16,8920,3,628,234,17202,0.17202,228741,2.28741,227705,2.27705,2011
24,Sikkim,12,0,35,645,167288,101125,1,0.00001,366,0.00366,399,0.00399,2011
25,Tamilnadu,67246,0,2228,0,557,180,12762,0.12762,209008,2.09008,170864,1.70864,2011
26,Telangana,23536,0,1154,0,899,298,5094,0.05094,75294,0.75294,62594,0.62594,2011
27,Tripura,536,0,86,3,11092,2822,235,0.00235,6377,0.06377,7574,0.07574,2011
28,Uttar pradesh,76479,0,1693,6,234,82,37043,0.37043,692935,6.92935,673549,6.73549,2011
29,Uttarakhand,8638,0,162,18,2572,1116,1186,0.01186,37423,0.37423,21206,0.21206,2011
30,West Bengal,32106,0,621,2,1142,599,13116,0.13116,128006,1.28006,126422,1.26422,2011

In [88]:
df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','pendingcases_count','pending_casesperlakh','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])

In [89]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            31 non-null     int64
 1   state                           31 non-null     object
 2   dismissed_count                 31 non-null     int64
 3   prison_count                    31 non-null     int64
 4   withdrawal_count                31 non-null     int64
 5   avg_decision_end_per1lakhcases  31 non-null     int64
 6   avg_fileend_per1lakhcases       31 non-null     int64
 7   avg_filecourt_per1lakhcases     31 non-null     int64
 8   pendingcases_count              31 non-null     int64
 9   pending_casesperlakh            31 non-null     float64
 10  criminal_count                  31 non-null     int64
 11  criminal_perlakh                31 non-null     float64
 12  noncriminal_count               31 non-null     int64
 13  noncriminal_perlakh             31 non-null     float64
dtypes: float64(3), int64(10), object(1)
memory usage: 3.6+ KB

In [90]:
df_merged.to_csv('2011_filtered.csv', index=False)

In [95]:
# del dismissed_2010
# del prison_2010
del withdrawal
del file_End_avg
del file_court_avg
del df_pending
del df_criminal_not