In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '10g') \
    .config('spark.driver.memory', '12g') \
    .getOrCreate()
# spark = SparkSession.builder.appName('Read CSV File into DataFrame').getOrCreate()
from pyspark.sql.functions import col

# Load the data into a DataFrame
df_spark = spark.read.csv("/home/nirmala/Documents/precog_requirement_task/acts_sections.csv", header=True)

# Remove the 'act' from the DataFrame
df_spark = df_spark.drop(col("act"))

# Remove the 'section' from the DataFrame
df_spark = df_spark.drop(col("section"))

# Remove the 'bailable_ipc' from the DataFrame
df_spark = df_spark.drop(col("bailable_ipc"))

# Remove the 'number_sections_ipc' from the DataFrame
df_spark = df_spark.drop(col("number_sections_ipc"))
# Write the resulting DataFrame to a CSV file


df1=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2013.csv" ,header=True)
dp=df1
# df_merged = df.join(df1, on=["ddl_case_id"], how="left").filter(col("ddl_case_id") == col("ddl_case_id"))
df_merged=df_spark.join(df1,
               df_spark.ddl_case_id == df1.ddl_case_id, 
               "right")

# df_merged.count()
# del df_spark
# df=pd.read_csv('/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2013.csv')
# df_merged.write.csv("2013.csv", mode="overwrite", header=True)

df_merged = df_merged.drop(col("dist_code"))

# Remove the 'section' from the DataFrame
df_merged = df_merged.drop(col("cino"))

# Remove the 'bailable_ipc' from the DataFrame
df_merged = df_merged.drop(col("court_no"))

# Remove the 'number_sections_ipc' from the DataFrame
df_merged = df_merged.drop(col("judge_position"))

df_merged = df_merged.drop(col("type_name"))

df_merged = df_merged.drop(col("purpose_name"))

df_merged = df_merged.drop(col("date_last_list"))

df_merged = df_merged.drop(col("female_adv_def"))

df_merged = df_merged.drop(col("female_petitioner"))

df_merged = df_merged.drop(col("female_adv_pet"))

df_merged = df_merged.drop(col("female_defendant"))

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 05:47:53 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_pandas = df_merged.toPandas()

In [3]:

del df_merged
df_pandas=df_pandas.drop(df_pandas.columns[0], axis=1)
# df['decision'].unique()


df_2013=df_pandas
df_2013_copy=df_2013

# df_2013=df_2013.drop(columns=["ddl_case_id","cino"])
df_2013['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df_2013['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df_2013['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df_2013['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df_2013['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df_2013['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df_2013['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df_2013['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df_2013['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df_2013['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df_2013['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df_2013['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df_2013['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df_2013['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df_2013['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df_2013['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df_2013['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df_2013['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df_2013['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df_2013['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df_2013['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df_2013['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df_2013['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df_2013['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df_2013['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df_2013['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df_2013['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df_2013['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df_2013['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df_2013['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df_2013['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df_2013['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

def create_new_column(row):
    if pd.isnull(row['date_next_list']):
        return 1
    else:
        return 0

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

In [4]:

df_2013['pending'] = df_2013.apply(create_new_column, axis=1)

df_2013['filing'] = pd.to_datetime(df_2013['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

df_2013['first_list'] = pd.to_datetime(df_2013['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

df_2013['decision'] = pd.to_datetime(df_2013['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df_2013['last_list'] = pd.to_datetime(df_2013['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
df_2013['date_next_list'] = pd.to_datetime(df_2013['date_next_list'], format='%Y-%m-%d',errors = 'coerce')

In [5]:



df_2013['closing'] = df_2013['date_next_list'].dt.year

df_2013['closing']=df_2013['closing'].fillna('1900')


df_2013=df_2013.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

df_2013['file_reachcourt'] =(df_2013['first_list']-df_2013['filing']).dt.days
df_2013['file_end'] =(df_2013['last_list']-df_2013['filing']).dt.days
df_2013['decision_end'] =(df_2013['last_list']-df_2013['decision']).dt.days

In [6]:
df_2013=df_2013.drop(columns=['first_list','decision','last_list'])

def replace_negatives(x):
    if x < 0:
        return -1
    return x
df_2013['file_reachcourt']=df_2013['file_reachcourt'].apply(replace_negatives)


df_2013['file_end']=df_2013['file_end'].apply(replace_negatives)
df_2013['decision_end']=df_2013['decision_end'].apply(replace_negatives)


df_2013



df_2013['criminal'].unique()
df_2013['criminal'].replace(to_replace='0',value='criminal',inplace=True)
df_2013['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

df_2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7555617 entries, 0 to 7555616
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   criminal         object
 1   year             object
 2   state_code       object
 3   disp_name        object
 4   pending          int64
 5   filing           datetime64[ns]
 6   closing          object
 7   file_reachcourt  float64
 8   file_end         float64
 9   decision_end     float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 576.4+ MB

In [7]:
import numpy as np


df_2013['file_reachcourt'] = pd.to_numeric(df_2013['file_reachcourt'], errors='coerce')

# Fill the missing and infinite values with -1
df_2013['file_reachcourt'] = df_2013['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_reachcourt' column to integers
df_2013['file_reachcourt'] = df_2013['file_reachcourt'].astype(int)

df_2013['file_end'] = pd.to_numeric(df_2013['file_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2013['file_end'] = df_2013['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_end ' column to integers
df_2013['file_end'] = df_2013['file_end'].astype(int)

df_2013['decision_end'] = pd.to_numeric(df_2013['decision_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2013['decision_end'] = df_2013['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'decision_end' column to integers
df_2013['decision_end'] = df_2013['decision_end'].astype(int)

df_2013.info()

df_2013

df_2013['decision_end'].unique()


# df_2013['criminal'] = df_2013['criminal'].fillna(-1)


# del temp
# del non_criminal_count_2013

#criminal count
temp=df_2013
temp2=df_2013
temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)  

temp_criminal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7555617 entries, 0 to 7555616
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   criminal         object
 1   year             object
 2   state_code       object
 3   disp_name        object
 4   pending          int64
 5   filing           datetime64[ns]
 6   closing          object
 7   file_reachcourt  int64
 8   file_end         int64
 9   decision_end     int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 576.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5936176 entries, 10 to 7555616
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   criminal         object
 1   year             object
 2   state_code       object
 3   disp_name        object
 4   pending          int64
 5   filing           datetime64[ns]
 6   closing          object
 7   file_reachcourt  int64
 8   file_end         int64
 9   decision_end     int64
dtypes: datetime64[ns](1), int64(4), object(5)
memory usage: 498.2+ MB

# Criminal count

In [8]:
criminal_count_2010 = temp_criminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
criminal_count_2010['state_code']=criminal_count_2010['state_code'].sort_values()
criminal_count_2010.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

criminal_count_2010

criminal_count_2010.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# criminal_count_2010= pd.concat([new_rows, criminal_count_2010], ignore_index=True)


criminal_count_2010['state']=criminal_count_2010['state'].sort_values()


criminal_count_2010=criminal_count_2010.sort_values(by='state')

criminal_count_2010.insert(2, 'Year', 2013)


criminal_count_2010=criminal_count_2010.reset_index()

criminal_count_2010=criminal_count_2010.drop(columns=['index'])

del temp_criminal

criminal_count_2010


criminal_count_2010['criminal_perlakh']=criminal_count_2010['criminal_count']/100000

non_criminal_count_2010 = temp_noncriminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
non_criminal_count_2010['state_code']=non_criminal_count_2010['state_code'].sort_values()
non_criminal_count_2010.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

non_criminal_count_2010

non_criminal_count_2010.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# non_criminal_count_2010= pd.concat([new_rows, non_criminal_count_2010], ignore_index=True)


non_criminal_count_2010['state']=non_criminal_count_2010['state'].sort_values()


non_criminal_count_2010=non_criminal_count_2010.sort_values(by='state')

# non_criminal_count_2010.insert(2, 'Year', 2010)


non_criminal_count_2010=non_criminal_count_2010.reset_index()

non_criminal_count_2010=non_criminal_count_2010.drop(columns=['index'])
non_criminal_count_2010

df_criminal_not=pd.merge(criminal_count_2010,non_criminal_count_2010,on='state')

df_criminal_not

df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

df_criminal_not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           32 non-null     object
 1   criminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              32 non-null     object
 1   noncriminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

,state,criminal_count,Year,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,Andhra Pradesh,123547,2010,1.23547,83755,0.83755
1,Assam,72041,2010,0.72041,90908,0.90908
2,Bihar,119772,2010,1.19772,243717,2.43717
3,Chandigarh,23703,2010,0.23703,19422,0.19422
4,Chattisgarh,34027,2010,0.34027,32236,0.32236
5,DNH at silvasa,888,2010,0.00888,1002,0.01002
6,Delhi,127004,2010,1.27004,91663,0.91663
7,Diu and daman,1091,2010,0.01091,392,0.00392
8,Goa,25937,2010,0.25937,21699,0.21699
9,Gujarath,415864,2010,4.15864,236419,2.36419
10,Haryana,254230,2010,2.54230,191935,1.91935
11,Himachal Pradesh,66075,2010,0.66075,62443,0.62443
12,Jammu and kashmir,27152,2010,0.27152,18455,0.18455
13,Jharkhand,57275,2010,0.57275,77039,0.77039
14,Karnataka,754092,2010,7.54092,480528,4.80528
15,Kerala,306381,2010,3.06381,162347,1.62347
16,Ladakh,18,2010,0.00018,4,0.00004
17,Madhya Pradesh,406424,2010,4.06424,397560,3.97560
18,Maharashtra,723711,2010,7.23711,479884,4.79884
19,Manipur,4277,2010,0.04277,2942,0.02942
20,Meghalaya,1651,2010,0.01651,1528,0.01528
21,Mizoram,1200,2010,0.01200,1132,0.01132
22,Orissa,124949,2010,1.24949,118377,1.18377
23,Punjab,282100,2010,2.82100,226416,2.26416
24,Rajasthan,400004,2010,4.00004,375846,3.75846
25,Sikkim,2942,2010,0.02942,3019,0.03019
26,Tamilnadu,300431,2010,3.00431,235529,2.35529
27,Telangana,98356,2010,0.98356,91551,0.91551
28,Tripura,8244,2010,0.08244,10653,0.10653
29,Uttar pradesh,887087,2010,8.87087,838897,8.38897
30,Uttarakhand,79320,2010,0.79320,27611,0.27611
31,West Bengal,206383,2010,2.06383,203925,2.03925

# Pending Cases in 2010

In [9]:
# del pending_Cases

In [10]:
# df_pending=dp

# df_pending = df_pending.drop(col("dist_code"))
# df_pending = df_pending.drop(col("ddl_case_id"))
# df_pending = df_pending.drop(col("court_no"))
# df_pending = df_pending.drop(col("cino"))
# df_pending = df_pending.drop(col("judge_position"))
# df_pending = df_pending.drop(col("female_defendant"))
# df_pending = df_pending.drop(col("female_petitioner"))
# df_pending = df_pending.drop(col("female_adv_def"))
# df_pending = df_pending.drop(col("female_adv_pet"))
# df_pending = df_pending.drop(col("type_name"))
# df_pending = df_pending.drop(col("purpose_name"))
# df_pending = df_pending.drop(col("disp_name"))
# df_pending = df_pending.drop(col("date_last_list"))
# df_pending = df_pending.drop(col("date_first_list"))


# df_pending

# df = df_pending.toPandas()

# df['date_of_filing'] = pd.to_datetime(df['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 


# df['date_of_decision'] = pd.to_datetime(df['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

# df['date_next_list'] = pd.to_datetime(df['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 



# # df['file_end'] =(df['date_next_list']-df['date_of_filing']).dt.year
# df.info()

# df['closing'] = df['date_next_list'].dt.year
# df['filing'] = df['date_of_filing'].dt.year


# df=df.drop(columns=['date_of_filing','date_of_decision','date_next_list'])

# df['closing']=df['closing'].fillna('1900')


# df['closing']=df['closing'].astype(int)
# df['filing']=df['filing'].astype(int)

# df

# df.info()

# df = df[~df['closing'].isin([2010,2011,2012,2013,2014,2015,2016,2017,2018])]


# df

# df['pending_years']=df['closing']-df['filing']

# df


# df['filing'].unique()

# df=df.drop(columns=['filing','closing'])

# df=df.reset_index()

# df=df.drop(columns=['index'])
# df

# df['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
# df['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
# df['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
# df['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
# df['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
# df['state_code'].replace(to_replace='06', value="Assam",inplace=True)
# df['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
# df['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
# df['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
# df['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
# df['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
# df['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
# df['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
# df['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
# df['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
# df['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
# df['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
# df['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
# df['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
# df['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
# df['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
# df['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
# df['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
# df['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
# df['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
# df['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
# df['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
# df['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
# df['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
# df['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
# df['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
# df['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)
# df

# df_pending = df["state_code"].value_counts().reset_index()


# df_pending

# df_pending['state_code']=df_pending['state_code'].sort_values()
# df_pending.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
# new_rows_pending = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'pendingcases_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
# df_pending= pd.concat([new_rows_pending, df_pending], ignore_index=True)
# df_pending

# df_pending['pending_casesperlakh']=df_pending['pendingcases_count']/100000
# df_pending.insert(3, 'Year', 2011)

# df_pending

# Average Time to reach court after filing per 1 lakh cases

In [11]:
# Average Time to reach court after filing per 1 lakh cases

# del temp
temp=df_2013

avg_file_court=temp.drop(temp[temp['file_reachcourt'] < 0].index)
# del avg_file_court

avg_file_court

# filing_reach = df["file_reachcourt"].value_counts().reset_index()
avg_file_court = avg_file_court.groupby('state_code')
# df_mean = filing_reach['file_reachcourt'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_court.apply(avg_days,"file_reachcourt")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()
del avg_file_court

file_court_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_court_avg.rename(columns={"state_code": "state", 0: "avg_filecourt_per1lakhcases"}, inplace=True)
file_court_avg

# new_rows_file_court_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_filecourt_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_court_avg= pd.concat([new_rows_file_court_avg, file_court_avg], ignore_index=True)

file_court_avg
del df_avg_days


file_court_avg=file_court_avg.sort_values(by='state')




file_court_avg.info()



file_court_avg


file_court_avg=file_court_avg.reset_index()
file_court_avg=file_court_avg.drop(columns=['index'])  


file_court_avg.info()

file_court_avg.insert(2, 'Year', 2013)


# file_court_avg=file_court_avg.drop(columns=['Year'])  
file_court_avg

file_court_avg['avg_filecourt_per1lakhcases']=file_court_avg['avg_filecourt_per1lakhcases'].astype(int)

file_court_avg

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

                state  avg_filecourt_per1lakhcases  Year
0      Andhra Pradesh                           90  2013
1               Assam                          179  2013
2               Bihar                          215  2013
3          Chandigarh                          328  2013
4         Chattisgarh                          777  2013
5      DNH at silvasa                         1866  2013
6               Delhi                           58  2013
7       Diu and daman                         1928  2013
8                 Goa                          367  2013
9            Gujarath                           27  2013
10            Haryana                           35  2013
11   Himachal Pradesh                          265  2013
12  Jammu and kashmir                         2397  2013
13          Jharkhand                          437  2013
14          Karnataka                            6  2013
15             Kerala                           50  2013
16             Ladakh                      7976177  2013
17     Madhya Pradesh                           32  2013
18        Maharashtra                            5  2013
19            Manipur                         2920  2013
20          Meghalaya                         5417  2013
21            Mizoram                        14906  2013
22             Orissa                          313  2013
23             Punjab                           21  2013
24          Rajasthan                           43  2013
25             Sikkim                          492  2013
26          Tamilnadu                           62  2013
27          Telangana                          123  2013
28            Tripura                          875  2013
29      Uttar pradesh                           32  2013
30        Uttarakhand                          113  2013
31        West Bengal                          186  2013

# Average Time to End case after filing per 1 lakh cases in 2010

In [12]:
temp=df_2013

avg_file_end=temp.drop(temp[temp['file_end'] < 0].index)
# del avg_file_end

avg_file_end

# filing_reach = df["file_end"].value_counts().reset_index()
avg_file_end = avg_file_end.groupby('state_code')
# df_mean = filing_reach['file_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_end.apply(avg_days,"file_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days

file_End_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_End_avg.rename(columns={"state_code": "state", 0: "avg_fileend_per1lakhcases"}, inplace=True)
file_End_avg

# new_rows_file_End_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_fileend_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_End_avg= pd.concat([new_rows_file_End_avg, file_End_avg], ignore_index=True)

# file_End_avg


file_End_avg=file_End_avg.sort_values(by='state')




file_End_avg.info()



file_End_avg


file_End_avg=file_End_avg.reset_index()
file_End_avg=file_End_avg.drop(columns=['index'])  


file_End_avg.info()

file_End_avg.insert(2, 'Year', 2013)


file_End_avg

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg
del avg_file_end
del df_avg_days

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     int64
 2   Year                       32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

# Average Time to End case after decision per 1 lakh cases in 2012

In [13]:
del temp
temp=df_2013

avg_decision_end=temp.drop(temp[temp['decision_end'] < 0].index)
# del avg_decision_end

avg_decision_end

# filing_reach = df["decision_end"].value_counts().reset_index()
avg_decision_end = avg_decision_end.groupby('state_code')
# df_mean = filing_reach['decision_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_decision_end.apply(avg_days,"decision_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()

decision_end_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
decision_end_avg.rename(columns={"state_code": "state", 0: "avg_decision_end_per1lakhcases"}, inplace=True)
decision_end_avg

# new_rows_decision_end_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_decision_end_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# decision_end_avg= pd.concat([new_rows_decision_end_avg, decision_end_avg], ignore_index=True)

# decision_end_avg


decision_end_avg=decision_end_avg.sort_values(by='state')




decision_end_avg.info()



decision_end_avg


decision_end_avg=decision_end_avg.reset_index()
decision_end_avg=decision_end_avg.drop(columns=['index'])  


decision_end_avg.info()

decision_end_avg.insert(2, 'Year', 2013)


decision_end_avg

decision_end_avg['avg_decision_end_per1lakhcases']=decision_end_avg['avg_decision_end_per1lakhcases'].astype(int)

decision_end_avg
del df_avg_days
del avg_decision_end

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

# Withdrawal

In [14]:
del temp
temp=df_2013

withdrawal=temp[temp['disp_name'] == '51']
# del avg_decision_end

# withdrawal
withdrawal = withdrawal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
withdrawal['state_code']=withdrawal['state_code'].sort_values()
withdrawal.rename(columns={"index": "state", "state_code": "withdrawal_count"}, inplace=True)
# new_rows_withdrawal = pd.DataFrame({'state' : [ 'Ladakh'], 'withdrawal_count' : [ 0 ]})

# withdrawal

# withdrawal= pd.concat([new_rows_withdrawal, withdrawal], ignore_index=True)

# withdrawal


withdrawal=withdrawal.sort_values(by='state')




withdrawal.info()



withdrawal


withdrawal=withdrawal.reset_index()
withdrawal=withdrawal.drop(columns=['index'])  


withdrawal.info()

withdrawal.insert(2, 'Year', 2013)


withdrawal

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 14 to 19
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  withdrawal_count  Year
0      Andhra Pradesh              2653  2013
1               Assam              1744  2013
2               Bihar              3002  2013
3          Chandigarh              4683  2013
4         Chattisgarh              1132  2013
5      DNH at silvasa                89  2013
6               Delhi             22472  2013
7       Diu and daman                46  2013
8                 Goa                93  2013
9            Gujarath             37745  2013
10            Haryana             47060  2013
11   Himachal Pradesh              6930  2013
12  Jammu and kashmir               532  2013
13          Jharkhand              1921  2013
14          Karnataka              6668  2013
15             Kerala              3423  2013
16             Ladakh                 1  2013
17     Madhya Pradesh             11422  2013
18        Maharashtra             30938  2013
19            Manipur                64  2013
20          Meghalaya                78  2013
21            Mizoram                42  2013
22             Orissa             14829  2013
23             Punjab             54689  2013
24          Rajasthan             15145  2013
25             Sikkim               356  2013
26          Tamilnadu              2935  2013
27          Telangana              1509  2013
28            Tripura               108  2013
29      Uttar pradesh              2433  2013
30        Uttarakhand               566  2013
31        West Bengal              1198  2013

# Prison

In [18]:
del prison

In [15]:
# del temp
temp=df_2013
prison=temp[temp['disp_name'] == '38']
# del avg_decision_end
prison
prison = prison["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
prison['state_code']=prison['state_code'].sort_values()
prison.rename(columns={"index": "state", "state_code": "prison_count"}, inplace=True)
new_rows_prison = pd.DataFrame({'state' : ['Andhra Pradesh','Chandigarh','Chattisgarh','DNH at silvasa','Diu and daman','Goa','Gujarath','Himachal Pradesh','Jammu and kashmir','Kerala','Ladakh','Madhya Pradesh','Manipur','Meghalaya','Mizoram','Orissa','Sikkim','Tamilnadu','Telangana','Tripura','Uttar pradesh','Uttarakhand','West Bengal'], 'prison_count' : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]})

prison= pd.concat([new_rows_prison, prison], ignore_index=True)
# prison
prison=prison.sort_values(by='state')
prison=prison.reset_index()
prison=prison.drop(columns=['index'])  
prison.insert(2, 'Year', 2013)
prison.info()
prison
# del dismissed_2012

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
 2   Year          32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

                state  prison_count  Year
0      Andhra Pradesh             0  2013
1               Assam           553  2013
2               Bihar             3  2013
3          Chandigarh             0  2013
4         Chattisgarh             0  2013
5      DNH at silvasa             0  2013
6               Delhi             2  2013
7       Diu and daman             0  2013
8                 Goa             0  2013
9            Gujarath             0  2013
10            Haryana            69  2013
11   Himachal Pradesh             0  2013
12  Jammu and kashmir             0  2013
13          Jharkhand             9  2013
14          Karnataka             3  2013
15             Kerala             0  2013
16             Ladakh             0  2013
17     Madhya Pradesh             0  2013
18        Maharashtra            17  2013
19            Manipur             0  2013
20          Meghalaya             0  2013
21            Mizoram             0  2013
22             Orissa             0  2013
23             Punjab            73  2013
24          Rajasthan            14  2013
25             Sikkim             0  2013
26          Tamilnadu             0  2013
27          Telangana             0  2013
28            Tripura             0  2013
29      Uttar pradesh             0  2013
30        Uttarakhand             0  2013
31        West Bengal             0  2013

# Dismissed cases

In [20]:
del temp
temp=df_2013
dismissed=temp[temp['disp_name'] == '22']
# del avg_decision_end
# dismissed
dismissed = dismissed["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
dismissed['state_code']=dismissed['state_code'].sort_values()
dismissed.rename(columns={"index": "state", "state_code": "dismissed_count"}, inplace=True)
# new_rows_dismissed = pd.DataFrame({'state' : [ 'Ladakh'], 'dismissed_count' : [ 0 ]})
# dismissed
# dismissed= pd.concat([new_rows_dismissed, dismissed], ignore_index=True)
# dismissed
dismissed=dismissed.sort_values(by='state')
dismissed=dismissed.reset_index()
dismissed=dismissed.drop(columns=['index'])  
dismissed.insert(2, 'Year', 2013)
dismissed

                state  dismissed_count  Year
0      Andhra Pradesh            36882  2013
1               Assam            13227  2013
2               Bihar            34561  2013
3          Chandigarh             4476  2013
4         Chattisgarh             6304  2013
5      DNH at silvasa               65  2013
6               Delhi            19709  2013
7       Diu and daman               33  2013
8                 Goa               18  2013
9            Gujarath            27380  2013
10            Haryana            53250  2013
11   Himachal Pradesh             9915  2013
12  Jammu and kashmir             2925  2013
13          Jharkhand            10673  2013
14          Karnataka           104421  2013
15             Kerala            49062  2013
16             Ladakh                3  2013
17     Madhya Pradesh            61384  2013
18        Maharashtra            59404  2013
19            Manipur              679  2013
20          Meghalaya               80  2013
21            Mizoram               56  2013
22             Orissa             9300  2013
23             Punjab            79752  2013
24          Rajasthan            21428  2013
25             Sikkim               43  2013
26          Tamilnadu            87127  2013
27          Telangana            30405  2013
28            Tripura              802  2013
29      Uttar pradesh           106043  2013
30        Uttarakhand            13672  2013
31        West Bengal            41932  2013

# Merging

In [23]:
df_merged=pd.merge(dismissed,prison,on='state')
df_merged=pd.merge(df_merged,withdrawal,on='state')
df_merged=pd.merge(df_merged,decision_end_avg,on='state')
df_merged=pd.merge(df_merged,file_End_avg,on='state')
df_merged=pd.merge(df_merged,file_court_avg,on='state')
df_merged=pd.merge(df_merged,df_criminal_not,on='state')
df_merged=df_merged.drop(columns='Year_x')
df_merged=df_merged.drop(columns='Year_y')

# df_merged=df_merged.drop(df_merged.columns[[3, 6, 9,13]],axis = 1)
df_merged['year']=[2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013,2013]

/tmp/ipykernel_8527/3059237446.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,decision_end_avg,on='state')
/tmp/ipykernel_8527/3059237446.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,file_court_avg,on='state')

In [24]:
df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])
df_merged.info()
df_merged.to_csv('2013_filtered.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            32 non-null     int64
 1   state                           32 non-null     object
 2   dismissed_count                 32 non-null     int64
 3   prison_count                    32 non-null     int64
 4   withdrawal_count                32 non-null     int64
 5   avg_decision_end_per1lakhcases  32 non-null     int64
 6   avg_fileend_per1lakhcases       32 non-null     int64
 7   avg_filecourt_per1lakhcases     32 non-null     int64
 8   criminal_count                  32 non-null     int64
 9   criminal_perlakh                32 non-null     float64
 10  noncriminal_count               32 non-null     int64
 11  noncriminal_perlakh             32 non-null     float64
dtypes: float64(2), int64(9), object(1)
memory usage: 3.2+ KB

In [22]:
del df_merged