In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '10g')\
    .config('spark.driver.memory', '50g')\
    .getOrCreate()
from pyspark.sql.functions import col
df_spark = spark.read.csv("/home/nirmala/Documents/precog_requirement_task/acts_sections.csv", header=True)
df_spark = df_spark.drop(col("act"))
df_spark = df_spark.drop(col("section"))
df_spark = df_spark.drop(col("bailable_ipc"))
df_spark = df_spark.drop(col("number_sections_ipc"))

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 07:26:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
df1=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2014.csv" ,header=True)
dp=df1
df_merged=df_spark.join(df1,
               df_spark.ddl_case_id == df1.ddl_case_id, 
               "right")

In [4]:
df_merged = df_merged.drop(col("dist_code"))
df_merged = df_merged.drop(col("cino"))
df_merged = df_merged.drop(col("court_no"))
df_merged = df_merged.drop(col("judge_position"))
df_merged = df_merged.drop(col("type_name"))
df_merged = df_merged.drop(col("purpose_name"))
df_merged = df_merged.drop(col("date_last_list"))
df_merged = df_merged.drop(col("female_adv_def"))
df_merged = df_merged.drop(col("female_petitioner"))
df_merged = df_merged.drop(col("female_adv_pet"))
df_merged=df_merged.drop(df_merged.columns[0])
# df_merged=df_merged.drop(col("ddl_case_id"))
print(df_merged.dtypes)
# df_merged.head(10)

[('criminal', 'string'), ('year', 'string'), ('state_code', 'string'), ('female_defendant', 'string'), ('disp_name', 'string'), ('date_of_filing', 'string'), ('date_of_decision', 'string'), ('date_first_list', 'string'), ('date_next_list', 'string')]

In [5]:
df_pandas = df_merged.toPandas()

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

In [6]:
del df_spark
del df_merged

In [7]:

df_2014=df_pandas
df_pandas_Copy=df_pandas
del df_pandas

In [8]:
df_2014['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df_2014['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df_2014['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df_2014['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df_2014['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df_2014['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df_2014['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df_2014['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df_2014['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df_2014['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df_2014['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df_2014['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df_2014['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df_2014['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df_2014['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df_2014['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df_2014['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df_2014['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df_2014['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df_2014['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df_2014['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df_2014['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df_2014['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df_2014['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df_2014['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df_2014['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df_2014['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df_2014['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df_2014['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df_2014['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df_2014['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df_2014['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

In [9]:
def create_new_column(row):
    if pd.isnull(row['date_next_list']):
        return 1
    else:
        return 0
df_2014['pending'] = df_2014.apply(create_new_column, axis=1)

In [10]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318335 entries, 0 to 2318334
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   date_of_filing    object
 6   date_of_decision  object
 7   date_first_list   object
 8   date_next_list    object
 9   pending           int64
dtypes: int64(1), object(9)
memory usage: 176.9+ MB

In [11]:
df_2014['filing'] = pd.to_datetime(df_2014['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

df_2014['first_list'] = pd.to_datetime(df_2014['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

df_2014['decision'] = pd.to_datetime(df_2014['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df_2014['last_list'] = pd.to_datetime(df_2014['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
df_2014['date_next_list'] = pd.to_datetime(df_2014['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 


df_2014['closing'] = df_2014['date_next_list'].dt.year

df_2014['closing']=df_2014['closing'].fillna('1900')

In [12]:
df_2014=df_2014.drop(columns=['date_of_decision','date_first_list','date_next_list'])

In [13]:
df_2014['file_reachcourt'] =(df_2014['first_list']-df_2014['filing']).dt.days
df_2014['file_end'] =(df_2014['last_list']-df_2014['filing']).dt.days
df_2014['decision_end'] =(df_2014['last_list']-df_2014['decision']).dt.days

In [14]:
df_2014=df_2014.drop(columns=['first_list','decision','last_list'])

In [15]:
def replace_negatives(x):
    if x < 0:
        return -1
    return x
df_2014['file_reachcourt']=df_2014['file_reachcourt'].apply(replace_negatives)

In [16]:
df_2014['file_end']=df_2014['file_end'].apply(replace_negatives)
df_2014['decision_end']=df_2014['decision_end'].apply(replace_negatives)

In [17]:
df_2014

,criminal,year,state_code,female_defendant,disp_name,date_of_filing,pending,filing,closing,file_reachcourt,file_end,decision_end
0,1,2014,Maharashtra,0 male,25,2014-01-01,0,2014-01-01,2015.0,41.0,586.0,0.0
1,1,2014,Maharashtra,0 male,22,2014-01-20,0,2014-01-20,2015.0,0.0,481.0,0.0
2,0,2014,Maharashtra,0 male,30,2014-01-30,0,2014-01-30,2015.0,0.0,405.0,0.0
3,1,2014,Maharashtra,-9998 unclear,25,2014-03-20,0,2014-03-20,2014.0,0.0,12.0,0.0
4,1,2014,Maharashtra,-9998 unclear,30,2014-03-25,0,2014-03-25,2014.0,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2318330,0,2014,Uttar pradesh,0 male,42,2014-11-21,0,2014-11-21,2014.0,15.0,15.0,0.0
2318331,0,2014,Uttar pradesh,0 male,42,2014-11-21,0,2014-11-21,2014.0,15.0,15.0,0.0
2318332,0,2014,Uttar pradesh,1 female,42,2014-11-21,0,2014-11-21,2014.0,15.0,15.0,0.0
2318333,0,2014,Uttar pradesh,0 male,42,2014-11-21,0,2014-11-21,2014.0,15.0,15.0,0.0
2318334,0,2014,Uttar pradesh,0 male,42,2014-11-22,0,2014-11-22,2014.0,14.0,14.0,0.0

In [18]:
df_2014['criminal'].unique()
df_2014['criminal'].replace(to_replace='0',value='criminal',inplace=True)
df_2014['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

In [19]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318335 entries, 0 to 2318334
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   date_of_filing    object
 6   pending           int64
 7   filing            datetime64[ns]
 8   closing           object
 9   file_reachcourt   float64
 10  file_end          float64
 11  decision_end      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(7)
memory usage: 212.3+ MB

In [20]:
import numpy as np

In [21]:
df_2014['file_reachcourt'] = pd.to_numeric(df_2014['file_reachcourt'], errors='coerce')

# Fill the missing and infinite values with -1
df_2014['file_reachcourt'] = df_2014['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_reachcourt' column to integers
df_2014['file_reachcourt'] = df_2014['file_reachcourt'].astype(int)

In [22]:
df_2014['file_end'] = pd.to_numeric(df_2014['file_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2014['file_end'] = df_2014['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_end ' column to integers
df_2014['file_end'] = df_2014['file_end'].astype(int)

In [23]:
df_2014['decision_end'] = pd.to_numeric(df_2014['decision_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2014['decision_end'] = df_2014['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'decision_end' column to integers
df_2014['decision_end'] = df_2014['decision_end'].astype(int)

In [24]:
df_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318335 entries, 0 to 2318334
Data columns (total 12 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   date_of_filing    object
 6   pending           int64
 7   filing            datetime64[ns]
 8   closing           object
 9   file_reachcourt   int64
 10  file_end          int64
 11  decision_end      int64
dtypes: datetime64[ns](1), int64(4), object(7)
memory usage: 212.3+ MB

In [25]:
df_2014

,criminal,year,state_code,female_defendant,disp_name,date_of_filing,pending,filing,closing,file_reachcourt,file_end,decision_end
0,Non-criminal,2014,Maharashtra,0 male,25,2014-01-01,0,2014-01-01,2015.0,41,586,0
1,Non-criminal,2014,Maharashtra,0 male,22,2014-01-20,0,2014-01-20,2015.0,0,481,0
2,criminal,2014,Maharashtra,0 male,30,2014-01-30,0,2014-01-30,2015.0,0,405,0
3,Non-criminal,2014,Maharashtra,-9998 unclear,25,2014-03-20,0,2014-03-20,2014.0,0,12,0
4,Non-criminal,2014,Maharashtra,-9998 unclear,30,2014-03-25,0,2014-03-25,2014.0,0,35,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2318330,criminal,2014,Uttar pradesh,0 male,42,2014-11-21,0,2014-11-21,2014.0,15,15,0
2318331,criminal,2014,Uttar pradesh,0 male,42,2014-11-21,0,2014-11-21,2014.0,15,15,0
2318332,criminal,2014,Uttar pradesh,1 female,42,2014-11-21,0,2014-11-21,2014.0,15,15,0
2318333,criminal,2014,Uttar pradesh,0 male,42,2014-11-21,0,2014-11-21,2014.0,15,15,0
2318334,criminal,2014,Uttar pradesh,0 male,42,2014-11-22,0,2014-11-22,2014.0,14,14,0

In [26]:
df_2014['decision_end'].unique()

array([   0,   -1,    9, ..., 1716,  739,  990])

In [27]:
# df_2014['criminal'] = df_2014['criminal'].fillna(-1)

In [28]:
# del temp
# del non_criminal_count_2014

In [59]:
#criminal count
temp=df_2014
temp2=df_2014
temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)

In [60]:
temp_criminal.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1627239 entries, 2 to 2318334
Data columns (total 12 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   criminal          1228177 non-null  object
 1   year              1627239 non-null  object
 2   state_code        1627239 non-null  object
 3   female_defendant  1627239 non-null  object
 4   disp_name         1627239 non-null  object
 5   date_of_filing    1627239 non-null  object
 6   pending           1627239 non-null  int64
 7   filing            1627239 non-null  datetime64[ns]
 8   closing           1627239 non-null  object
 9   file_reachcourt   1627239 non-null  int64
 10  file_end          1627239 non-null  int64
 11  decision_end      1627239 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(7)
memory usage: 161.4+ MB

In [61]:
# df_2014.info()

# df_2014['filing'] = pd.to_datetime(df_2014['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

# df_2014['first_list'] = pd.to_datetime(df_2014['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

# df_2014['decision'] = pd.to_datetime(df_2014['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

# df_2014['last_list'] = pd.to_datetime(df_2014['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
# df_2014['date_next_list'] = pd.to_datetime(df_2014['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 


# df_2014['closing'] = df_2014['date_next_list'].dt.year

# df_2014['closing']=df_2014['closing'].fillna('1900')


# df_2014=df_2014.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

# df_2014['file_reachcourt'] =(df_2014['first_list']-df_2014['filing']).dt.days
# df_2014['file_end'] =(df_2014['last_list']-df_2014['filing']).dt.days
# df_2014['decision_end'] =(df_2014['last_list']-df_2014['decision']).dt.days


# df_2014=df_2014.drop(columns=['first_list','decision','last_list'])

# def replace_negatives(x):
#     if x < 0:
#         return -1
#     return x
# df_2014['file_reachcourt']=df_2014['file_reachcourt'].apply(replace_negatives)


# df_2014['file_end']=df_2014['file_end'].apply(replace_negatives)
# df_2014['decision_end']=df_2014['decision_end'].apply(replace_negatives)


# df_2014



# df_2014['criminal'].unique()
# df_2014['criminal'].replace(to_replace='0',value='criminal',inplace=True)
# df_2014['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

# df_2014.info()

# import numpy as np


# df_2014['file_reachcourt'] = pd.to_numeric(df_2014['file_reachcourt'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2014['file_reachcourt'] = df_2014['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'file_reachcourt' column to integers
# df_2014['file_reachcourt'] = df_2014['file_reachcourt'].astype(int)

# df_2014['file_end'] = pd.to_numeric(df_2014['file_end'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2014['file_end'] = df_2014['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'file_end ' column to integers
# df_2014['file_end'] = df_2014['file_end'].astype(int)

# df_2014['decision_end'] = pd.to_numeric(df_2014['decision_end'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2014['decision_end'] = df_2014['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'decision_end' column to integers
# df_2014['decision_end'] = df_2014['decision_end'].astype(int)

# df_2014.info()

# df_2014

# df_2014['decision_end'].unique()


# # df_2014['criminal'] = df_2014['criminal'].fillna(-1)


# # del temp
# # del non_criminal_count_2014

# #criminal count
# temp=df_2014
# temp2=df_2014
# temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
# temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
# temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
# temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)  

# temp_criminal.info()

# Criminal count

In [62]:
criminal_count_2014 = temp_criminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
criminal_count_2014['state_code']=criminal_count_2014['state_code'].sort_values()
criminal_count_2014.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

criminal_count_2014

criminal_count_2014.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# criminal_count_2014= pd.concat([new_rows, criminal_count_2014], ignore_index=True)


criminal_count_2014['state']=criminal_count_2014['state'].sort_values()


criminal_count_2014=criminal_count_2014.sort_values(by='state')

criminal_count_2014.insert(2, 'Year', 2014)


criminal_count_2014=criminal_count_2014.reset_index()

criminal_count_2014=criminal_count_2014.drop(columns=['index'])

del temp_criminal

criminal_count_2014


criminal_count_2014['criminal_perlakh']=criminal_count_2014['criminal_count']/100000

non_criminal_count_2014 = temp_noncriminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
non_criminal_count_2014['state_code']=non_criminal_count_2014['state_code'].sort_values()
non_criminal_count_2014.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

non_criminal_count_2014

non_criminal_count_2014.info()

# new_rows = pd.DataFrame({'state' : ['Ladakh'], 'noncriminal_count' : [ 0 ]})


# non_criminal_count_2014= pd.concat([new_rows, non_criminal_count_2014], ignore_index=True)


non_criminal_count_2014['state']=non_criminal_count_2014['state'].sort_values()


non_criminal_count_2014=non_criminal_count_2014.sort_values(by='state')

# non_criminal_count_2014.insert(2, 'Year', 2014)


non_criminal_count_2014=non_criminal_count_2014.reset_index()

non_criminal_count_2014=non_criminal_count_2014.drop(columns=['index'])
non_criminal_count_2014

df_criminal_not=pd.merge(criminal_count_2014,non_criminal_count_2014,on='state')

df_criminal_not

df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

df_criminal_not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           32 non-null     object
 1   criminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              32 non-null     object
 1   noncriminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

,state,criminal_count,Year,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,Andhra Pradesh,43522,2014,0.43522,27153,0.27153
1,Assam,17450,2014,0.17450,21313,0.21313
2,Bihar,22731,2014,0.22731,81386,0.81386
3,Chandigarh,5425,2014,0.05425,1260,0.01260
4,Chattisgarh,20342,2014,0.20342,11466,0.11466
5,DNH at silvasa,153,2014,0.00153,170,0.00170
6,Delhi,35622,2014,0.35622,25111,0.25111
7,Diu and daman,178,2014,0.00178,75,0.00075
8,Goa,7160,2014,0.07160,6433,0.06433
9,Gujarath,110808,2014,1.10808,57707,0.57707
10,Haryana,75213,2014,0.75213,20023,0.20023
11,Himachal Pradesh,17766,2014,0.17766,8029,0.08029
12,Jammu and kashmir,8007,2014,0.08007,3223,0.03223
13,Jharkhand,11678,2014,0.11678,22845,0.22845
14,Karnataka,221417,2014,2.21417,98396,0.98396
15,Kerala,107699,2014,1.07699,61546,0.61546
16,Ladakh,9,2014,0.00009,2,0.00002
17,Madhya Pradesh,112437,2014,1.12437,109990,1.09990
18,Maharashtra,213807,2014,2.13807,111073,1.11073
19,Manipur,1757,2014,0.01757,1330,0.01330
20,Meghalaya,959,2014,0.00959,191,0.00191
21,Mizoram,115,2014,0.00115,72,0.00072
22,Orissa,29914,2014,0.29914,22005,0.22005
23,Punjab,66778,2014,0.66778,23600,0.23600
24,Rajasthan,101193,2014,1.01193,89975,0.89975
25,Sikkim,589,2014,0.00589,613,0.00613
26,Tamilnadu,82206,2014,0.82206,50163,0.50163
27,Telangana,24382,2014,0.24382,21086,0.21086
28,Tripura,1640,2014,0.01640,1712,0.01712
29,Uttar pradesh,218253,2014,2.18253,173288,1.73288
30,Uttarakhand,22425,2014,0.22425,4178,0.04178
31,West Bengal,45604,2014,0.45604,34744,0.34744

In [57]:
# del df_criminal_not

# Pending Cases in 2014

In [39]:
# new_rows_pending = pd.DataFrame({'state' : ['DNH at silvasa','Ladakh','Meghalaya','Mizoram','Chandigarh'], 'pendingcases_count' : [ 0,0,0,0,0]})

# pending_Cases= pd.concat([new_rows_pending, pending_Cases], ignore_index=True)

In [40]:
# df_pending=dp

# df_pending = df_pending.drop(col("dist_code"))
# df_pending = df_pending.drop(col("ddl_case_id"))
# df_pending = df_pending.drop(col("court_no"))
# df_pending = df_pending.drop(col("cino"))
# df_pending = df_pending.drop(col("judge_position"))
# df_pending = df_pending.drop(col("female_defendant"))
# df_pending = df_pending.drop(col("female_petitioner"))
# df_pending = df_pending.drop(col("female_adv_def"))
# df_pending = df_pending.drop(col("female_adv_pet"))
# df_pending = df_pending.drop(col("type_name"))
# df_pending = df_pending.drop(col("purpose_name"))
# df_pending = df_pending.drop(col("disp_name"))
# df_pending = df_pending.drop(col("date_last_list"))
# df_pending = df_pending.drop(col("date_first_list"))


# df_pending

# df = df_pending.toPandas()

# df['date_of_filing'] = pd.to_datetime(df['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 


# df['date_of_decision'] = pd.to_datetime(df['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

# df['date_next_list'] = pd.to_datetime(df['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 



# # df['file_end'] =(df['date_next_list']-df['date_of_filing']).dt.year
# df.info()

# df['closing'] = df['date_next_list'].dt.year
# df['filing'] = df['date_of_filing'].dt.year


# df=df.drop(columns=['date_of_filing','date_of_decision','date_next_list'])

# df['closing']=df['closing'].fillna('1900')


# df['closing']=df['closing'].astype(int)
# df['filing']=df['filing'].astype(int)

# df

# df.info()

# df = df[~df['closing'].isin([2010,2011,2012,2013,2014,2015,2016,2017,2018])]


# df

# df['pending_years']=df['closing']-df['filing']

# df


# df['filing'].unique()

# df=df.drop(columns=['filing','closing'])

# df=df.reset_index()

# df=df.drop(columns=['index'])
# df

# df['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
# df['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
# df['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
# df['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
# df['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
# df['state_code'].replace(to_replace='06', value="Assam",inplace=True)
# df['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
# df['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
# df['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
# df['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
# df['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
# df['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
# df['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
# df['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
# df['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
# df['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
# df['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
# df['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
# df['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
# df['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
# df['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
# df['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
# df['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
# df['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
# df['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
# df['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
# df['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
# df['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
# df['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
# df['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
# df['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
# df['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)


# df

# df_pending = df["state_code"].value_counts().reset_index()


# df_pending

# df_pending['state_code']=df_pending['state_code'].sort_values()
# df_pending.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
# new_rows_pending = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'pendingcases_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
# df_pending= pd.concat([new_rows_pending, df_pending], ignore_index=True)
# df_pending

# df_pending['pending_casesperlakh']=df_pending['pendingcases_count']/100000
# df_pending.insert(3, 'Year', 2014)

# df_pending

# Average Time to reach court after filing per 1 lakh cases

In [41]:
# Average Time to reach court after filing per 1 lakh cases

# del temp
temp=df_2014

avg_file_court=temp.drop(temp[temp['file_reachcourt'] < 0].index)
# del avg_file_court

avg_file_court

# filing_reach = df["file_reachcourt"].value_counts().reset_index()
avg_file_court = avg_file_court.groupby('state_code')
# df_mean = filing_reach['file_reachcourt'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_court.apply(avg_days,"file_reachcourt")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()
del avg_file_court

file_court_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_court_avg.rename(columns={"state_code": "state", 0: "avg_filecourt_per1lakhcases"}, inplace=True)
file_court_avg

# new_rows_file_court_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_filecourt_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_court_avg= pd.concat([new_rows_file_court_avg, file_court_avg], ignore_index=True)

file_court_avg
del df_avg_days


file_court_avg=file_court_avg.sort_values(by='state')




file_court_avg.info()



file_court_avg


file_court_avg=file_court_avg.reset_index()
file_court_avg=file_court_avg.drop(columns=['index'])  


file_court_avg.info()

file_court_avg.insert(2, 'Year', 2014)


# file_court_avg=file_court_avg.drop(columns=['Year'])  
file_court_avg

file_court_avg['avg_filecourt_per1lakhcases']=file_court_avg['avg_filecourt_per1lakhcases'].astype(int)

file_court_avg

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

                state  avg_filecourt_per1lakhcases  Year
0      Andhra Pradesh                          188  2014
1               Assam                          578  2014
2               Bihar                          410  2014
3          Chandigarh                          540  2014
4         Chattisgarh                          431  2014
5      DNH at silvasa                        14884  2014
6               Delhi                          215  2014
7       Diu and daman                        16820  2014
8                 Goa                         1359  2014
9            Gujarath                           46  2014
10            Haryana                           56  2014
11   Himachal Pradesh                          435  2014
12  Jammu and kashmir                         7465  2014
13          Jharkhand                          719  2014
14          Karnataka                           14  2014
15             Kerala                           94  2014
16             Ladakh                     11501000  2014
17     Madhya Pradesh                           69  2014
18        Maharashtra                           15  2014
19            Manipur                          933  2014
20          Meghalaya                         3162  2014
21            Mizoram                       239034  2014
22             Orissa                          810  2014
23             Punjab                           37  2014
24          Rajasthan                          120  2014
25             Sikkim                         1089  2014
26          Tamilnadu                          123  2014
27          Telangana                          469  2014
28            Tripura                         2443  2014
29      Uttar pradesh                           78  2014
30        Uttarakhand                          271  2014
31        West Bengal                          617  2014

# Average Time to End case after filing per 1 lakh cases in 2014

In [42]:
temp=df_2014

avg_file_end=temp.drop(temp[temp['file_end'] < 0].index)
# del avg_file_end

avg_file_end

# filing_reach = df["file_end"].value_counts().reset_index()
avg_file_end = avg_file_end.groupby('state_code')
# df_mean = filing_reach['file_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_end.apply(avg_days,"file_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days

file_End_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_End_avg.rename(columns={"state_code": "state", 0: "avg_fileend_per1lakhcases"}, inplace=True)
file_End_avg

# new_rows_file_End_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_fileend_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_End_avg= pd.concat([new_rows_file_End_avg, file_End_avg], ignore_index=True)

# file_End_avg


file_End_avg=file_End_avg.sort_values(by='state')




file_End_avg.info()



file_End_avg


file_End_avg=file_End_avg.reset_index()
file_End_avg=file_End_avg.drop(columns=['index'])  


file_End_avg.info()

file_End_avg.insert(2, 'Year', 2014)


file_End_avg

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg
del avg_file_end
del df_avg_days

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     int64
 2   Year                       32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

# Average Time to End case after decision per 1 lakh cases in 2012

In [43]:
del temp
temp=df_2014

avg_decision_end=temp.drop(temp[temp['decision_end'] < 0].index)
# del avg_decision_end

avg_decision_end

# filing_reach = df["decision_end"].value_counts().reset_index()
avg_decision_end = avg_decision_end.groupby('state_code')
# df_mean = filing_reach['decision_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_decision_end.apply(avg_days,"decision_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()

decision_end_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
decision_end_avg.rename(columns={"state_code": "state", 0: "avg_decision_end_per1lakhcases"}, inplace=True)
decision_end_avg

# new_rows_decision_end_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_decision_end_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# decision_end_avg= pd.concat([new_rows_decision_end_avg, decision_end_avg], ignore_index=True)

# decision_end_avg


decision_end_avg=decision_end_avg.sort_values(by='state')




decision_end_avg.info()



decision_end_avg


decision_end_avg=decision_end_avg.reset_index()
decision_end_avg=decision_end_avg.drop(columns=['index'])  


decision_end_avg.info()

decision_end_avg.insert(2, 'Year', 2014)


decision_end_avg

decision_end_avg['avg_decision_end_per1lakhcases']=decision_end_avg['avg_decision_end_per1lakhcases'].astype(int)

decision_end_avg
del df_avg_days
del avg_decision_end

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

# Withdrawal

In [44]:
del temp
temp=df_2014

withdrawal=temp[temp['disp_name'] == '51']
# del avg_decision_end

# withdrawal
withdrawal = withdrawal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
withdrawal['state_code']=withdrawal['state_code'].sort_values()
withdrawal.rename(columns={"index": "state", "state_code": "withdrawal_count"}, inplace=True)
new_rows_withdrawal = pd.DataFrame({'state' : [ 'Ladakh'], 'withdrawal_count' : [ 0 ]})

withdrawal

withdrawal= pd.concat([new_rows_withdrawal, withdrawal], ignore_index=True)

# withdrawal


withdrawal=withdrawal.sort_values(by='state')




withdrawal.info()



withdrawal


withdrawal=withdrawal.reset_index()
withdrawal=withdrawal.drop(columns=['index'])  


withdrawal.info()

withdrawal.insert(2, 'Year', 2014)


withdrawal

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 16 to 19
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  withdrawal_count  Year
0      Andhra Pradesh               679  2014
1               Assam               528  2014
2               Bihar              1533  2014
3          Chandigarh              1095  2014
4         Chattisgarh               409  2014
5      DNH at silvasa                14  2014
6               Delhi              5796  2014
7       Diu and daman                 9  2014
8                 Goa                34  2014
9            Gujarath              7948  2014
10            Haryana             13466  2014
11   Himachal Pradesh              2393  2014
12  Jammu and kashmir               115  2014
13          Jharkhand               793  2014
14          Karnataka              1925  2014
15             Kerala              1095  2014
16             Ladakh                 0  2014
17     Madhya Pradesh              3053  2014
18        Maharashtra              8801  2014
19            Manipur                11  2014
20          Meghalaya                29  2014
21            Mizoram                 5  2014
22             Orissa              4396  2014
23             Punjab             14760  2014
24          Rajasthan              3347  2014
25             Sikkim               110  2014
26          Tamilnadu               828  2014
27          Telangana               302  2014
28            Tripura                24  2014
29      Uttar pradesh               674  2014
30        Uttarakhand               187  2014
31        West Bengal               507  2014

# Prison

In [49]:
# del prison

In [52]:
# del temp
temp=df_2014
prison=temp[temp['disp_name'] == '38']
# del avg_decision_end
prison
prison = prison["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
prison['state_code']=prison['state_code'].sort_values()
prison.rename(columns={"index": "state", "state_code": "prison_count"}, inplace=True)
new_rows_prison = pd.DataFrame({'state' : ['Andhra Pradesh','Chandigarh','Chattisgarh','DNH at silvasa','Diu and daman','Goa','Gujarath','Himachal Pradesh','Jammu and kashmir','Jharkhand','Karnataka','Ladakh','Madhya Pradesh','Manipur','Meghalaya','Mizoram','Orissa','Sikkim','Tamilnadu','Telangana','Tripura','Uttar pradesh','Uttarakhand','West Bengal'], 'prison_count' : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]})

prison= pd.concat([new_rows_prison, prison], ignore_index=True)
prison
prison=prison.sort_values(by='state')
prison=prison.reset_index()
prison=prison.drop(columns=['index'])  
prison.insert(2, 'Year', 2014)
prison.info()
prison
# del dismissed_2012

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
 2   Year          32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

                state  prison_count  Year
0      Andhra Pradesh             0  2014
1               Assam           138  2014
2               Bihar             3  2014
3          Chandigarh             0  2014
4         Chattisgarh             0  2014
5      DNH at silvasa             0  2014
6               Delhi             1  2014
7       Diu and daman             0  2014
8                 Goa             0  2014
9            Gujarath             0  2014
10            Haryana            20  2014
11   Himachal Pradesh             0  2014
12  Jammu and kashmir             0  2014
13          Jharkhand             0  2014
14          Karnataka             0  2014
15             Kerala             1  2014
16             Ladakh             0  2014
17     Madhya Pradesh             0  2014
18        Maharashtra             3  2014
19            Manipur             0  2014
20          Meghalaya             0  2014
21            Mizoram             0  2014
22             Orissa             0  2014
23             Punjab            11  2014
24          Rajasthan             2  2014
25             Sikkim             0  2014
26          Tamilnadu             0  2014
27          Telangana             0  2014
28            Tripura             0  2014
29      Uttar pradesh             0  2014
30        Uttarakhand             0  2014
31        West Bengal             0  2014

# Dismissed cases

In [55]:
del temp
temp=df_2014
dismissed=temp[temp['disp_name'] == '22']
# del avg_decision_end
# dismissed
dismissed = dismissed["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
dismissed['state_code']=dismissed['state_code'].sort_values()
dismissed.rename(columns={"index": "state", "state_code": "dismissed_count"}, inplace=True)
# new_rows_dismissed = pd.DataFrame({'state' : [ 'Ladakh','Diu and daman','Goa'], 'dismissed_count' : [ 0,0,0 ]})
# dismissed
# dismissed= pd.concat([new_rows_dismissed, dismissed], ignore_index=True)
# dismissed
dismissed=dismissed.sort_values(by='state')
dismissed=dismissed.reset_index()
dismissed=dismissed.drop(columns=['index'])  
dismissed.insert(2, 'Year', 2014)
dismissed

                state  dismissed_count  Year
0      Andhra Pradesh            11372  2014
1               Assam             3940  2014
2               Bihar            11051  2014
3          Chandigarh             1338  2014
4         Chattisgarh             2025  2014
5      DNH at silvasa               23  2014
6               Delhi             5389  2014
7       Diu and daman                4  2014
8                 Goa                6  2014
9            Gujarath             6031  2014
10            Haryana            14745  2014
11   Himachal Pradesh             3316  2014
12  Jammu and kashmir              961  2014
13          Jharkhand             3584  2014
14          Karnataka            29782  2014
15             Kerala            16548  2014
16             Ladakh                1  2014
17     Madhya Pradesh            17558  2014
18        Maharashtra            17874  2014
19            Manipur              210  2014
20          Meghalaya               44  2014
21            Mizoram                5  2014
22             Orissa             2196  2014
23             Punjab            21337  2014
24          Rajasthan             5405  2014
25             Sikkim               14  2014
26          Tamilnadu            25235  2014
27          Telangana             6740  2014
28            Tripura              212  2014
29      Uttar pradesh            28140  2014
30        Uttarakhand             2828  2014
31        West Bengal            10629  2014

In [54]:
del dismissed

# Merging

In [64]:
df_merged=pd.merge(dismissed,prison,on='state')
df_merged=pd.merge(df_merged,withdrawal,on='state')
df_merged=pd.merge(df_merged,decision_end_avg,on='state')
df_merged=pd.merge(df_merged,file_End_avg,on='state')
df_merged=pd.merge(df_merged,file_court_avg,on='state')
# df_merged=pd.merge(df_merged,df_pending,on='state')
df_merged=pd.merge(df_merged,df_criminal_not,on='state')
df_merged=df_merged.drop(columns='Year_x')
df_merged=df_merged.drop(columns='Year_y')


# df_merged=df_merged.drop(df_merged.columns[[3, 6, 9,13]],axis = 1)
df_merged['year']=[2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014,2014]
df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])
df_merged
df_merged.to_csv('2014_filtered.csv', index=False)
df_merged.to_csv('2014_filtered_copy.csv', index=False)

/tmp/ipykernel_4583/1750855574.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,decision_end_avg,on='state')
/tmp/ipykernel_4583/1750855574.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,file_court_avg,on='state')

In [65]:
del df_merged

In [66]:
del prison
del withdrawal
del decision_end_avg
del file_End_avg
del file_court_avg
# del df_pending
# del criminal_count

NameError: name 'criminal_count' is not defined