In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '10g')\
    .config('spark.driver.memory', '50g')\
    .getOrCreate()
from pyspark.sql.functions import col
df_spark = spark.read.csv("/home/nirmala/Documents/precog_requirement_task/acts_sections.csv", header=True)
df_spark = df_spark.drop(col("act"))
df_spark = df_spark.drop(col("section"))
df_spark = df_spark.drop(col("bailable_ipc"))
df_spark = df_spark.drop(col("number_sections_ipc"))

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 07:55:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df1=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2015.csv" ,header=True)
df_merged=df_spark.join(df1,
               df_spark.ddl_case_id == df1.ddl_case_id, 
               "right")
dp=df1

In [3]:
df_merged = df_merged.drop(col("dist_code"))
df_merged = df_merged.drop(col("cino"))
df_merged = df_merged.drop(col("court_no"))
df_merged = df_merged.drop(col("judge_position"))
df_merged = df_merged.drop(col("type_name"))
df_merged = df_merged.drop(col("purpose_name"))
df_merged = df_merged.drop(col("date_last_list"))
df_merged = df_merged.drop(col("female_adv_def"))
df_merged = df_merged.drop(col("female_petitioner"))
df_merged = df_merged.drop(col("female_adv_pet"))
df_merged=df_merged.drop(df_merged.columns[0])
# df_merged=df_merged.drop(col("ddl_case_id"))
print(df_merged.dtypes)
# df_merged.head(10)

[('criminal', 'string'), ('year', 'string'), ('state_code', 'string'), ('female_defendant', 'string'), ('disp_name', 'string'), ('date_of_filing', 'string'), ('date_of_decision', 'string'), ('date_first_list', 'string'), ('date_next_list', 'string')]

In [4]:
df_pandas = df_merged.toPandas()

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

In [5]:
del df_spark
del df_merged

In [6]:

df_2015=df_pandas
del df_pandas

In [7]:
df_2015['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df_2015['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df_2015['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df_2015['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df_2015['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df_2015['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df_2015['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df_2015['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df_2015['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df_2015['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df_2015['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df_2015['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df_2015['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df_2015['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df_2015['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df_2015['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df_2015['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df_2015['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df_2015['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df_2015['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df_2015['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df_2015['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df_2015['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df_2015['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df_2015['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df_2015['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df_2015['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df_2015['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df_2015['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df_2015['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df_2015['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df_2015['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

In [8]:
def create_new_column(row):
    if pd.isnull(row['date_next_list']):
        return 1
    else:
        return 0
df_2015['pending'] = df_2015.apply(create_new_column, axis=1)

In [9]:
df_2015.info()

df_2015['filing'] = pd.to_datetime(df_2015['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

df_2015['first_list'] = pd.to_datetime(df_2015['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

df_2015['decision'] = pd.to_datetime(df_2015['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df_2015['last_list'] = pd.to_datetime(df_2015['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
df_2015['date_next_list'] = pd.to_datetime(df_2015['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 


df_2015['closing'] = df_2015['date_next_list'].dt.year

df_2015['closing']=df_2015['closing'].fillna('1900')


df_2015=df_2015.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

df_2015['file_reachcourt'] =(df_2015['first_list']-df_2015['filing']).dt.days
df_2015['file_end'] =(df_2015['last_list']-df_2015['filing']).dt.days
df_2015['decision_end'] =(df_2015['last_list']-df_2015['decision']).dt.days


df_2015=df_2015.drop(columns=['first_list','decision','last_list'])

def replace_negatives(x):
    if x < 0:
        return -1
    return x
df_2015['file_reachcourt']=df_2015['file_reachcourt'].apply(replace_negatives)


df_2015['file_end']=df_2015['file_end'].apply(replace_negatives)
df_2015['decision_end']=df_2015['decision_end'].apply(replace_negatives)


df_2015



df_2015['criminal'].unique()
df_2015['criminal'].replace(to_replace='0',value='criminal',inplace=True)
df_2015['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

df_2015.info()

import numpy as np


df_2015['file_reachcourt'] = pd.to_numeric(df_2015['file_reachcourt'], errors='coerce')

# Fill the missing and infinite values with -1
df_2015['file_reachcourt'] = df_2015['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_reachcourt' column to integers
df_2015['file_reachcourt'] = df_2015['file_reachcourt'].astype(int)

df_2015['file_end'] = pd.to_numeric(df_2015['file_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2015['file_end'] = df_2015['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_end ' column to integers
df_2015['file_end'] = df_2015['file_end'].astype(int)

df_2015['decision_end'] = pd.to_numeric(df_2015['decision_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2015['decision_end'] = df_2015['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'decision_end' column to integers
df_2015['decision_end'] = df_2015['decision_end'].astype(int)

df_2015.info()

df_2015

df_2015['decision_end'].unique()


# df_2015['criminal'] = df_2015['criminal'].fillna(-1)


# del temp
# del non_criminal_count_2015

#criminal count
temp=df_2015
temp2=df_2015
temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)  

temp_criminal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3366911 entries, 0 to 3366910
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   date_of_filing    object
 6   date_of_decision  object
 7   date_first_list   object
 8   date_next_list    object
 9   pending           int64
dtypes: int64(1), object(9)
memory usage: 256.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3366911 entries, 0 to 3366910
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   pending           int64
 6   filing            datetime64[ns]
 7   closing           object
 8   file_reachcourt   float64
 9   file_end          float64
 10  decision_end      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 282.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3366911 entries, 0 to 3366910
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   pending           int64
 6   filing            datetime64[ns]
 7   closing           object
 8   file_reachcourt   int64
 9   file_end          int64
 10  decision_end      int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 282.6+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2251909 entries, 2 to 3366891
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   pending           int64
 6   filing            datetime64[ns]
 7   closing           object
 8   file_reachcourt   int64
 9   file_end          int64
 10  decision_end      int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 206.2+ MB

In [11]:
del df_criminal_not

# Criminal count

In [12]:
criminal_count_2015 = temp_criminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
criminal_count_2015['state_code']=criminal_count_2015['state_code'].sort_values()
criminal_count_2015.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

criminal_count_2015

criminal_count_2015.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# criminal_count_2015= pd.concat([new_rows, criminal_count_2015], ignore_index=True)


criminal_count_2015['state']=criminal_count_2015['state'].sort_values()


criminal_count_2015=criminal_count_2015.sort_values(by='state')

criminal_count_2015.insert(2, 'Year', 2015)


criminal_count_2015=criminal_count_2015.reset_index()

criminal_count_2015=criminal_count_2015.drop(columns=['index'])

# del temp_criminal

criminal_count_2015


criminal_count_2015['criminal_perlakh']=criminal_count_2015['criminal_count']/100000

non_criminal_count_2015 = temp_noncriminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
non_criminal_count_2015['state_code']=non_criminal_count_2015['state_code'].sort_values()
non_criminal_count_2015.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

non_criminal_count_2015

non_criminal_count_2015.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# non_criminal_count_2015= pd.concat([new_rows, non_criminal_count_2015], ignore_index=True)


non_criminal_count_2015['state']=non_criminal_count_2015['state'].sort_values()


non_criminal_count_2015=non_criminal_count_2015.sort_values(by='state')

non_criminal_count_2015.insert(2, 'Year', 2015)


non_criminal_count_2015=non_criminal_count_2015.reset_index()

non_criminal_count_2015=non_criminal_count_2015.drop(columns=['index'])
non_criminal_count_2015

df_criminal_not=pd.merge(criminal_count_2015,non_criminal_count_2015,on='state')

df_criminal_not

df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

df_criminal_not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           32 non-null     object
 1   criminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              32 non-null     object
 1   noncriminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

,state,criminal_count,Year_x,criminal_perlakh,noncriminal_count,Year_y,noncriminal_perlakh
0,Andhra Pradesh,60338,2015,0.60338,33901,2015,0.33901
1,Assam,25146,2015,0.25146,24596,2015,0.24596
2,Bihar,22182,2015,0.22182,98608,2015,0.98608
3,Chandigarh,7684,2015,0.07684,1599,2015,0.01599
4,Chattisgarh,32383,2015,0.32383,18865,2015,0.18865
5,DNH at silvasa,190,2015,0.00190,189,2015,0.00189
6,Delhi,55415,2015,0.55415,39499,2015,0.39499
7,Diu and daman,343,2015,0.00343,150,2015,0.00150
8,Goa,11202,2015,0.11202,9575,2015,0.09575
9,Gujarath,153794,2015,1.53794,67137,2015,0.67137
10,Haryana,129791,2015,1.29791,30430,2015,0.30430
11,Himachal Pradesh,26217,2015,0.26217,11757,2015,0.11757
12,Jammu and kashmir,14919,2015,0.14919,3157,2015,0.03157
13,Jharkhand,11442,2015,0.11442,31881,2015,0.31881
14,Karnataka,264322,2015,2.64322,87121,2015,0.87121
15,Kerala,133378,2015,1.33378,84269,2015,0.84269
16,Ladakh,18,2015,0.00018,6,2015,0.00006
17,Madhya Pradesh,141638,2015,1.41638,136493,2015,1.36493
18,Maharashtra,306390,2015,3.06390,135965,2015,1.35965
19,Manipur,2362,2015,0.02362,2335,2015,0.02335
20,Meghalaya,1301,2015,0.01301,419,2015,0.00419
21,Mizoram,251,2015,0.00251,89,2015,0.00089
22,Orissa,36931,2015,0.36931,24240,2015,0.24240
23,Punjab,94628,2015,0.94628,35849,2015,0.35849
24,Rajasthan,111924,2015,1.11924,74268,2015,0.74268
25,Sikkim,766,2015,0.00766,676,2015,0.00676
26,Tamilnadu,101505,2015,1.01505,46580,2015,0.46580
27,Telangana,32917,2015,0.32917,29176,2015,0.29176
28,Tripura,2082,2015,0.02082,1728,2015,0.01728
29,Uttar pradesh,372371,2015,3.72371,216856,2015,2.16856
30,Uttarakhand,23830,2015,0.23830,5188,2015,0.05188
31,West Bengal,74249,2015,0.74249,49130,2015,0.49130

# Pending Cases in 2010

In [11]:
# df_pending=dp

# df_pending = df_pending.drop(col("dist_code"))
# df_pending = df_pending.drop(col("ddl_case_id"))
# df_pending = df_pending.drop(col("court_no"))
# df_pending = df_pending.drop(col("cino"))
# df_pending = df_pending.drop(col("judge_position"))
# df_pending = df_pending.drop(col("female_defendant"))
# df_pending = df_pending.drop(col("female_petitioner"))
# df_pending = df_pending.drop(col("female_adv_def"))
# df_pending = df_pending.drop(col("female_adv_pet"))
# df_pending = df_pending.drop(col("type_name"))
# df_pending = df_pending.drop(col("purpose_name"))
# df_pending = df_pending.drop(col("disp_name"))
# df_pending = df_pending.drop(col("date_last_list"))
# df_pending = df_pending.drop(col("date_first_list"))


# df_pending

# df = df_pending.toPandas()

# df['date_of_filing'] = pd.to_datetime(df['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 


# df['date_of_decision'] = pd.to_datetime(df['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

# df['date_next_list'] = pd.to_datetime(df['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 



# # df['file_end'] =(df['date_next_list']-df['date_of_filing']).dt.year
# df.info()

# df['closing'] = df['date_next_list'].dt.year
# df['filing'] = df['date_of_filing'].dt.year


# df=df.drop(columns=['date_of_filing','date_of_decision','date_next_list'])

# df['closing']=df['closing'].fillna('1900')


# df['closing']=df['closing'].astype(int)
# df['filing']=df['filing'].astype(int)

# df

# df.info()

# df = df[~df['closing'].isin([2010,2011,2012,2013,2014,2015,2016,2017,2018])]


# df

# df['pending_years']=df['closing']-df['filing']

# df


# df['filing'].unique()

# df=df.drop(columns=['filing','closing'])

# df=df.reset_index()

# df=df.drop(columns=['index'])
# df

# df['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
# df['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
# df['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
# df['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
# df['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
# df['state_code'].replace(to_replace='06', value="Assam",inplace=True)
# df['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
# df['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
# df['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
# df['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
# df['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
# df['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
# df['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
# df['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
# df['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
# df['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
# df['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
# df['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
# df['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
# df['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
# df['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
# df['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
# df['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
# df['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
# df['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
# df['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
# df['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
# df['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
# df['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
# df['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
# df['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
# df['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

# df

# df_pending = df["state_code"].value_counts().reset_index()


# df_pending

# df_pending['state_code']=df_pending['state_code'].sort_values()
# df_pending.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
# new_rows_pending = pd.DataFrame({'state' : ['Chandigarh','DNH at silvasa','Diu and daman','Ladakh','Meghalaya'], 'pendingcases_count' : [ 0,0,0,0,0]})
# df_pending= pd.concat([new_rows_pending, df_pending], ignore_index=True)
# df_pending

# df_pending['pending_casesperlakh']=df_pending['pendingcases_count']/100000
# df_pending.insert(3, 'Year', 2015)

# df_pending

# Average Time to reach court after filing per 1 lakh cases

In [13]:
# Average Time to reach court after filing per 1 lakh cases

# del temp
temp=df_2015

avg_file_court=temp.drop(temp[temp['file_reachcourt'] < 0].index)
# del avg_file_court

avg_file_court

# filing_reach = df["file_reachcourt"].value_counts().reset_index()
avg_file_court = avg_file_court.groupby('state_code')
# df_mean = filing_reach['file_reachcourt'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_court.apply(avg_days,"file_reachcourt")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()
del avg_file_court

file_court_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_court_avg.rename(columns={"state_code": "state", 0: "avg_filecourt_per1lakhcases"}, inplace=True)
file_court_avg

# new_rows_file_court_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_filecourt_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_court_avg= pd.concat([new_rows_file_court_avg, file_court_avg], ignore_index=True)

file_court_avg
del df_avg_days


file_court_avg=file_court_avg.sort_values(by='state')




file_court_avg.info()



file_court_avg


file_court_avg=file_court_avg.reset_index()
file_court_avg=file_court_avg.drop(columns=['index'])  


file_court_avg.info()

file_court_avg.insert(2, 'Year', 2015)


# file_court_avg=file_court_avg.drop(columns=['Year'])  
file_court_avg

file_court_avg['avg_filecourt_per1lakhcases']=file_court_avg['avg_filecourt_per1lakhcases'].astype(int)

file_court_avg

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

                state  avg_filecourt_per1lakhcases  Year
0      Andhra Pradesh                          113  2015
1               Assam                          308  2015
2               Bihar                          232  2015
3          Chandigarh                          154  2015
4         Chattisgarh                          148  2015
5      DNH at silvasa                        10691  2015
6               Delhi                          114  2015
7       Diu and daman                         4890  2015
8                 Goa                          910  2015
9            Gujarath                           19  2015
10            Haryana                           24  2015
11   Himachal Pradesh                          180  2015
12  Jammu and kashmir                         2461  2015
13          Jharkhand                          219  2015
14          Karnataka                            9  2015
15             Kerala                           54  2015
16             Ladakh                      3663250  2015
17     Madhya Pradesh                           44  2015
18        Maharashtra                            8  2015
19            Manipur                          367  2015
20          Meghalaya                         1141  2015
21            Mizoram                       105741  2015
22             Orissa                          365  2015
23             Punjab                           14  2015
24          Rajasthan                           60  2015
25             Sikkim                          703  2015
26          Tamilnadu                           67  2015
27          Telangana                          293  2015
28            Tripura                         1534  2015
29      Uttar pradesh                           19  2015
30        Uttarakhand                          163  2015
31        West Bengal                          175  2015

# Average Time to End case after filing per 1 lakh cases in 2010

In [14]:
temp=df_2015

avg_file_end=temp.drop(temp[temp['file_end'] < 0].index)
# del avg_file_end

avg_file_end

# filing_reach = df["file_end"].value_counts().reset_index()
avg_file_end = avg_file_end.groupby('state_code')
# df_mean = filing_reach['file_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_end.apply(avg_days,"file_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days

file_End_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_End_avg.rename(columns={"state_code": "state", 0: "avg_fileend_per1lakhcases"}, inplace=True)
file_End_avg

# new_rows_file_End_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_fileend_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_End_avg= pd.concat([new_rows_file_End_avg, file_End_avg], ignore_index=True)

# file_End_avg


file_End_avg=file_End_avg.sort_values(by='state')




file_End_avg.info()



file_End_avg


file_End_avg=file_End_avg.reset_index()
file_End_avg=file_End_avg.drop(columns=['index'])  


file_End_avg.info()

file_End_avg.insert(2, 'Year', 2015)


file_End_avg

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg
del avg_file_end
del df_avg_days

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     int64
 2   Year                       32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

# Average Time to End case after decision per 1 lakh cases in 2012

In [15]:
del temp
temp=df_2015

avg_decision_end=temp.drop(temp[temp['decision_end'] < 0].index)
# del avg_decision_end

avg_decision_end

# filing_reach = df["decision_end"].value_counts().reset_index()
avg_decision_end = avg_decision_end.groupby('state_code')
# df_mean = filing_reach['decision_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_decision_end.apply(avg_days,"decision_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()

decision_end_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
decision_end_avg.rename(columns={"state_code": "state", 0: "avg_decision_end_per1lakhcases"}, inplace=True)
decision_end_avg

# new_rows_decision_end_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_decision_end_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# decision_end_avg= pd.concat([new_rows_decision_end_avg, decision_end_avg], ignore_index=True)

# decision_end_avg


decision_end_avg=decision_end_avg.sort_values(by='state')




decision_end_avg.info()



decision_end_avg


decision_end_avg=decision_end_avg.reset_index()
decision_end_avg=decision_end_avg.drop(columns=['index'])  


decision_end_avg.info()

decision_end_avg.insert(2, 'Year', 2015)


decision_end_avg

decision_end_avg['avg_decision_end_per1lakhcases']=decision_end_avg['avg_decision_end_per1lakhcases'].astype(int)

decision_end_avg
del df_avg_days
del avg_decision_end

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

# Withdrawal

In [16]:
# del temp
temp=df_2015

withdrawal=temp[temp['disp_name'] == '51']
# del avg_decision_end

# withdrawal
withdrawal = withdrawal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
withdrawal['state_code']=withdrawal['state_code'].sort_values()
withdrawal.rename(columns={"index": "state", "state_code": "withdrawal_count"}, inplace=True)
new_rows_withdrawal = pd.DataFrame({'state' : [ 'Ladakh'], 'withdrawal_count' : [ 0 ]})

withdrawal

withdrawal= pd.concat([new_rows_withdrawal, withdrawal], ignore_index=True)

# withdrawal


withdrawal=withdrawal.sort_values(by='state')




withdrawal.info()



withdrawal


withdrawal=withdrawal.reset_index()
withdrawal=withdrawal.drop(columns=['index'])  


withdrawal.info()

withdrawal.insert(2, 'Year', 2015)


withdrawal

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 17 to 10
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  withdrawal_count  Year
0      Andhra Pradesh              1110  2015
1               Assam               559  2015
2               Bihar              1512  2015
3          Chandigarh              1805  2015
4         Chattisgarh               668  2015
5      DNH at silvasa                31  2015
6               Delhi              9246  2015
7       Diu and daman                17  2015
8                 Goa                61  2015
9            Gujarath              9647  2015
10            Haryana             19073  2015
11   Himachal Pradesh              2869  2015
12  Jammu and kashmir               231  2015
13          Jharkhand              1258  2015
14          Karnataka              2055  2015
15             Kerala              1162  2015
16             Ladakh                 0  2015
17     Madhya Pradesh              2667  2015
18        Maharashtra             12715  2015
19            Manipur                20  2015
20          Meghalaya                25  2015
21            Mizoram                 7  2015
22             Orissa              4718  2015
23             Punjab             20225  2015
24          Rajasthan              4703  2015
25             Sikkim               161  2015
26          Tamilnadu               948  2015
27          Telangana               458  2015
28            Tripura                41  2015
29      Uttar pradesh              1135  2015
30        Uttarakhand               352  2015
31        West Bengal              2560  2015

# Prison

In [16]:
# del withdrawal

In [17]:
# del temp
temp=df_2015
prison=temp[temp['disp_name'] == '38']
# del avg_decision_end
prison
prison = prison["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
prison['state_code']=prison['state_code'].sort_values()
prison.rename(columns={"index": "state", "state_code": "prison_count"}, inplace=True)
new_rows_prison = pd.DataFrame({'state' : ['Andhra Pradesh','Chandigarh','Chattisgarh','DNH at silvasa','Diu and daman','Goa','Gujarath','Himachal Pradesh','Jammu and kashmir','Karnataka','Ladakh','Madhya Pradesh','Manipur','Meghalaya','Mizoram','Sikkim','Tamilnadu','Telangana','Tripura','Uttar pradesh','Uttarakhand'], 'prison_count' : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]})

prison= pd.concat([new_rows_prison, prison], ignore_index=True)
prison
prison=prison.sort_values(by='state')
prison=prison.reset_index()
prison=prison.drop(columns=['index'])  
prison.insert(2, 'Year', 2015)
prison.info()
prison
# del dismissed_2012

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
 2   Year          32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

                state  prison_count  Year
0      Andhra Pradesh             0  2015
1               Assam           111  2015
2               Bihar            16  2015
3          Chandigarh             0  2015
4         Chattisgarh             0  2015
5      DNH at silvasa             0  2015
6               Delhi             8  2015
7       Diu and daman             0  2015
8                 Goa             0  2015
9            Gujarath             0  2015
10            Haryana            16  2015
11   Himachal Pradesh             0  2015
12  Jammu and kashmir             0  2015
13          Jharkhand             2  2015
14          Karnataka             0  2015
15             Kerala             3  2015
16             Ladakh             0  2015
17     Madhya Pradesh             0  2015
18        Maharashtra            26  2015
19            Manipur             0  2015
20          Meghalaya             0  2015
21            Mizoram             0  2015
22             Orissa             1  2015
23             Punjab            17  2015
24          Rajasthan             2  2015
25             Sikkim             0  2015
26          Tamilnadu             0  2015
27          Telangana             0  2015
28            Tripura             0  2015
29      Uttar pradesh             0  2015
30        Uttarakhand             0  2015
31        West Bengal            19  2015

# Dismissed cases

In [18]:
del temp
temp=df_2015
dismissed=temp[temp['disp_name'] == '22']
# del avg_decision_end
# dismissed
dismissed = dismissed["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
dismissed['state_code']=dismissed['state_code'].sort_values()
dismissed.rename(columns={"index": "state", "state_code": "dismissed_count"}, inplace=True)
# new_rows_dismissed = pd.DataFrame({'state' : [ 'Ladakh'], 'dismissed_count' : [ 0 ]})
# dismissed
# dismissed= pd.concat([new_rows_dismissed, dismissed], ignore_index=True)
# dismissed
dismissed=dismissed.sort_values(by='state')
dismissed=dismissed.reset_index()
dismissed=dismissed.drop(columns=['index'])  
dismissed.insert(2, 'Year', 2015)
dismissed

                state  dismissed_count  Year
0      Andhra Pradesh            13358  2015
1               Assam             4092  2015
2               Bihar            12614  2015
3          Chandigarh             1676  2015
4         Chattisgarh             3222  2015
5      DNH at silvasa               35  2015
6               Delhi             7905  2015
7       Diu and daman               13  2015
8                 Goa               22  2015
9            Gujarath             7900  2015
10            Haryana            19404  2015
11   Himachal Pradesh             3699  2015
12  Jammu and kashmir             1640  2015
13          Jharkhand             4700  2015
14          Karnataka            29971  2015
15             Kerala            20138  2015
16             Ladakh                6  2015
17     Madhya Pradesh            18553  2015
18        Maharashtra            23570  2015
19            Manipur              320  2015
20          Meghalaya               36  2015
21            Mizoram                4  2015
22             Orissa             2146  2015
23             Punjab            27648  2015
24          Rajasthan             7337  2015
25             Sikkim               19  2015
26          Tamilnadu            25910  2015
27          Telangana             8112  2015
28            Tripura              307  2015
29      Uttar pradesh            39099  2015
30        Uttarakhand             3414  2015
31        West Bengal            20955  2015

# Merging

In [19]:
df_merged=pd.merge(dismissed,prison,on='state')
df_merged=pd.merge(df_merged,withdrawal,on='state')
df_merged=pd.merge(df_merged,decision_end_avg,on='state')
df_merged=pd.merge(df_merged,file_End_avg,on='state')
df_merged=pd.merge(df_merged,file_court_avg,on='state')
# df_merged=pd.merge(df_merged,df_pending,on='state')
df_merged=pd.merge(df_merged,df_criminal_not,on='state')

/tmp/ipykernel_8858/239489498.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,decision_end_avg,on='state')
/tmp/ipykernel_8858/239489498.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,file_court_avg,on='state')

In [26]:
df_merged

,state,dismissed_count,prison_count,withdrawal_count,avg_decision_end_per1lakhcases,avg_fileend_per1lakhcases,avg_filecourt_per1lakhcases,criminal_count,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,Andhra Pradesh,13358,0,1110,0,666,113,60338,0.60338,33901,0.33901
1,Assam,4092,111,559,0,1120,308,25146,0.25146,24596,0.24596
2,Bihar,12614,16,1512,4,731,232,22182,0.22182,98608,0.98608
3,Chandigarh,1676,0,1805,2,4152,154,7684,0.07684,1599,0.01599
4,Chattisgarh,3222,0,668,1,970,148,32383,0.32383,18865,0.18865
5,DNH at silvasa,35,0,31,0,126743,10691,190,0.00190,189,0.00189
6,Delhi,7905,8,9246,5,987,114,55415,0.55415,39499,0.39499
7,Diu and daman,13,0,17,0,43816,4890,343,0.00343,150,0.00150
8,Goa,22,0,61,19,4380,910,11202,0.11202,9575,0.09575
9,Gujarath,7900,0,9647,0,206,19,153794,1.53794,67137,0.67137
10,Haryana,19404,16,19073,0,250,24,129791,1.29791,30430,0.30430
11,Himachal Pradesh,3699,0,2869,0,1406,180,26217,0.26217,11757,0.11757
12,Jammu and kashmir,1640,0,231,2,4647,2461,14919,0.14919,3157,0.03157
13,Jharkhand,4700,2,1258,5,1494,219,11442,0.11442,31881,0.31881
14,Karnataka,29971,0,2055,0,119,9,264322,2.64322,87121,0.87121
15,Kerala,20138,3,1162,0,255,54,133378,1.33378,84269,0.84269
16,Ladakh,6,0,0,0,4959250,3663250,18,0.00018,6,0.00006
17,Madhya Pradesh,18553,0,2667,5,295,44,141638,1.41638,136493,1.36493
18,Maharashtra,23570,26,12715,0,147,8,306390,3.06390,135965,1.35965
19,Manipur,320,0,20,12,4494,367,2362,0.02362,2335,0.02335
20,Meghalaya,36,0,25,3,19654,1141,1301,0.01301,419,0.00419
21,Mizoram,4,0,7,0,182486,105741,251,0.00251,89,0.00089
22,Orissa,2146,1,4718,12,1491,365,36931,0.36931,24240,0.24240
23,Punjab,27648,17,20225,0,313,14,94628,0.94628,35849,0.35849
24,Rajasthan,7337,2,4703,1,386,60,111924,1.11924,74268,0.74268
25,Sikkim,19,0,161,16,8498,703,766,0.00766,676,0.00676
26,Tamilnadu,25910,0,948,1,456,67,101505,1.01505,46580,0.46580
27,Telangana,8112,0,458,1,1183,293,32917,0.32917,29176,0.29176
28,Tripura,307,0,41,13,14179,1534,2082,0.02082,1728,0.01728
29,Uttar pradesh,39099,0,1135,2,123,19,372371,3.72371,216856,2.16856
30,Uttarakhand,3414,0,352,23,1938,163,23830,0.23830,5188,0.05188
31,West Bengal,20955,19,2560,2,685,175,74249,0.74249,49130,0.49130

In [23]:
df_merged=df_merged.drop(columns='Year_x_x')
df_merged=df_merged.drop(columns='Year_y_y')

In [25]:
df_merged=df_merged.drop(columns='Year_y_x')
df_merged=df_merged.drop(columns='Year_x_y')

In [29]:
del prison
del withdrawal
del decision_end_avg
del file_End_avg
del file_court_avg
del df_criminal_not

In [27]:
df_merged['year']=[2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015]
df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])
df_merged.info()
df_merged.to_csv('2015_filtered.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            32 non-null     int64
 1   state                           32 non-null     object
 2   dismissed_count                 32 non-null     int64
 3   prison_count                    32 non-null     int64
 4   withdrawal_count                32 non-null     int64
 5   avg_decision_end_per1lakhcases  32 non-null     int64
 6   avg_fileend_per1lakhcases       32 non-null     int64
 7   avg_filecourt_per1lakhcases     32 non-null     int64
 8   criminal_count                  32 non-null     int64
 9   criminal_perlakh                32 non-null     float64
 10  noncriminal_count               32 non-null     int64
 11  noncriminal_perlakh             32 non-null     float64
dtypes: float64(2), int64(9), object(1)
memory usage: 3.2+ KB

In [28]:
df_merged.to_csv('2015_filtered_copy.csv', index=False)