In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '10g')\
    .config('spark.driver.memory', '50g')\
    .getOrCreate()
from pyspark.sql.functions import col
df_spark = spark.read.csv("/home/nirmala/Documents/precog_requirement_task/acts_sections.csv", header=True)
df_spark = df_spark.drop(col("act"))
df_spark = df_spark.drop(col("section"))
df_spark = df_spark.drop(col("bailable_ipc"))
df_spark = df_spark.drop(col("number_sections_ipc"))

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 09:17:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df1=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2016.csv" ,header=True)
df_merged=df_spark.join(df1,
               df_spark.ddl_case_id == df1.ddl_case_id, 
               "right")
del df_spark

In [3]:
df_merged = df_merged.drop(col("dist_code"))
df_merged = df_merged.drop(col("cino"))
df_merged = df_merged.drop(col("court_no"))
df_merged = df_merged.drop(col("judge_position"))
df_merged = df_merged.drop(col("type_name"))
df_merged = df_merged.drop(col("purpose_name"))
df_merged = df_merged.drop(col("date_last_list"))
df_merged = df_merged.drop(col("female_adv_def"))
df_merged = df_merged.drop(col("female_petitioner"))
df_merged = df_merged.drop(col("female_adv_pet"))
df_merged=df_merged.drop(df_merged.columns[0])
# df_merged=df_merged.drop(col("ddl_case_id"))
print(df_merged.dtypes)
# df_merged.head(10)

[('criminal', 'string'), ('year', 'string'), ('state_code', 'string'), ('female_defendant', 'string'), ('disp_name', 'string'), ('date_of_filing', 'string'), ('date_of_decision', 'string'), ('date_first_list', 'string'), ('date_next_list', 'string')]

In [4]:
# memory_usage = df_merged.memory_usage().sum()
# print(memory_usage)

In [5]:
df_pandas = df_merged.toPandas()

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

In [6]:
del df_merged

In [7]:

df_2016=df_pandas
del df_pandas

In [8]:
df_2016['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df_2016['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df_2016['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df_2016['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df_2016['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df_2016['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df_2016['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df_2016['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df_2016['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df_2016['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df_2016['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df_2016['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df_2016['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df_2016['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df_2016['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df_2016['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df_2016['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df_2016['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df_2016['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df_2016['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df_2016['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df_2016['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df_2016['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df_2016['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df_2016['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df_2016['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df_2016['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df_2016['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df_2016['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df_2016['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df_2016['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df_2016['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

In [9]:
def create_new_column(row):
    if pd.isnull(row['date_next_list']):
        return 1
    else:
        return 0
df_2016['pending'] = df_2016.apply(create_new_column, axis=1)

In [10]:
# df_2016['state_code'].unique()
# df_2016['filing'] = pd.to_datetime(df_2016['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 
# df_2016['first_list'] = pd.to_datetime(df_2016['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 
# df_2016['decision'] = pd.to_datetime(df_2016['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 
# df_2016['last_list'] = pd.to_datetime(df_2016['date_next_list'], format='%Y-%m-%d',errors = 'coerce')

In [11]:
# df_2016=df_2016.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])
# df_2016['file_reachcourt'] =(df_2016['first_list']-df_2016['filing']).dt.days
# df_2016['file_end'] =(df_2016['last_list']-df_2016['filing']).dt.days
# df_2016['decision_end'] =(df_2016['last_list']-df_2016['decision']).dt.days
# df_2016=df_2016.drop(columns=['filing','first_list','decision','last_list'])

In [12]:
# def replace_negatives(x):
#     if x < 0:
#         return -1
#     return x
# df_2016['file_reachcourt']=df_2016['file_reachcourt'].apply(replace_negatives)
# df_2016['file_end']=df_2016['file_end'].apply(replace_negatives)
# df_2016['decision_end']=df_2016['decision_end'].apply(replace_negatives)
# df_2016
# df_2016.info()
# import numpy as np
# df_2016['file_reachcourt'] = pd.to_numeric(df_2016['file_reachcourt'], errors='coerce')
# df_2016['file_reachcourt'] = df_2016['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)
# df_2016['file_reachcourt'] = df_2016['file_reachcourt'].astype(int)
# df_2016['file_end'] = pd.to_numeric(df_2016['file_end'], errors='coerce')
# df_2016['file_end'] = df_2016['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)
# df_2016['file_end'] = df_2016['file_end'].astype(int)
# df_2016['decision_end'] = pd.to_numeric(df_2016['decision_end'], errors='coerce')
# df_2016['decision_end'] = df_2016['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)
# df_2016['decision_end'] = df_2016['decision_end'].astype(int)
# df_2016.info()
# df_2016['decision_end'].unique()
# df_2016['criminal'] = df_2016['criminal'].fillna(-1)
# df_2016['file_reachcourt']=df_2016['file_reachcourt'].fillna(-1)
# df_2016['file_end']=df_2016['file_end'].fillna(-1)
# df_2016['decision_end']=df_2016['decision_end'].fillna(-1)
# df_2016['file_reachcourt']=df_2016['file_reachcourt'].astype(int)
# df_2016['file_end']=df_2016['file_end'].astype(int)
# df_2016['decision_end']=df_2016['decision_end'].astype(int)
# df_2016
# #criminal count
# temp=df_2016
# temp_criminal= temp.drop(temp[temp['criminal']==-1].index)  
# temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']==0].index)  
# temp_criminal.info()

In [13]:
df_2016.info()

df_2016['filing'] = pd.to_datetime(df_2016['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

df_2016['first_list'] = pd.to_datetime(df_2016['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

df_2016['decision'] = pd.to_datetime(df_2016['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df_2016['last_list'] = pd.to_datetime(df_2016['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
df_2016['date_next_list'] = pd.to_datetime(df_2016['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 


df_2016['closing'] = df_2016['date_next_list'].dt.year

df_2016['closing']=df_2016['closing'].fillna('1900')


df_2016=df_2016.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

df_2016['file_reachcourt'] =(df_2016['first_list']-df_2016['filing']).dt.days
df_2016['file_end'] =(df_2016['last_list']-df_2016['filing']).dt.days
df_2016['decision_end'] =(df_2016['last_list']-df_2016['decision']).dt.days


df_2016=df_2016.drop(columns=['first_list','decision','last_list'])

def replace_negatives(x):
    if x < 0:
        return -1
    return x
df_2016['file_reachcourt']=df_2016['file_reachcourt'].apply(replace_negatives)


df_2016['file_end']=df_2016['file_end'].apply(replace_negatives)
df_2016['decision_end']=df_2016['decision_end'].apply(replace_negatives)


df_2016



df_2016['criminal'].unique()
df_2016['criminal'].replace(to_replace='0',value='criminal',inplace=True)
df_2016['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

df_2016.info()

import numpy as np


df_2016['file_reachcourt'] = pd.to_numeric(df_2016['file_reachcourt'], errors='coerce')

# Fill the missing and infinite values with -1
df_2016['file_reachcourt'] = df_2016['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_reachcourt' column to integers
df_2016['file_reachcourt'] = df_2016['file_reachcourt'].astype(int)

df_2016['file_end'] = pd.to_numeric(df_2016['file_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2016['file_end'] = df_2016['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_end ' column to integers
df_2016['file_end'] = df_2016['file_end'].astype(int)

df_2016['decision_end'] = pd.to_numeric(df_2016['decision_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2016['decision_end'] = df_2016['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'decision_end' column to integers
df_2016['decision_end'] = df_2016['decision_end'].astype(int)

df_2016.info()

df_2016

df_2016['decision_end'].unique()


# df_2016['criminal'] = df_2016['criminal'].fillna(-1)


# del temp
# del non_criminal_count_2016

#criminal count
temp=df_2016
temp2=df_2016
temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)  

temp_criminal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1957887 entries, 0 to 1957886
Data columns (total 10 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   date_of_filing    object
 6   date_of_decision  object
 7   date_first_list   object
 8   date_next_list    object
 9   pending           int64
dtypes: int64(1), object(9)
memory usage: 149.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1957887 entries, 0 to 1957886
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   pending           int64
 6   filing            datetime64[ns]
 7   closing           object
 8   file_reachcourt   float64
 9   file_end          float64
 10  decision_end      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 164.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1957887 entries, 0 to 1957886
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   pending           int64
 6   filing            datetime64[ns]
 7   closing           object
 8   file_reachcourt   int64
 9   file_end          int64
 10  decision_end      int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 164.3+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1274816 entries, 3 to 1957886
Data columns (total 11 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   criminal          1223532 non-null  object
 1   year              1274816 non-null  object
 2   state_code        1274816 non-null  object
 3   female_defendant  1274816 non-null  object
 4   disp_name         1274816 non-null  object
 5   pending           1274816 non-null  int64
 6   filing            1274816 non-null  datetime64[ns]
 7   closing           1274816 non-null  object
 8   file_reachcourt   1274816 non-null  int64
 9   file_end          1274816 non-null  int64
 10  decision_end      1274816 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 116.7+ MB

# Criminal count

In [14]:
criminal_count_2016 = temp_criminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
criminal_count_2016['state_code']=criminal_count_2016['state_code'].sort_values()
criminal_count_2016.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

criminal_count_2016

criminal_count_2016.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# criminal_count_2016= pd.concat([new_rows, criminal_count_2016], ignore_index=True)


criminal_count_2016['state']=criminal_count_2016['state'].sort_values()


criminal_count_2016=criminal_count_2016.sort_values(by='state')

criminal_count_2016.insert(2, 'Year', 2016)


criminal_count_2016=criminal_count_2016.reset_index()

criminal_count_2016=criminal_count_2016.drop(columns=['index'])

# del temp_criminal

criminal_count_2016


criminal_count_2016['criminal_perlakh']=criminal_count_2016['criminal_count']/100000

non_criminal_count_2016 = temp_noncriminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
non_criminal_count_2016['state_code']=non_criminal_count_2016['state_code'].sort_values()
non_criminal_count_2016.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

non_criminal_count_2016

non_criminal_count_2016.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# non_criminal_count_2016= pd.concat([new_rows, non_criminal_count_2016], ignore_index=True)


non_criminal_count_2016['state']=non_criminal_count_2016['state'].sort_values()


non_criminal_count_2016=non_criminal_count_2016.sort_values(by='state')

non_criminal_count_2016.insert(2, 'Year', 2016)


non_criminal_count_2016=non_criminal_count_2016.reset_index()

non_criminal_count_2016=non_criminal_count_2016.drop(columns=['index'])
non_criminal_count_2016

df_criminal_not=pd.merge(criminal_count_2016,non_criminal_count_2016,on='state')

df_criminal_not

df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

df_criminal_not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           32 non-null     object
 1   criminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              32 non-null     object
 1   noncriminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

,state,criminal_count,Year_x,criminal_perlakh,noncriminal_count,Year_y,noncriminal_perlakh
0,Andhra Pradesh,31566,2016,0.31566,16792,2016,0.16792
1,Assam,14921,2016,0.14921,13121,2016,0.13121
2,Bihar,16212,2016,0.16212,53374,2016,0.53374
3,Chandigarh,3689,2016,0.03689,552,2016,0.00552
4,Chattisgarh,20159,2016,0.20159,11544,2016,0.11544
5,DNH at silvasa,57,2016,0.00057,94,2016,0.00094
6,Delhi,31419,2016,0.31419,16023,2016,0.16023
7,Diu and daman,141,2016,0.00141,102,2016,0.00102
8,Goa,3536,2016,0.03536,1132,2016,0.01132
9,Gujarath,93091,2016,0.93091,37679,2016,0.37679
10,Haryana,80000,2016,0.80000,20286,2016,0.20286
11,Himachal Pradesh,13840,2016,0.13840,5709,2016,0.05709
12,Jammu and kashmir,6921,2016,0.06921,1700,2016,0.01700
13,Jharkhand,6619,2016,0.06619,16415,2016,0.16415
14,Karnataka,138116,2016,1.38116,50496,2016,0.50496
15,Kerala,84986,2016,0.84986,58915,2016,0.58915
16,Ladakh,19,2016,0.00019,4,2016,0.00004
17,Madhya Pradesh,71265,2016,0.71265,63918,2016,0.63918
18,Maharashtra,151540,2016,1.51540,68637,2016,0.68637
19,Manipur,1179,2016,0.01179,1000,2016,0.01000
20,Meghalaya,712,2016,0.00712,213,2016,0.00213
21,Mizoram,120,2016,0.00120,49,2016,0.00049
22,Orissa,23500,2016,0.23500,16732,2016,0.16732
23,Punjab,55077,2016,0.55077,22465,2016,0.22465
24,Rajasthan,58064,2016,0.58064,40893,2016,0.40893
25,Sikkim,374,2016,0.00374,367,2016,0.00367
26,Tamilnadu,62284,2016,0.62284,30448,2016,0.30448
27,Telangana,15472,2016,0.15472,13484,2016,0.13484
28,Tripura,1269,2016,0.01269,1150,2016,0.01150
29,Uttar pradesh,240573,2016,2.40573,138886,2016,1.38886
30,Uttarakhand,13571,2016,0.13571,2732,2016,0.02732
31,West Bengal,34524,2016,0.34524,29443,2016,0.29443

# Pending Cases in 2010

In [15]:
# del pending_Cases

In [16]:
# del temp
# temp=df_2016

# temp=temp.drop(temp[temp['pending']==0].index)

# pending_Cases = temp["state_code"].value_counts().reset_index()

# # Rename the "index" and "Year" columns
# pending_Cases['state_code']=pending_Cases['state_code'].sort_values()
# pending_Cases.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
# new_rows_pending = pd.DataFrame({'state' : ['DNH at silvasa','Ladakh','Meghalaya'], 'pendingcases_count' : [0,0,0]})

# pending_Cases= pd.concat([new_rows_pending, pending_Cases], ignore_index=True)

# # pending_Cases

# # del pending_Cases


# pending_Cases=pending_Cases.sort_values(by='state')

# pending_Cases

# pending_Cases=pending_Cases.reset_index()

# pending_Cases=pending_Cases.drop(columns=['index'])  

# pending_Cases.info()

# pending_Cases.insert(2, 'Year', 2016)


# pending_Cases

# Average Time to reach court after filing per 1 lakh cases

In [17]:
# Average Time to reach court after filing per 1 lakh cases

# del temp
temp=df_2016

avg_file_court=temp.drop(temp[temp['file_reachcourt'] < 0].index)
# del avg_file_court

avg_file_court

# filing_reach = df["file_reachcourt"].value_counts().reset_index()
avg_file_court = avg_file_court.groupby('state_code')
# df_mean = filing_reach['file_reachcourt'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_court.apply(avg_days,"file_reachcourt")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()
del avg_file_court

file_court_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_court_avg.rename(columns={"state_code": "state", 0: "avg_filecourt_per1lakhcases"}, inplace=True)
file_court_avg

# new_rows_file_court_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_filecourt_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_court_avg= pd.concat([new_rows_file_court_avg, file_court_avg], ignore_index=True)

file_court_avg
del df_avg_days


file_court_avg=file_court_avg.sort_values(by='state')




file_court_avg.info()



file_court_avg


file_court_avg=file_court_avg.reset_index()
file_court_avg=file_court_avg.drop(columns=['index'])  


file_court_avg.info()

file_court_avg.insert(2, 'Year', 2016)


# file_court_avg=file_court_avg.drop(columns=['Year'])  
file_court_avg

file_court_avg['avg_filecourt_per1lakhcases']=file_court_avg['avg_filecourt_per1lakhcases'].astype(int)

file_court_avg

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

                state  avg_filecourt_per1lakhcases  Year
0      Andhra Pradesh                          202  2016
1               Assam                          443  2016
2               Bihar                          321  2016
3          Chandigarh                          167  2016
4         Chattisgarh                          148  2016
5      DNH at silvasa                        13205  2016
6               Delhi                          125  2016
7       Diu and daman                         8871  2016
8                 Goa                         1160  2016
9            Gujarath                           25  2016
10            Haryana                           30  2016
11   Himachal Pradesh                          313  2016
12  Jammu and kashmir                         3793  2016
13          Jharkhand                          293  2016
14          Karnataka                           17  2016
15             Kerala                           74  2016
16             Ladakh                      1605482  2016
17     Madhya Pradesh                           48  2016
18        Maharashtra                           14  2016
19            Manipur                          550  2016
20          Meghalaya                         1213  2016
21            Mizoram                       183981  2016
22             Orissa                          323  2016
23             Punjab                           17  2016
24          Rajasthan                           98  2016
25             Sikkim                         1106  2016
26          Tamilnadu                           90  2016
27          Telangana                          547  2016
28            Tripura                         1467  2016
29      Uttar pradesh                           21  2016
30        Uttarakhand                          241  2016
31        West Bengal                          219  2016

# Average Time to End case after filing per 1 lakh cases in 2010

In [18]:
temp=df_2016

avg_file_end=temp.drop(temp[temp['file_end'] < 0].index)
# del avg_file_end

avg_file_end

# filing_reach = df["file_end"].value_counts().reset_index()
avg_file_end = avg_file_end.groupby('state_code')
# df_mean = filing_reach['file_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_end.apply(avg_days,"file_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days

file_End_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_End_avg.rename(columns={"state_code": "state", 0: "avg_fileend_per1lakhcases"}, inplace=True)
file_End_avg

# new_rows_file_End_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_fileend_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_End_avg= pd.concat([new_rows_file_End_avg, file_End_avg], ignore_index=True)

# file_End_avg


file_End_avg=file_End_avg.sort_values(by='state')




file_End_avg.info()



file_End_avg


file_End_avg=file_End_avg.reset_index()
file_End_avg=file_End_avg.drop(columns=['index'])  


file_End_avg.info()

file_End_avg.insert(2, 'Year', 2016)


file_End_avg

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg
del avg_file_end
del df_avg_days

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     int64
 2   Year                       32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

# Average Time to End case after decision per 1 lakh cases in 2012

In [19]:
del temp
temp=df_2016

avg_decision_end=temp.drop(temp[temp['decision_end'] < 0].index)
# del avg_decision_end

avg_decision_end

# filing_reach = df["decision_end"].value_counts().reset_index()
avg_decision_end = avg_decision_end.groupby('state_code')
# df_mean = filing_reach['decision_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_decision_end.apply(avg_days,"decision_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()

decision_end_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
decision_end_avg.rename(columns={"state_code": "state", 0: "avg_decision_end_per1lakhcases"}, inplace=True)
decision_end_avg

# new_rows_decision_end_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_decision_end_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# decision_end_avg= pd.concat([new_rows_decision_end_avg, decision_end_avg], ignore_index=True)

# decision_end_avg


decision_end_avg=decision_end_avg.sort_values(by='state')




decision_end_avg.info()



decision_end_avg


decision_end_avg=decision_end_avg.reset_index()
decision_end_avg=decision_end_avg.drop(columns=['index'])  


decision_end_avg.info()

decision_end_avg.insert(2, 'Year', 2016)


decision_end_avg

decision_end_avg['avg_decision_end_per1lakhcases']=decision_end_avg['avg_decision_end_per1lakhcases'].astype(int)

decision_end_avg
del df_avg_days
del avg_decision_end

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

# Withdrawal

In [22]:
# del withdrawal

In [23]:
del temp
temp=df_2016

withdrawal=temp[temp['disp_name'] == '51']
# del avg_decision_end

# withdrawal
withdrawal = withdrawal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
withdrawal['state_code']=withdrawal['state_code'].sort_values()
withdrawal.rename(columns={"index": "state", "state_code": "withdrawal_count"}, inplace=True)
new_rows_withdrawal = pd.DataFrame({'state' : [ 'Andhra Pradesh','Assam','DNH at silvasa','Diu and daman','Goa','Gujarath','Himachal Pradesh','Karnataka','Ladakh','Madhya Pradesh','Maharashtra','Manipur','Meghalaya','Mizoram','Tamilnadu','Telangana','Uttarakhand','West Bengal','Jammu and kashmir'], 'withdrawal_count' : [0, 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
withdrawal
withdrawal= pd.concat([new_rows_withdrawal, withdrawal], ignore_index=True)
# withdrawal
withdrawal=withdrawal.sort_values(by='state')
withdrawal.info()
withdrawal
withdrawal=withdrawal.reset_index()
withdrawal=withdrawal.drop(columns=['index'])  
withdrawal.info()
withdrawal.insert(2, 'Year', 2016)
withdrawal

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 17
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

                state  withdrawal_count  Year
0      Andhra Pradesh                 0  2016
1               Assam                 0  2016
2               Bihar               708  2016
3          Chandigarh                23  2016
4         Chattisgarh                56  2016
5      DNH at silvasa                 0  2016
6               Delhi              1493  2016
7       Diu and daman                 0  2016
8                 Goa                 0  2016
9            Gujarath                 0  2016
10            Haryana              1127  2016
11   Himachal Pradesh                 0  2016
12  Jammu and kashmir                 0  2016
13          Jharkhand                76  2016
14          Karnataka                 0  2016
15             Kerala                 1  2016
16             Ladakh                 0  2016
17     Madhya Pradesh                 0  2016
18        Maharashtra                 0  2016
19            Manipur                 0  2016
20          Meghalaya                 0  2016
21            Mizoram                 0  2016
22             Orissa                44  2016
23             Punjab               158  2016
24          Rajasthan                25  2016
25             Sikkim                 1  2016
26          Tamilnadu                 0  2016
27          Telangana                 0  2016
28            Tripura                 1  2016
29      Uttar pradesh               965  2016
30        Uttarakhand                 0  2016
31        West Bengal                 0  2016

# Prison

In [30]:
# del prison

In [31]:
# del temp
temp=df_2016
prison=temp[temp['disp_name'] == '38']
# del avg_decision_end
prison
prison = prison["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
prison['state_code']=prison['state_code'].sort_values()
prison.rename(columns={"index": "state", "state_code": "prison_count"}, inplace=True)
new_rows_prison = pd.DataFrame({'state' : ['Manipur','Uttar pradesh','Jammu and kashmir','Andhra Pradesh','Diu and daman','Goa','Haryana','Himachal Pradesh','Ladakh','Madhya Pradesh','Mizoram','Punjab','Tamilnadu','Telangana'], 'prison_count' : [0,0,0,0,0,0,0,0,0,0,0,0,0,0]})

prison= pd.concat([new_rows_prison, prison], ignore_index=True)
prison
prison=prison.sort_values(by='state')
prison=prison.reset_index()
prison=prison.drop(columns=['index'])  
prison.insert(2, 'Year', 2016)
prison.info()
prison
# del dismissed_2012

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
 2   Year          32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

                state  prison_count  Year
0      Andhra Pradesh             0  2016
1               Assam           105  2016
2               Bihar             4  2016
3          Chandigarh             2  2016
4         Chattisgarh            93  2016
5      DNH at silvasa             4  2016
6               Delhi           278  2016
7       Diu and daman             0  2016
8                 Goa             0  2016
9            Gujarath         23793  2016
10            Haryana             0  2016
11   Himachal Pradesh             0  2016
12  Jammu and kashmir             0  2016
13          Jharkhand           243  2016
14          Karnataka         14477  2016
15             Kerala          7147  2016
16             Ladakh             0  2016
17     Madhya Pradesh             0  2016
18        Maharashtra          2092  2016
19            Manipur             0  2016
20          Meghalaya             8  2016
21            Mizoram             0  2016
22             Orissa             3  2016
23             Punjab             0  2016
24          Rajasthan           789  2016
25             Sikkim            12  2016
26          Tamilnadu             0  2016
27          Telangana             0  2016
28            Tripura            11  2016
29      Uttar pradesh             0  2016
30        Uttarakhand           232  2016
31        West Bengal           189  2016

# Dismissed cases

In [34]:
# del dismissed

In [35]:
del temp
temp=df_2016
dismissed=temp[temp['disp_name'] == '22']
# del avg_decision_end
# dismissed
dismissed = dismissed["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
dismissed['state_code']=dismissed['state_code'].sort_values()
dismissed.rename(columns={"index": "state", "state_code": "dismissed_count"}, inplace=True)
new_rows_dismissed = pd.DataFrame({'state' : ['Sikkim','Chandigarh','West Bengal','Andhra Pradesh','Assam','DNH at silvasa','Diu and daman','Goa','Gujarath','Himachal Pradesh','Ladakh','Madhya Pradesh','Manipur','Meghalaya','Mizoram','Punjab','Tamilnadu','Telangana'], 'dismissed_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]})
dismissed
dismissed= pd.concat([new_rows_dismissed, dismissed], ignore_index=True)
dismissed
dismissed=dismissed.sort_values(by='state')
dismissed=dismissed.reset_index()
dismissed=dismissed.drop(columns=['index'])  
dismissed.insert(2, 'Year', 2016)
dismissed

                state  dismissed_count  Year
0      Andhra Pradesh                0  2016
1               Assam                0  2016
2               Bihar                7  2016
3          Chandigarh                0  2016
4         Chattisgarh               59  2016
5      DNH at silvasa                0  2016
6               Delhi                6  2016
7       Diu and daman                0  2016
8                 Goa                0  2016
9            Gujarath                0  2016
10            Haryana                9  2016
11   Himachal Pradesh                0  2016
12  Jammu and kashmir                8  2016
13          Jharkhand                3  2016
14          Karnataka                1  2016
15             Kerala               10  2016
16             Ladakh                0  2016
17     Madhya Pradesh                0  2016
18        Maharashtra                4  2016
19            Manipur                0  2016
20          Meghalaya                0  2016
21            Mizoram                0  2016
22             Orissa                2  2016
23             Punjab                0  2016
24          Rajasthan               65  2016
25             Sikkim                0  2016
26          Tamilnadu                0  2016
27          Telangana                0  2016
28            Tripura                1  2016
29      Uttar pradesh               60  2016
30        Uttarakhand                1  2016
31        West Bengal                0  2016

# Merging

In [36]:
df_merged=pd.merge(dismissed,prison,on='state')
df_merged=pd.merge(df_merged,withdrawal,on='state')
df_merged=pd.merge(df_merged,decision_end_avg,on='state')
df_merged=pd.merge(df_merged,file_End_avg,on='state')
df_merged=pd.merge(df_merged,file_court_avg,on='state')
# df_merged=pd.merge(df_merged,pending_Cases,on='state')
df_merged=pd.merge(df_merged,df_criminal_not,on='state')

# df_merged=df_merged.drop(df_merged.columns[[3, 6, 9]],axis = 1)
df_merged['year']=[2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016,2016]
df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])

/tmp/ipykernel_3683/4213058898.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,decision_end_avg,on='state')
/tmp/ipykernel_3683/4213058898.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,file_court_avg,on='state')

KeyError: "['Year_x'] not found in axis"

In [37]:
df_merged

,state,dismissed_count,Year_x_x,prison_count,Year_y_x,withdrawal_count,Year_x_x,avg_decision_end_per1lakhcases,Year_y_x,avg_fileend_per1lakhcases,Year_x_x,avg_filecourt_per1lakhcases,Year_y_x,criminal_count,Year_x_y,criminal_perlakh,noncriminal_count,Year_y_y,noncriminal_perlakh
0,Andhra Pradesh,0,2016,0,2016,0,2016,0,2016,1119,2016,202,2016,31566,2016,0.31566,16792,2016,0.16792
1,Assam,0,2016,105,2016,0,2016,0,2016,1666,2016,443,2016,14921,2016,0.14921,13121,2016,0.13121
2,Bihar,7,2016,4,2016,708,2016,9,2016,910,2016,321,2016,16212,2016,0.16212,53374,2016,0.53374
3,Chandigarh,0,2016,2,2016,23,2016,1,2016,9404,2016,167,2016,3689,2016,0.03689,552,2016,0.00552
4,Chattisgarh,59,2016,93,2016,56,2016,0,2016,1267,2016,148,2016,20159,2016,0.20159,11544,2016,0.11544
5,DNH at silvasa,0,2016,4,2016,0,2016,0,2016,300390,2016,13205,2016,57,2016,0.00057,94,2016,0.00094
6,Delhi,6,2016,278,2016,1493,2016,0,2016,1156,2016,125,2016,31419,2016,0.31419,16023,2016,0.16023
7,Diu and daman,0,2016,0,2016,0,2016,0,2016,70814,2016,8871,2016,141,2016,0.00141,102,2016,0.00102
8,Goa,0,2016,0,2016,0,2016,0,2016,8183,2016,1160,2016,3536,2016,0.03536,1132,2016,0.01132
9,Gujarath,0,2016,23793,2016,0,2016,0,2016,256,2016,25,2016,93091,2016,0.93091,37679,2016,0.37679
10,Haryana,9,2016,0,2016,1127,2016,0,2016,350,2016,30,2016,80000,2016,0.80000,20286,2016,0.20286
11,Himachal Pradesh,0,2016,0,2016,0,2016,0,2016,2425,2016,313,2016,13840,2016,0.13840,5709,2016,0.05709
12,Jammu and kashmir,8,2016,0,2016,0,2016,5,2016,8635,2016,3793,2016,6921,2016,0.06921,1700,2016,0.01700
13,Jharkhand,3,2016,243,2016,76,2016,10,2016,2198,2016,293,2016,6619,2016,0.06619,16415,2016,0.16415
14,Karnataka,1,2016,14477,2016,0,2016,2,2016,188,2016,17,2016,138116,2016,1.38116,50496,2016,0.50496
15,Kerala,10,2016,7147,2016,1,2016,0,2016,334,2016,74,2016,84986,2016,0.84986,58915,2016,0.58915
16,Ladakh,0,2016,0,2016,0,2016,18903,2016,2687712,2016,1605482,2016,19,2016,0.00019,4,2016,0.00004
17,Madhya Pradesh,0,2016,0,2016,0,2016,2,2016,392,2016,48,2016,71265,2016,0.71265,63918,2016,0.63918
18,Maharashtra,4,2016,2092,2016,0,2016,0,2016,244,2016,14,2016,151540,2016,1.51540,68637,2016,0.68637
19,Manipur,0,2016,0,2016,0,2016,18,2016,8655,2016,550,2016,1179,2016,0.01179,1000,2016,0.01000
20,Meghalaya,0,2016,8,2016,0,2016,5,2016,31606,2016,1213,2016,712,2016,0.00712,213,2016,0.00213
21,Mizoram,0,2016,0,2016,0,2016,0,2016,380658,2016,183981,2016,120,2016,0.00120,49,2016,0.00049
22,Orissa,2,2016,3,2016,44,2016,19,2016,1744,2016,323,2016,23500,2016,0.23500,16732,2016,0.16732
23,Punjab,0,2016,0,2016,158,2016,0,2016,481,2016,17,2016,55077,2016,0.55077,22465,2016,0.22465
24,Rajasthan,65,2016,789,2016,25,2016,2,2016,598,2016,98,2016,58064,2016,0.58064,40893,2016,0.40893
25,Sikkim,0,2016,12,2016,1,2016,0,2016,12767,2016,1106,2016,374,2016,0.00374,367,2016,0.00367
26,Tamilnadu,0,2016,0,2016,0,2016,2,2016,593,2016,90,2016,62284,2016,0.62284,30448,2016,0.30448
27,Telangana,0,2016,0,2016,0,2016,3,2016,2089,2016,547,2016,15472,2016,0.15472,13484,2016,0.13484
28,Tripura,1,2016,11,2016,1,2016,13,2016,18742,2016,1467,2016,1269,2016,0.01269,1150,2016,0.01150
29,Uttar pradesh,60,2016,0,2016,965,2016,3,2016,137,2016,21,2016,240573,2016,2.40573,138886,2016,1.38886
30,Uttarakhand,1,2016,232,2016,0,2016,6,2016,2761,2016,241,2016,13571,2016,0.13571,2732,2016,0.02732
31,West Bengal,0,2016,189,2016,0,2016,2,2016,1112,2016,219,2016,34524,2016,0.34524,29443,2016,0.29443

In [38]:
df_merged=df_merged.drop(columns='Year_x_x')
df_merged=df_merged.drop(columns='Year_y_y')
df_merged=df_merged.drop(columns='Year_x_y')
df_merged=df_merged.drop(columns='Year_y_x')

In [39]:
df_merged.info()
df_merged.to_csv('2016_filtered.csv', index=False)
df_merged.to_csv('2016_filtered_copy.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 11 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   dismissed_count                 32 non-null     int64
 2   prison_count                    32 non-null     int64
 3   withdrawal_count                32 non-null     int64
 4   avg_decision_end_per1lakhcases  32 non-null     int64
 5   avg_fileend_per1lakhcases       32 non-null     int64
 6   avg_filecourt_per1lakhcases     32 non-null     int64
 7   criminal_count                  32 non-null     int64
 8   criminal_perlakh                32 non-null     float64
 9   noncriminal_count               32 non-null     int64
 10  noncriminal_perlakh             32 non-null     float64
dtypes: float64(2), int64(8), object(1)
memory usage: 3.0+ KB

In [40]:
del prison
del withdrawal
del decision_end_avg
del file_End_avg
del file_court_avg
del pending_Cases
del criminal_count

NameError: name 'pending_Cases' is not defined