In [2]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '14g')\
    .config('spark.driver.memory', '50g')\
    .getOrCreate()
from pyspark.sql.functions import col
df_spark = spark.read.csv("/home/nirmala/Documents/precog_requirement_task/acts_sections.csv", header=True)
df_spark = df_spark.drop(col("act"))
df_spark = df_spark.drop(col("section"))
df_spark = df_spark.drop(col("bailable_ipc"))
df_spark = df_spark.drop(col("number_sections_ipc"))

In [3]:
df1=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2018.csv" ,header=True)
df_merged=df_spark.join(df1,
               df_spark.ddl_case_id == df1.ddl_case_id, 
               "right")
dp=df1
del df_spark

In [4]:
df_merged = df_merged.drop(col("dist_code"))
df_merged = df_merged.drop(col("cino"))
df_merged = df_merged.drop(col("court_no"))
df_merged = df_merged.drop(col("judge_position"))
df_merged = df_merged.drop(col("type_name"))
df_merged = df_merged.drop(col("purpose_name"))
df_merged = df_merged.drop(col("date_last_list"))
df_merged = df_merged.drop(col("female_adv_def"))
df_merged = df_merged.drop(col("female_petitioner"))
df_merged = df_merged.drop(col("female_adv_pet"))
df_merged=df_merged.drop(df_merged.columns[0])
# df_merged=df_merged.drop(col("ddl_case_id"))
print(df_merged.dtypes)
# df_merged.head(10)

[('criminal', 'string'), ('year', 'string'), ('state_code', 'string'), ('female_defendant', 'string'), ('disp_name', 'string'), ('date_of_filing', 'string'), ('date_of_decision', 'string'), ('date_first_list', 'string'), ('date_next_list', 'string')]

In [5]:
# memory_usage = df_merged.memory_usage().sum()
# print(memory_usage)

In [6]:
df_pandas = df_merged.toPandas()

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

In [7]:
del df_merged

In [8]:

df_2018=df_pandas
del df_pandas

In [9]:
df_2018['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df_2018['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df_2018['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df_2018['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df_2018['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df_2018['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df_2018['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df_2018['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df_2018['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df_2018['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df_2018['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df_2018['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df_2018['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df_2018['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df_2018['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df_2018['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df_2018['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df_2018['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df_2018['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df_2018['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df_2018['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df_2018['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df_2018['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df_2018['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df_2018['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df_2018['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df_2018['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df_2018['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df_2018['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df_2018['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df_2018['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df_2018['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

In [10]:
def create_new_column(row):
    if pd.isnull(row['date_next_list']):
        return 1
    else:
        return 0
df_2018['pending'] = df_2018.apply(create_new_column, axis=1)

In [11]:

df_2018['pending'] = df_2018.apply(create_new_column, axis=1)

df_2018['filing'] = pd.to_datetime(df_2018['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

df_2018['first_list'] = pd.to_datetime(df_2018['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

df_2018['decision'] = pd.to_datetime(df_2018['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df_2018['last_list'] = pd.to_datetime(df_2018['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
df_2018['date_next_list'] = pd.to_datetime(df_2018['date_next_list'], format='%Y-%m-%d',errors = 'coerce')

In [12]:



df_2018['closing'] = df_2018['date_next_list'].dt.year

df_2018['closing']=df_2018['closing'].fillna('1900')


df_2018=df_2018.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

df_2018['file_reachcourt'] =(df_2018['first_list']-df_2018['filing']).dt.days
df_2018['file_end'] =(df_2018['last_list']-df_2018['filing']).dt.days
df_2018['decision_end'] =(df_2018['last_list']-df_2018['decision']).dt.days

In [13]:
df_2018=df_2018.drop(columns=['first_list','decision','last_list'])

def replace_negatives(x):
    if x < 0:
        return -1
    return x
df_2018['file_reachcourt']=df_2018['file_reachcourt'].apply(replace_negatives)


df_2018['file_end']=df_2018['file_end'].apply(replace_negatives)
df_2018['decision_end']=df_2018['decision_end'].apply(replace_negatives)


df_2018



df_2018['criminal'].unique()
df_2018['criminal'].replace(to_replace='0',value='criminal',inplace=True)
df_2018['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

df_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3686399 entries, 0 to 3686398
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   pending           int64
 6   filing            datetime64[ns]
 7   closing           object
 8   file_reachcourt   float64
 9   file_end          float64
 10  decision_end      float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 309.4+ MB

In [14]:
import numpy as np


df_2018['file_reachcourt'] = pd.to_numeric(df_2018['file_reachcourt'], errors='coerce')

# Fill the missing and infinite values with -1
df_2018['file_reachcourt'] = df_2018['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_reachcourt' column to integers
df_2018['file_reachcourt'] = df_2018['file_reachcourt'].astype(int)

df_2018['file_end'] = pd.to_numeric(df_2018['file_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2018['file_end'] = df_2018['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'file_end ' column to integers
df_2018['file_end'] = df_2018['file_end'].astype(int)

df_2018['decision_end'] = pd.to_numeric(df_2018['decision_end'], errors='coerce')

# Fill the missing and infinite values with -1
df_2018['decision_end'] = df_2018['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# Convert the 'decision_end' column to integers
df_2018['decision_end'] = df_2018['decision_end'].astype(int)

df_2018.info()

df_2018

df_2018['decision_end'].unique()


# df_2018['criminal'] = df_2018['criminal'].fillna(-1)


# del temp
# del non_criminal_count_2018

#criminal count
temp=df_2018
temp2=df_2018
temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)  

temp_criminal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3686399 entries, 0 to 3686398
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   pending           int64
 6   filing            datetime64[ns]
 7   closing           object
 8   file_reachcourt   int64
 9   file_end          int64
 10  decision_end      int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 309.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2328015 entries, 0 to 3686393
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   criminal          object
 1   year              object
 2   state_code        object
 3   female_defendant  object
 4   disp_name         object
 5   pending           int64
 6   filing            datetime64[ns]
 7   closing           object
 8   file_reachcourt   int64
 9   file_end          int64
 10  decision_end      int64
dtypes: datetime64[ns](1), int64(4), object(6)
memory usage: 213.1+ MB

# Criminal count

In [15]:
criminal_count_2010 = temp_criminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
criminal_count_2010['state_code']=criminal_count_2010['state_code'].sort_values()
criminal_count_2010.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

criminal_count_2010

criminal_count_2010.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# criminal_count_2010= pd.concat([new_rows, criminal_count_2010], ignore_index=True)


criminal_count_2010['state']=criminal_count_2010['state'].sort_values()


criminal_count_2010=criminal_count_2010.sort_values(by='state')

criminal_count_2010.insert(2, 'Year', 2018)


criminal_count_2010=criminal_count_2010.reset_index()

criminal_count_2010=criminal_count_2010.drop(columns=['index'])

del temp_criminal

criminal_count_2010


criminal_count_2010['criminal_perlakh']=criminal_count_2010['criminal_count']/100000

non_criminal_count_2010 = temp_noncriminal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
non_criminal_count_2010['state_code']=non_criminal_count_2010['state_code'].sort_values()
non_criminal_count_2010.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

non_criminal_count_2010

non_criminal_count_2010.info()

# new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# non_criminal_count_2010= pd.concat([new_rows, non_criminal_count_2010], ignore_index=True)


non_criminal_count_2010['state']=non_criminal_count_2010['state'].sort_values()


non_criminal_count_2010=non_criminal_count_2010.sort_values(by='state')

# non_criminal_count_2010.insert(2, 'Year', 2010)


non_criminal_count_2010=non_criminal_count_2010.reset_index()

non_criminal_count_2010=non_criminal_count_2010.drop(columns=['index'])
non_criminal_count_2010

df_criminal_not=pd.merge(criminal_count_2010,non_criminal_count_2010,on='state')

df_criminal_not

df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

df_criminal_not

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           32 non-null     object
 1   criminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   state              32 non-null     object
 1   noncriminal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

,state,criminal_count,Year,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,Andhra Pradesh,59479,2018,0.59479,33408,0.33408
1,Assam,36264,2018,0.36264,29359,0.29359
2,Bihar,44437,2018,0.44437,130363,1.30363
3,Chandigarh,6876,2018,0.06876,1709,0.01709
4,Chattisgarh,35538,2018,0.35538,22584,0.22584
5,DNH at silvasa,191,2018,0.00191,143,0.00143
6,Delhi,69371,2018,0.69371,34886,0.34886
7,Diu and daman,337,2018,0.00337,92,0.00092
8,Goa,7776,2018,0.07776,1846,0.01846
9,Gujarath,132300,2018,1.32300,56936,0.56936
10,Haryana,117993,2018,1.17993,43972,0.43972
11,Himachal Pradesh,67620,2018,0.67620,49041,0.49041
12,Jammu and kashmir,20572,2018,0.20572,7336,0.07336
13,Jharkhand,17307,2018,0.17307,60348,0.60348
14,Karnataka,222356,2018,2.22356,97280,0.97280
15,Kerala,115777,2018,1.15777,85448,0.85448
16,Ladakh,86,2018,0.00086,34,0.00034
17,Madhya Pradesh,115646,2018,1.15646,86470,0.86470
18,Maharashtra,265620,2018,2.65620,127037,1.27037
19,Manipur,2031,2018,0.02031,1562,0.01562
20,Meghalaya,739,2018,0.00739,225,0.00225
21,Mizoram,256,2018,0.00256,99,0.00099
22,Orissa,43220,2018,0.43220,29049,0.29049
23,Punjab,98169,2018,0.98169,49345,0.49345
24,Rajasthan,148190,2018,1.48190,119924,1.19924
25,Sikkim,491,2018,0.00491,520,0.00520
26,Tamilnadu,137797,2018,1.37797,61963,0.61963
27,Telangana,32018,2018,0.32018,27368,0.27368
28,Tripura,1669,2018,0.01669,1367,0.01367
29,Uttar pradesh,435728,2018,4.35728,350077,3.50077
30,Uttarakhand,32287,2018,0.32287,11551,0.11551
31,West Bengal,59874,2018,0.59874,57621,0.57621

In [16]:
# # 
# df_2018['pending'] = df_2018.apply(create_new_column, axis=1)

# df_2018['filing'] = pd.to_datetime(df_2018['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 

# df_2018['first_list'] = pd.to_datetime(df_2018['date_first_list'], format='%Y-%m-%d',errors = 'coerce') 

# df_2018['decision'] = pd.to_datetime(df_2018['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

# df_2018['last_list'] = pd.to_datetime(df_2018['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 
# df_2018['date_next_list'] = pd.to_datetime(df_2018['date_next_list'], format='%Y-%m-%d',errors = 'coerce') 






# df_2018['closing'] = df_2018['date_next_list'].dt.year

# df_2018['closing']=df_2018['closing'].fillna('1900')


# df_2018=df_2018.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])

# df_2018['file_reachcourt'] =(df_2018['first_list']-df_2018['filing']).dt.days
# df_2018['file_end'] =(df_2018['last_list']-df_2018['filing']).dt.days
# df_2018['decision_end'] =(df_2018['last_list']-df_2018['decision']).dt.days




# df_2018=df_2018.drop(columns=['first_list','decision','last_list'])

# def replace_negatives(x):
#     if x < 0:
#         return -1
#     return x
# df_2018['file_reachcourt']=df_2018['file_reachcourt'].apply(replace_negatives)


# df_2018['file_end']=df_2018['file_end'].apply(replace_negatives)
# df_2018['decision_end']=df_2018['decision_end'].apply(replace_negatives)


# df_2018



# df_2018['criminal'].unique()
# df_2018['criminal'].replace(to_replace='0',value='criminal',inplace=True)
# df_2018['criminal'].replace(to_replace='1',value='Non-criminal',inplace=True)

# df_2018.info()



# import numpy as np


# df_2018['file_reachcourt'] = pd.to_numeric(df_2018['file_reachcourt'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2018['file_reachcourt'] = df_2018['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'file_reachcourt' column to integers
# df_2018['file_reachcourt'] = df_2018['file_reachcourt'].astype(int)

# df_2018['file_end'] = pd.to_numeric(df_2018['file_end'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2018['file_end'] = df_2018['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'file_end ' column to integers
# df_2018['file_end'] = df_2018['file_end'].astype(int)

# df_2018['decision_end'] = pd.to_numeric(df_2018['decision_end'], errors='coerce')

# # Fill the missing and infinite values with -1
# df_2018['decision_end'] = df_2018['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)

# # Convert the 'decision_end' column to integers
# df_2018['decision_end'] = df_2018['decision_end'].astype(int)

# df_2018.info()

# df_2018

# df_2018['decision_end'].unique()


# # df_2018['criminal'] = df_2018['criminal'].fillna(-1)


# # del temp
# # del non_criminal_count_2018

# #criminal count
# temp=df_2018
# temp2=df_2018
# temp_noncriminal=temp2.drop(temp2[temp2['criminal']=='None'].index)
# temp_noncriminal=temp_noncriminal.drop(temp_noncriminal[temp_noncriminal['criminal']=='criminal'].index)
# temp_criminal= temp.drop(temp[temp['criminal']=='None'].index)  
# temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']=='Non-criminal'].index)  

# temp_criminal.info()

# # Criminal count 

# criminal_count_2010 = temp_criminal["state_code"].value_counts().reset_index()

# # Rename the "index" and "Year" columns
# criminal_count_2010['state_code']=criminal_count_2010['state_code'].sort_values()
# criminal_count_2010.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

# criminal_count_2010

# criminal_count_2010.info()

# # new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# # criminal_count_2010= pd.concat([new_rows, criminal_count_2010], ignore_index=True)


# criminal_count_2010['state']=criminal_count_2010['state'].sort_values()


# criminal_count_2010=criminal_count_2010.sort_values(by='state')

# criminal_count_2010.insert(2, 'Year', 2018)


# criminal_count_2010=criminal_count_2010.reset_index()

# criminal_count_2010=criminal_count_2010.drop(columns=['index'])

# del temp_criminal

# criminal_count_2010


# criminal_count_2010['criminal_perlakh']=criminal_count_2010['criminal_count']/100000

# non_criminal_count_2010 = temp_noncriminal["state_code"].value_counts().reset_index()

# # Rename the "index" and "Year" columns
# non_criminal_count_2010['state_code']=non_criminal_count_2010['state_code'].sort_values()
# non_criminal_count_2010.rename(columns={"index": "state", "state_code": "noncriminal_count"}, inplace=True)

# non_criminal_count_2010

# non_criminal_count_2010.info()

# # new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'noncriminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})


# # non_criminal_count_2010= pd.concat([new_rows, non_criminal_count_2010], ignore_index=True)


# non_criminal_count_2010['state']=non_criminal_count_2010['state'].sort_values()


# non_criminal_count_2010=non_criminal_count_2010.sort_values(by='state')

# # non_criminal_count_2010.insert(2, 'Year', 2010)


# non_criminal_count_2010=non_criminal_count_2010.reset_index()

# non_criminal_count_2010=non_criminal_count_2010.drop(columns=['index'])
# non_criminal_count_2010

# df_criminal_not=pd.merge(criminal_count_2010,non_criminal_count_2010,on='state')

# df_criminal_not

# df_criminal_not['noncriminal_perlakh']=df_criminal_not['noncriminal_count']/100000

# df_criminal_not

In [17]:
# df_2018=df_2018.drop(columns=['date_of_filing','date_of_decision','date_first_list','date_next_list'])
# df_2018['file_reachcourt'] =(df_2018['first_list']-df_2018['filing']).dt.days
# df_2018['file_end'] =(df_2018['last_list']-df_2018['filing']).dt.days
# df_2018['decision_end'] =(df_2018['last_list']-df_2018['decision']).dt.days
# df_2018=df_2018.drop(columns=['filing','first_list','decision','last_list'])

In [18]:
# def replace_negatives(x):
#     if x < 0:
#         return -1
#     return x
# df_2018['file_reachcourt']=df_2018['file_reachcourt'].apply(replace_negatives)
# df_2018['file_end']=df_2018['file_end'].apply(replace_negatives)
# df_2018['decision_end']=df_2018['decision_end'].apply(replace_negatives)
# df_2018
# df_2018.info()
# import numpy as np
# df_2018['file_reachcourt'] = pd.to_numeric(df_2018['file_reachcourt'], errors='coerce')
# df_2018['file_reachcourt'] = df_2018['file_reachcourt'].fillna(-1).replace([np.inf, -np.inf], -1)
# df_2018['file_reachcourt'] = df_2018['file_reachcourt'].astype(int)
# df_2018['file_end'] = pd.to_numeric(df_2018['file_end'], errors='coerce')
# df_2018['file_end'] = df_2018['file_end'].fillna(-1).replace([np.inf, -np.inf], -1)
# df_2018['file_end'] = df_2018['file_end'].astype(int)
# df_2018['decision_end'] = pd.to_numeric(df_2018['decision_end'], errors='coerce')
# df_2018['decision_end'] = df_2018['decision_end'].fillna(-1).replace([np.inf, -np.inf], -1)
# df_2018['decision_end'] = df_2018['decision_end'].astype(int)
# df_2018.info()
# df_2018['decision_end'].unique()
# df_2018['criminal'] = df_2018['criminal'].fillna(-1)
# df_2018['file_reachcourt']=df_2018['file_reachcourt'].fillna(-1)
# df_2018['file_end']=df_2018['file_end'].fillna(-1)
# df_2018['decision_end']=df_2018['decision_end'].fillna(-1)
# df_2018['file_reachcourt']=df_2018['file_reachcourt'].astype(int)
# df_2018['file_end']=df_2018['file_end'].astype(int)
# df_2018['decision_end']=df_2018['decision_end'].astype(int)
# df_2018
# #criminal count
# temp=df_2018
# temp_criminal= temp.drop(temp[temp['criminal']==-1].index)  
# temp_criminal= temp_criminal.drop(temp_criminal[temp_criminal['criminal']==0].index)  
# temp_criminal.info()

# Criminal count

In [19]:
# # Criminal_count in 2012


# criminal_count = temp_criminal["state_code"].value_counts().reset_index()

# # Rename the "index" and "Year" columns
# criminal_count['state_code']=criminal_count['state_code'].sort_values()
# criminal_count.rename(columns={"index": "state", "state_code": "criminal_count"}, inplace=True)

# criminal_count

# criminal_count.info()

# # new_rows = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'criminal_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})
# del temp_criminal

# # criminal_count_2010= pd.concat([new_rows, criminal_count_2010], ignore_index=True)


# criminal_count['state']=criminal_count['state'].sort_values()


# criminal_count=criminal_count.sort_values(by='state')

# criminal_count.insert(2, 'Year', 2018)


# criminal_count=criminal_count.reset_index()

# criminal_count=criminal_count.drop(columns=['index'])

# criminal_count

# Pending Cases in 2010

In [20]:
# del pending_Cases

In [21]:
# del temp
# temp=df_2018

# temp=temp.drop(temp[temp['pending']==0].index)

# pending_Cases = temp["state_code"].value_counts().reset_index()

# # Rename the "index" and "Year" columns
# pending_Cases['state_code']=pending_Cases['state_code'].sort_values()
# pending_Cases.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
# new_rows_pending = pd.DataFrame({'state' : ['DNH at silvasa','Ladakh','Sikkim','Diu and daman'], 'pendingcases_count' : [0,0,0,0]})

# pending_Cases= pd.concat([new_rows_pending, pending_Cases], ignore_index=True)

# # pending_Cases

# # del pending_Cases


# pending_Cases=pending_Cases.sort_values(by='state')

# pending_Cases

# pending_Cases=pending_Cases.reset_index()

# pending_Cases=pending_Cases.drop(columns=['index'])  

# pending_Cases.info()

# pending_Cases.insert(2, 'Year', 2018)


# pending_Cases

# Average Time to reach court after filing per 1 lakh cases

In [22]:
# Average Time to reach court after filing per 1 lakh cases

# del temp
temp=df_2018

avg_file_court=temp.drop(temp[temp['file_reachcourt'] < 0].index)
# del avg_file_court

avg_file_court

# filing_reach = df["file_reachcourt"].value_counts().reset_index()
avg_file_court = avg_file_court.groupby('state_code')
# df_mean = filing_reach['file_reachcourt'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_court.apply(avg_days,"file_reachcourt")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()
del avg_file_court

file_court_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_court_avg.rename(columns={"state_code": "state", 0: "avg_filecourt_per1lakhcases"}, inplace=True)
file_court_avg

# new_rows_file_court_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_filecourt_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_court_avg= pd.concat([new_rows_file_court_avg, file_court_avg], ignore_index=True)

file_court_avg
del df_avg_days


file_court_avg=file_court_avg.sort_values(by='state')




file_court_avg.info()



file_court_avg


file_court_avg=file_court_avg.reset_index()
file_court_avg=file_court_avg.drop(columns=['index'])  


file_court_avg.info()

file_court_avg.insert(2, 'Year', 2018)


# file_court_avg=file_court_avg.drop(columns=['Year'])  
file_court_avg

file_court_avg['avg_filecourt_per1lakhcases']=file_court_avg['avg_filecourt_per1lakhcases'].astype(int)

file_court_avg

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   state                        32 non-null     object
 1   avg_filecourt_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

                state  avg_filecourt_per1lakhcases  Year
0      Andhra Pradesh                           60  2018
1               Assam                           60  2018
2               Bihar                           30  2018
3          Chandigarh                           21  2018
4         Chattisgarh                           42  2018
5      DNH at silvasa                         5831  2018
6               Delhi                           14  2018
7       Diu and daman                         2583  2018
8                 Goa                          218  2018
9            Gujarath                           13  2018
10            Haryana                           11  2018
11   Himachal Pradesh                           33  2018
12  Jammu and kashmir                          176  2018
13          Jharkhand                           12  2018
14          Karnataka                            7  2018
15             Kerala                           35  2018
16             Ladakh                        15576  2018
17     Madhya Pradesh                           11  2018
18        Maharashtra                            5  2018
19            Manipur                          284  2018
20          Meghalaya                          193  2018
21            Mizoram                        19952  2018
22             Orissa                          124  2018
23             Punjab                            4  2018
24          Rajasthan                           19  2018
25             Sikkim                          531  2018
26          Tamilnadu                           17  2018
27          Telangana                          129  2018
28            Tripura                          855  2018
29      Uttar pradesh                            4  2018
30        Uttarakhand                          115  2018
31        West Bengal                           24  2018

# Average Time to End case after filing per 1 lakh cases in 2010

In [23]:
temp=df_2018

avg_file_end=temp.drop(temp[temp['file_end'] < 0].index)
# del avg_file_end

avg_file_end

# filing_reach = df["file_end"].value_counts().reset_index()
avg_file_end = avg_file_end.groupby('state_code')
# df_mean = filing_reach['file_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_file_end.apply(avg_days,"file_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days

file_End_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
file_End_avg.rename(columns={"state_code": "state", 0: "avg_fileend_per1lakhcases"}, inplace=True)
file_End_avg

# new_rows_file_End_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_fileend_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# file_End_avg= pd.concat([new_rows_file_End_avg, file_End_avg], ignore_index=True)

# file_End_avg


file_End_avg=file_End_avg.sort_values(by='state')




file_End_avg.info()



file_End_avg


file_End_avg=file_End_avg.reset_index()
file_End_avg=file_End_avg.drop(columns=['index'])  


file_End_avg.info()

file_End_avg.insert(2, 'Year', 2018)


file_End_avg

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg
del avg_file_end
del df_avg_days

file_End_avg['avg_fileend_per1lakhcases']=file_End_avg['avg_fileend_per1lakhcases'].astype(int)

file_End_avg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      32 non-null     object
 1   avg_fileend_per1lakhcases  32 non-null     int64
 2   Year                       32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

# Average Time to End case after decision per 1 lakh cases in 2012

In [24]:
del temp
temp=df_2018

avg_decision_end=temp.drop(temp[temp['decision_end'] < 0].index)
# del avg_decision_end

avg_decision_end

# filing_reach = df["decision_end"].value_counts().reset_index()
avg_decision_end = avg_decision_end.groupby('state_code')
# df_mean = filing_reach['decision_end'].mean()

def avg_days(group,column):
    return group[column].mean() / group[column].count() * 100000

df_avg_days = avg_decision_end.apply(avg_days,"decision_end")

# # Rename the "index" and "Year" columns
# year_counts_end.rename(columns={"index": "year", "year2": "count_of_end"}, inplace=True)
# year_counts_end
df_avg_days.info()

decision_end_avg=df_avg_days.to_frame().reset_index()

# pandas_s.info()
decision_end_avg.rename(columns={"state_code": "state", 0: "avg_decision_end_per1lakhcases"}, inplace=True)
decision_end_avg

# new_rows_decision_end_avg = pd.DataFrame({'state' : [ 'Kerala', 'Himachal Pradesh', 'Assam', 'Jharkhand', 'Bihar', 'Rajasthan', 'Tamilnadu', 'Orissa','Jammu and kashmir','Uttar pradesh', 'Haryana','Uttarakhand','West Bengal','Gujarath','Chattisgarh','Mizoram','Tripura','Meghalaya','Punjab','Madhya Pradesh','Sikkim','Manipur','Delhi','Chandigarh','Telangana','Goa','Diu and daman','DNH at silvasa','Ladakh'], 'avg_decision_end_per1lakhcases' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 ]})

# decision_end_avg= pd.concat([new_rows_decision_end_avg, decision_end_avg], ignore_index=True)

# decision_end_avg


decision_end_avg=decision_end_avg.sort_values(by='state')




decision_end_avg.info()



decision_end_avg


decision_end_avg=decision_end_avg.reset_index()
decision_end_avg=decision_end_avg.drop(columns=['index'])  


decision_end_avg.info()

decision_end_avg.insert(2, 'Year', 2018)


decision_end_avg

decision_end_avg['avg_decision_end_per1lakhcases']=decision_end_avg['avg_decision_end_per1lakhcases'].astype(int)

decision_end_avg
del df_avg_days
del avg_decision_end

<class 'pandas.core.series.Series'>
Index: 32 entries, Andhra Pradesh to West Bengal
Series name: None
Non-Null Count  Dtype
--------------  -----
32 non-null     float64
dtypes: float64(1)
memory usage: 512.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   state                           32 non-null     object
 1   avg_decision_end_per1lakhcases  32 non-null     float64
dtypes: float64(1), object(1)
memory usage: 640.0+ bytes

# Withdrawal

In [25]:
# del withdrawal

In [26]:
del temp
temp=df_2018

withdrawal=temp[temp['disp_name'] == '51']
# del avg_decision_end

# withdrawal
withdrawal = withdrawal["state_code"].value_counts().reset_index()

# Rename the "index" and "Year" columns
withdrawal['state_code']=withdrawal['state_code'].sort_values()
withdrawal.rename(columns={"index": "state", "state_code": "withdrawal_count"}, inplace=True)
new_rows_withdrawal = pd.DataFrame({'state' : ['Andhra Pradesh','Assam','DNH at silvasa','Diu and daman','Goa','Gujarath','Himachal Pradesh','Karnataka','Ladakh','Madhya Pradesh','Maharashtra','Manipur','Meghalaya','Mizoram','Rajasthan','Sikkim','Tamilnadu','Telangana','Tripura','Uttarakhand','West Bengal'], 'withdrawal_count' : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]})
# # withdrawal
withdrawal= pd.concat([new_rows_withdrawal, withdrawal], ignore_index=True)
# withdr-
withdrawal=withdrawal.sort_values(by='state')
withdrawal.info()
withdrawal
withdrawal=withdrawal.reset_index()
withdrawal=withdrawal.drop(columns=['index'])  
withdrawal.info()
withdrawal.insert(2, 'Year', 2018)
withdrawal['state']

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 20
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   state             32 non-null     object
 1   withdrawal_count  32 non-null     int64
dtypes: int64(1), object(1)
memory usage: 640.0+ bytes

0        Andhra Pradesh
1                 Assam
2                 Bihar
3            Chandigarh
4           Chattisgarh
5        DNH at silvasa
6                 Delhi
7         Diu and daman
8                   Goa
9              Gujarath
10              Haryana
11     Himachal Pradesh
12    Jammu and kashmir
13            Jharkhand
14            Karnataka
15               Kerala
16               Ladakh
17       Madhya Pradesh
18          Maharashtra
19              Manipur
20            Meghalaya
21              Mizoram
22               Orissa
23               Punjab
24            Rajasthan
25               Sikkim
26            Tamilnadu
27            Telangana
28              Tripura
29        Uttar pradesh
30          Uttarakhand
31          West Bengal
Name: state, dtype: object

# Prison

In [29]:
del prison

In [30]:
# del temp
temp=df_2018
prison=temp[temp['disp_name'] == '38']
# del avg_decision_end
prison
prison = prison["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
prison['state_code']=prison['state_code'].sort_values()
prison.rename(columns={"index": "state", "state_code": "prison_count"}, inplace=True)
new_rows_prison = pd.DataFrame({'state' : ['Jammu and kashmir','Andhra Pradesh','Chandigarh','Diu and daman','Goa','Haryana','Himachal Pradesh','Ladakh','Madhya Pradesh','Meghalaya','Mizoram','Tamilnadu','Telangana'], 'prison_count' : [0,0,0,0,0,0,0,0,0,0,0,0,0]})

prison= pd.concat([new_rows_prison, prison], ignore_index=True)
# prison
prison=prison.sort_values(by='state')
prison=prison.reset_index()
prison=prison.drop(columns=['index'])  
prison.insert(2, 'Year', 2018)
prison.info()
prison
# del dismissed_2012

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         32 non-null     object
 1   prison_count  32 non-null     int64
 2   Year          32 non-null     int64
dtypes: int64(2), object(1)
memory usage: 896.0+ bytes

                state  prison_count  Year
0      Andhra Pradesh             0  2018
1               Assam           204  2018
2               Bihar             3  2018
3          Chandigarh             0  2018
4         Chattisgarh           124  2018
5      DNH at silvasa            50  2018
6               Delhi           693  2018
7       Diu and daman             0  2018
8                 Goa             0  2018
9            Gujarath         28826  2018
10            Haryana             0  2018
11   Himachal Pradesh             0  2018
12  Jammu and kashmir             0  2018
13          Jharkhand           131  2018
14          Karnataka         13387  2018
15             Kerala          6076  2018
16             Ladakh             0  2018
17     Madhya Pradesh             0  2018
18        Maharashtra          3964  2018
19            Manipur             1  2018
20          Meghalaya             0  2018
21            Mizoram             0  2018
22             Orissa            11  2018
23             Punjab            40  2018
24          Rajasthan             9  2018
25             Sikkim             4  2018
26          Tamilnadu             0  2018
27          Telangana             0  2018
28            Tripura            23  2018
29      Uttar pradesh             9  2018
30        Uttarakhand           249  2018
31        West Bengal          6281  2018

# Dismissed cases

In [33]:
del dismissed

In [32]:
del temp
temp=df_2018
dismissed=temp[temp['disp_name'] == '22']
# del avg_decision_end
# dismissed
dismissed = dismissed["state_code"].value_counts().reset_index()
# Rename the "index" and "Year" columns
dismissed['state_code']=dismissed['state_code'].sort_values()
dismissed.rename(columns={"index": "state", "state_code": "dismissed_count"}, inplace=True)
new_rows_dismissed = pd.DataFrame({'state' : ['West Bengal','Andhra Pradesh','Assam','Chandigarh','DNH at silvasa','Diu and daman','Goa','Gujarath','Himachal Pradesh','Ladakh','Madhya Pradesh','Manipur','Meghalaya','Mizoram','Orissa','Sikkim','Tamilnadu','Telangana'], 'dismissed_count' : [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]})
# # # dismissed
dismissed= pd.concat([new_rows_dismissed, dismissed], ignore_index=True)
dismissed
dismissed=dismissed.sort_values(by='state')
dismissed=dismissed.reset_index()
dismissed=dismissed.drop(columns=['index'])  
dismissed.insert(2, 'Year', 2018)
dismissed

                state  dismissed_count  Year
0      Andhra Pradesh                0  2018
1               Assam                0  2018
2               Bihar                8  2018
3          Chandigarh                0  2018
4         Chattisgarh               29  2018
5      DNH at silvasa                0  2018
6               Delhi                5  2018
7       Diu and daman                0  2018
8                 Goa                0  2018
9            Gujarath                0  2018
10            Haryana               17  2018
11   Himachal Pradesh                0  2018
12  Jammu and kashmir                3  2018
13          Jharkhand               10  2018
14          Karnataka               77  2018
15             Kerala                5  2018
16             Ladakh                0  2018
17     Madhya Pradesh                0  2018
18        Maharashtra               33  2018
19            Manipur                0  2018
20          Meghalaya                0  2018
21            Mizoram                0  2018
22             Orissa                0  2018
23             Punjab                1  2018
24          Rajasthan               55  2018
25             Sikkim                0  2018
26          Tamilnadu                0  2018
27          Telangana                0  2018
28            Tripura                1  2018
29      Uttar pradesh               75  2018
30        Uttarakhand                1  2018
31        West Bengal                0  2018

# Merging

In [33]:
df_merged=pd.merge(dismissed,prison,on='state')
df_merged=pd.merge(df_merged,withdrawal,on='state')
df_merged=pd.merge(df_merged,decision_end_avg,on='state')
df_merged=pd.merge(df_merged,file_End_avg,on='state')
df_merged=pd.merge(df_merged,file_court_avg,on='state')
# df_merged=pd.merge(df_merged,pending_Cases,on='state')
df_merged=pd.merge(df_merged,df_criminal_not,on='state')
df_merged

/tmp/ipykernel_4980/536434596.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,decision_end_avg,on='state')
/tmp/ipykernel_4980/536434596.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Year_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged=pd.merge(df_merged,file_court_avg,on='state')

,state,dismissed_count,Year_x,prison_count,Year_y,withdrawal_count,Year_x,avg_decision_end_per1lakhcases,Year_y,avg_fileend_per1lakhcases,Year_x,avg_filecourt_per1lakhcases,Year_y,criminal_count,Year,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,Andhra Pradesh,0,2018,0,2018,0,2018,0,2018,232,2018,60,2018,59479,2018,0.59479,33408,0.33408
1,Assam,0,2018,204,2018,0,2018,0,2018,286,2018,60,2018,36264,2018,0.36264,29359,0.29359
2,Bihar,8,2018,3,2018,240,2018,5,2018,130,2018,30,2018,44437,2018,0.44437,130363,1.30363
3,Chandigarh,0,2018,0,2018,55,2018,0,2018,2747,2018,21,2018,6876,2018,0.06876,1709,0.01709
4,Chattisgarh,29,2018,124,2018,17,2018,0,2018,287,2018,42,2018,35538,2018,0.35538,22584,0.22584
5,DNH at silvasa,0,2018,50,2018,0,2018,0,2018,54424,2018,5831,2018,191,2018,0.00191,143,0.00143
6,Delhi,5,2018,693,2018,3662,2018,0,2018,191,2018,14,2018,69371,2018,0.69371,34886,0.34886
7,Diu and daman,0,2018,0,2018,0,2018,0,2018,18617,2018,2583,2018,337,2018,0.00337,92,0.00092
8,Goa,0,2018,0,2018,0,2018,0,2018,1447,2018,218,2018,7776,2018,0.07776,1846,0.01846
9,Gujarath,0,2018,28826,2018,0,2018,0,2018,86,2018,13,2018,132300,2018,1.32300,56936,0.56936
10,Haryana,17,2018,0,2018,2268,2018,0,2018,120,2018,11,2018,117993,2018,1.17993,43972,0.43972
11,Himachal Pradesh,0,2018,0,2018,0,2018,0,2018,181,2018,33,2018,67620,2018,0.67620,49041,0.49041
12,Jammu and kashmir,3,2018,0,2018,2,2018,1,2018,746,2018,176,2018,20572,2018,0.20572,7336,0.07336
13,Jharkhand,10,2018,131,2018,33,2018,0,2018,146,2018,12,2018,17307,2018,0.17307,60348,0.60348
14,Karnataka,77,2018,13387,2018,0,2018,1,2018,53,2018,7,2018,222356,2018,2.22356,97280,0.97280
15,Kerala,5,2018,6076,2018,4,2018,0,2018,137,2018,35,2018,115777,2018,1.15777,85448,0.85448
16,Ladakh,0,2018,0,2018,0,2018,0,2018,114173,2018,15576,2018,86,2018,0.00086,34,0.00034
17,Madhya Pradesh,0,2018,0,2018,0,2018,0,2018,81,2018,11,2018,115646,2018,1.15646,86470,0.86470
18,Maharashtra,33,2018,3964,2018,0,2018,0,2018,54,2018,5,2018,265620,2018,2.65620,127037,1.27037
19,Manipur,0,2018,1,2018,0,2018,0,2018,2389,2018,284,2018,2031,2018,0.02031,1562,0.01562
20,Meghalaya,0,2018,0,2018,0,2018,60,2018,13784,2018,193,2018,739,2018,0.00739,225,0.00225
21,Mizoram,0,2018,0,2018,0,2018,0,2018,70231,2018,19952,2018,256,2018,0.00256,99,0.00099
22,Orissa,0,2018,11,2018,11,2018,7,2018,434,2018,124,2018,43220,2018,0.43220,29049,0.29049
23,Punjab,1,2018,40,2018,635,2018,0,2018,127,2018,4,2018,98169,2018,0.98169,49345,0.49345
24,Rajasthan,55,2018,9,2018,0,2018,0,2018,84,2018,19,2018,148190,2018,1.48190,119924,1.19924
25,Sikkim,0,2018,4,2018,0,2018,0,2018,7471,2018,531,2018,491,2018,0.00491,520,0.00520
26,Tamilnadu,0,2018,0,2018,0,2018,1,2018,97,2018,17,2018,137797,2018,1.37797,61963,0.61963
27,Telangana,0,2018,0,2018,0,2018,1,2018,393,2018,129,2018,32018,2018,0.32018,27368,0.27368
28,Tripura,1,2018,23,2018,0,2018,13,2018,6606,2018,855,2018,1669,2018,0.01669,1367,0.01367
29,Uttar pradesh,75,2018,9,2018,535,2018,0,2018,25,2018,4,2018,435728,2018,4.35728,350077,3.50077
30,Uttarakhand,1,2018,249,2018,0,2018,1,2018,536,2018,115,2018,32287,2018,0.32287,11551,0.11551
31,West Bengal,0,2018,6281,2018,0,2018,0,2018,233,2018,24,2018,59874,2018,0.59874,57621,0.57621

In [34]:
df_merged=df_merged.drop(columns='Year_x')
df_merged=df_merged.drop(columns='Year_y')
df_merged['year']=[2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018,2018]
df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])
df_merged.info()
df_merged.to_csv('2018_filtered.csv', index=False)
df_merged.to_csv('2018_filtered_copy.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            32 non-null     int64
 1   state                           32 non-null     object
 2   dismissed_count                 32 non-null     int64
 3   prison_count                    32 non-null     int64
 4   withdrawal_count                32 non-null     int64
 5   avg_decision_end_per1lakhcases  32 non-null     int64
 6   avg_fileend_per1lakhcases       32 non-null     int64
 7   avg_filecourt_per1lakhcases     32 non-null     int64
 8   criminal_count                  32 non-null     int64
 9   criminal_perlakh                32 non-null     float64
 10  noncriminal_count               32 non-null     int64
 11  noncriminal_perlakh             32 non-null     float64
dtypes: float64(2), int64(9), object(1)
memory usage: 3.2+ KB

In [35]:
del df_merged

In [36]:
del prison
del withdrawal
del decision_end_avg
del file_End_avg
del file_court_avg
del pending_Cases
del criminal_count

NameError: name 'pending_Cases' is not defined