In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('/home/nirmala/judges_count.csv')

In [5]:
df1=df
df1

                state  null  unclear_data   male  female  number_of_judges
0      Andhra Pradesh   NaN          16.0   2266    1226              3508
1               Assam   NaN          28.0    937     613              1578
2               Bihar   NaN           3.0   3846     275              4124
3          Chandigarh   NaN           NaN     89      51               140
4         Chattisgarh   NaN           8.0    688     344              1040
5               Delhi   NaN          39.0    943     514              1496
6                 Goa   NaN          13.0    160     164               337
7            Gujarath   NaN        2412.0   2700    2249              7361
8             Haryana   NaN          17.0   1497     824              2338
9    Himachal Pradesh   NaN          18.0    645     252               915
10  Jammu and kashmir   NaN          11.0    751     148               910
11          Jharkhand   NaN           2.0   2055     228              2285
12          Karnataka   NaN         375.0   4376    2064              6815
13             Kerala   NaN          47.0   2196     864              3107
14     Madhya Pradesh   NaN          46.0   4359    1224              5629
15        Maharashtra   NaN         453.0  15756    6231             22440
16            Manipur   NaN          15.0     49      49               113
17          Meghalaya   NaN           NaN     56      92               148
18            Mizoram   NaN           7.0     13      24                44
19             Orissa   1.0           4.0   1359     674              2038
20             Punjab   NaN          20.0   1128     793              1941
21          Rajasthan   NaN          43.0   3688    1702              5433
22             Sikkim   NaN           2.0     68      97               167
23          Tamilnadu   NaN          61.0   2346    1309              3716
24          Telangana   NaN          21.0   1681     887              2589
25            Tripura   NaN           6.0    315     123               444
26      Uttar pradesh   NaN          39.0  11054    2945             14038
27        Uttarakhand   NaN           4.0    654     424              1082
28        West Bengal   NaN          25.0   1865     812              2702

In [6]:
df1=df1.drop(columns=['state','null','number_of_judges'])

In [20]:
male=df1['male']
female=df1['female']

In [23]:
result = df1['male'].sum()
result1=df1['female'].sum()

In [ ]:
fig = plt.figure(figsize=(14, 6))

ax1 = dataset['Gender'].value_counts().plot(kind="pie",rot=30)

ax1.invert_yaxis()
 
# Add annotation to bars
# for i in ax1.patches:
#     plt.text(i.get_width()+0.2, i.get_y()+0.5,
#              str(round((i.get_width()), 2)),
#              fontsize = 10, fontweight ='bold',
#              color ='grey')
 
ax1.set_title('Gender classification of judges',
             loc ='left', )
# for p in ax.patches:
#     ax.text(p.get_x() + p.get_width()/2, p.get_height(), '%.f' % p.get_height(), fontsize=12, ha='center', va='bottom')
# Set the width of the bars
bar_width = 0.8


# Show the plot
plt.show()

In [24]:
result

67540

In [25]:
result1

27202