In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import pandas as pd
spark = SparkSession.builder \
    .appName('Read CSV File into DataFrame') \
    .config('spark.executor.memory', '10g') \
    .config('spark.driver.memory', '50g') \
    .getOrCreate()
# spark = SparkSession.builder.appName('Read CSV File into DataFrame').fgetOrCreate()
from pyspark.sql.functions import col

df=spark.read.csv("/home/nirmala/Documents/precog_requirement_task/cases/cases/cases_2018.csv" ,header=True)
df2=pd.read_csv('/home/nirmala/2018_filtered.csv')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/10 11:18:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_pending=df

df_pending = df_pending.drop(col("dist_code"))
df_pending = df_pending.drop(col("ddl_case_id"))
df_pending = df_pending.drop(col("court_no"))
df_pending = df_pending.drop(col("cino"))
df_pending = df_pending.drop(col("judge_position"))
df_pending = df_pending.drop(col("female_defendant"))
df_pending = df_pending.drop(col("female_petitioner"))
df_pending = df_pending.drop(col("female_adv_def"))
df_pending = df_pending.drop(col("female_adv_pet"))
df_pending = df_pending.drop(col("type_name"))
df_pending = df_pending.drop(col("purpose_name"))
df_pending = df_pending.drop(col("disp_name"))
df_pending = df_pending.drop(col("date_last_list"))
df_pending = df_pending.drop(col("date_first_list"))


df_pending

DataFrame[year: string, state_code: string, date_of_filing: string, date_of_decision: string, date_next_list: string]

In [3]:

df = df_pending.toPandas()

ERROR:root:Exception while sending command.
Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 516, in send_command
    raise Py4JNetworkError("Answer from Java side is empty")
py4j.protocol.Py4JNetworkError: Answer from Java side is empty

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/home/nirmala/.local/lib/python3.8/site-packages/py4j/clientserver.py", line 539, in send_command
    raise Py4JNetworkError(
py4j.protocol.Py4JNetworkError: Error while sending or receiving

In [4]:

df['date_of_filing'] = pd.to_datetime(df['date_of_filing'], format='%Y-%m-%d',errors = 'coerce') 


df['date_of_decision'] = pd.to_datetime(df['date_of_decision'], format='%Y-%m-%d',errors = 'coerce') 

df['date_next_list'] = pd.to_datetime(df['date_next_list'], format='%Y-%m-%d',errors = 'coerce')

In [5]:

# df['file_end'] =(df['date_next_list']-df['date_of_filing']).dt.year
df.info()

df['closing'] = df['date_next_list'].dt.year
df['filing'] = df['date_of_filing'].dt.year


df=df.drop(columns=['date_of_filing','date_of_decision','date_next_list'])

df['closing']=df['closing'].fillna('1900')


df['closing']=df['closing'].astype(int)
df['filing']=df['filing'].astype(int)

df

df.info()

df = df[~df['closing'].isin([2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022])]


df

df['pending_years']=df['closing']-df['filing']

df


df['filing'].unique()

df=df.drop(columns=['filing','closing'])

df=df.reset_index()

df=df.drop(columns=['index'])
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801663 entries, 0 to 2801662
Data columns (total 5 columns):
 #   Column            Dtype
---  ------            -----
 0   year              object
 1   state_code        object
 2   date_of_filing    datetime64[ns]
 3   date_of_decision  datetime64[ns]
 4   date_next_list    datetime64[ns]
dtypes: datetime64[ns](3), object(2)
memory usage: 106.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2801663 entries, 0 to 2801662
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   year        object
 1   state_code  object
 2   closing     int64
 3   filing      int64
dtypes: int64(2), object(2)
memory usage: 85.5+ MB

       year state_code  pending_years
0      2018         01           -118
1      2018         01           -118
2      2018         01           -118
3      2018         01           -118
4      2018         01           -118
...     ...        ...            ...
92706  2018         04           -118
92707  2018         04           -118
92708  2018         04           -118
92709  2018         04           -118
92710  2018         04           -118

[92711 rows x 3 columns]

In [6]:
df['state_code'].replace(to_replace='01', value="Maharashtra",inplace=True)
df['state_code'].replace(to_replace='02' ,value="Andhra Pradesh",inplace=True)
df['state_code'].replace(to_replace='03' ,value="Karnataka",inplace=True)
df['state_code'].replace(to_replace='04', value="Kerala",inplace=True)
df['state_code'].replace(to_replace='05' ,value="Himachal Pradesh",inplace=True)
df['state_code'].replace(to_replace='06', value="Assam",inplace=True)
df['state_code'].replace(to_replace='07', value="Jharkhand",inplace=True)
df['state_code'].replace(to_replace='08' ,value="Bihar",inplace=True)
df['state_code'].replace(to_replace='09' ,value="Rajasthan",inplace=True)
df['state_code'].replace(to_replace='10' ,value="Tamilnadu",inplace=True)
df['state_code'].replace(to_replace='11',value="Orissa",inplace=True)
df['state_code'].replace(to_replace='12' ,value="Jammu and kashmir",inplace=True)
df['state_code'].replace(to_replace='13' ,value="Uttar pradesh",inplace=True)
df['state_code'].replace(to_replace='14' ,value="Haryana",inplace=True)
df['state_code'].replace(to_replace='15' ,value="Uttarakhand",inplace=True)
df['state_code'].replace(to_replace='16' ,value="West Bengal",inplace=True)
df['state_code'].replace(to_replace='17' ,value="Gujarath",inplace=True)
df['state_code'].replace(to_replace='18' ,value="Chattisgarh",inplace=True)
df['state_code'].replace(to_replace='19' ,value="Mizoram",inplace=True)
df['state_code'].replace(to_replace='20' ,value="Tripura",inplace=True)
df['state_code'].replace(to_replace='21' ,value="Meghalaya",inplace=True)
df['state_code'].replace(to_replace='22' ,value="Punjab",inplace=True)
df['state_code'].replace(to_replace='23' ,value="Madhya Pradesh",inplace=True)
df['state_code'].replace(to_replace='24' , value="Sikkim",inplace=True)
df['state_code'].replace(to_replace='25' ,value="Manipur",inplace=True)
df['state_code'].replace(to_replace='26' ,value="Delhi",inplace=True)
df['state_code'].replace(to_replace='27' ,value="Chandigarh",inplace=True)
df['state_code'].replace(to_replace='29' ,value="Telangana",inplace=True)
df['state_code'].replace(to_replace='30' ,value="Goa",inplace=True)
df['state_code'].replace(to_replace='31' ,value="Diu and daman",inplace=True)
df['state_code'].replace(to_replace='32',value="DNH at silvasa",inplace=True)
df['state_code'].replace(to_replace='33' ,value="Ladakh",inplace=True)

df

       year   state_code  pending_years
0      2018  Maharashtra           -118
1      2018  Maharashtra           -118
2      2018  Maharashtra           -118
3      2018  Maharashtra           -118
4      2018  Maharashtra           -118
...     ...          ...            ...
92706  2018       Kerala           -118
92707  2018       Kerala           -118
92708  2018       Kerala           -118
92709  2018       Kerala           -118
92710  2018       Kerala           -118

[92711 rows x 3 columns]

In [12]:
del df_pending

In [13]:


df_pending = df["state_code"].value_counts().reset_index()


df_pending

df_pending['state_code']=df_pending['state_code'].sort_values()
df_pending.rename(columns={"index": "state", "state_code": "pendingcases_count"}, inplace=True)
new_rows_pending = pd.DataFrame({'state' : ['Assam','Bihar','Chandigarh','Chattisgarh','DNH at silvasa','Delhi','Diu and daman','Goa','Gujarath','Haryana','Himachal Pradesh','Jammu and kashmir','Jharkhand','Ladakh','Madhya Pradesh','Manipur','Meghalaya','Mizoram','Orissa','Punjab','Rajasthan','Sikkim','Tamilnadu','Telangana','Tripura','Uttar pradesh','Uttarakhand','West Bengal'], 'pendingcases_count' : [ 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]})
df_pending= pd.concat([new_rows_pending, df_pending], ignore_index=True)
df_pending

df_pending['pending_casesperlakh']=df_pending['pendingcases_count']/100000
df_pending.insert(3, 'Year', 2018)

df_pending

                state  pendingcases_count  pending_casesperlakh  Year
0               Assam                   0               0.00000  2018
1               Bihar                   0               0.00000  2018
2          Chandigarh                   0               0.00000  2018
3         Chattisgarh                   0               0.00000  2018
4      DNH at silvasa                   0               0.00000  2018
5               Delhi                   0               0.00000  2018
6       Diu and daman                   0               0.00000  2018
7                 Goa                   0               0.00000  2018
8            Gujarath                   0               0.00000  2018
9             Haryana                   0               0.00000  2018
10   Himachal Pradesh                   0               0.00000  2018
11  Jammu and kashmir                   0               0.00000  2018
12          Jharkhand                   0               0.00000  2018
13             Ladakh                   0               0.00000  2018
14     Madhya Pradesh                   0               0.00000  2018
15            Manipur                   0               0.00000  2018
16          Meghalaya                   0               0.00000  2018
17            Mizoram                   0               0.00000  2018
18             Orissa                   0               0.00000  2018
19             Punjab                   0               0.00000  2018
20          Rajasthan                   0               0.00000  2018
21             Sikkim                   0               0.00000  2018
22          Tamilnadu                   0               0.00000  2018
23          Telangana                   0               0.00000  2018
24            Tripura                   0               0.00000  2018
25      Uttar pradesh                   0               0.00000  2018
26        Uttarakhand                   0               0.00000  2018
27        West Bengal                   0               0.00000  2018
28          Karnataka               56655               0.56655  2018
29        Maharashtra               30456               0.30456  2018
30     Andhra Pradesh                5579               0.05579  2018
31             Kerala                  21               0.00021  2018

In [14]:
df_pending=df_pending.sort_values(by='state')
df_pending=df_pending.reset_index()
df_pending=df_pending.drop(columns=['index'])  
df_pending

                state  pendingcases_count  pending_casesperlakh  Year
0      Andhra Pradesh                5579               0.05579  2018
1               Assam                   0               0.00000  2018
2               Bihar                   0               0.00000  2018
3          Chandigarh                   0               0.00000  2018
4         Chattisgarh                   0               0.00000  2018
5      DNH at silvasa                   0               0.00000  2018
6               Delhi                   0               0.00000  2018
7       Diu and daman                   0               0.00000  2018
8                 Goa                   0               0.00000  2018
9            Gujarath                   0               0.00000  2018
10            Haryana                   0               0.00000  2018
11   Himachal Pradesh                   0               0.00000  2018
12  Jammu and kashmir                   0               0.00000  2018
13          Jharkhand                   0               0.00000  2018
14          Karnataka               56655               0.56655  2018
15             Kerala                  21               0.00021  2018
16             Ladakh                   0               0.00000  2018
17     Madhya Pradesh                   0               0.00000  2018
18        Maharashtra               30456               0.30456  2018
19            Manipur                   0               0.00000  2018
20          Meghalaya                   0               0.00000  2018
21            Mizoram                   0               0.00000  2018
22             Orissa                   0               0.00000  2018
23             Punjab                   0               0.00000  2018
24          Rajasthan                   0               0.00000  2018
25             Sikkim                   0               0.00000  2018
26          Tamilnadu                   0               0.00000  2018
27          Telangana                   0               0.00000  2018
28            Tripura                   0               0.00000  2018
29      Uttar pradesh                   0               0.00000  2018
30        Uttarakhand                   0               0.00000  2018
31        West Bengal                   0               0.00000  2018

In [15]:

df_merged=pd.merge(df2,df_pending,on='state')
df_merged

,year,state,dismissed_count,prison_count,withdrawal_count,avg_decision_end_per1lakhcases,avg_fileend_per1lakhcases,avg_filecourt_per1lakhcases,criminal_count,criminal_perlakh,noncriminal_count,noncriminal_perlakh,pendingcases_count,pending_casesperlakh,Year
0,2018,Andhra Pradesh,0,0,0,0,232,60,59479,0.59479,33408,0.33408,5579,0.05579,2018
1,2018,Assam,0,204,0,0,286,60,36264,0.36264,29359,0.29359,0,0.00000,2018
2,2018,Bihar,8,3,240,5,130,30,44437,0.44437,130363,1.30363,0,0.00000,2018
3,2018,Chandigarh,0,0,55,0,2747,21,6876,0.06876,1709,0.01709,0,0.00000,2018
4,2018,Chattisgarh,29,124,17,0,287,42,35538,0.35538,22584,0.22584,0,0.00000,2018
5,2018,DNH at silvasa,0,50,0,0,54424,5831,191,0.00191,143,0.00143,0,0.00000,2018
6,2018,Delhi,5,693,3662,0,191,14,69371,0.69371,34886,0.34886,0,0.00000,2018
7,2018,Diu and daman,0,0,0,0,18617,2583,337,0.00337,92,0.00092,0,0.00000,2018
8,2018,Goa,0,0,0,0,1447,218,7776,0.07776,1846,0.01846,0,0.00000,2018
9,2018,Gujarath,0,28826,0,0,86,13,132300,1.32300,56936,0.56936,0,0.00000,2018
10,2018,Haryana,17,0,2268,0,120,11,117993,1.17993,43972,0.43972,0,0.00000,2018
11,2018,Himachal Pradesh,0,0,0,0,181,33,67620,0.67620,49041,0.49041,0,0.00000,2018
12,2018,Jammu and kashmir,3,0,2,1,746,176,20572,0.20572,7336,0.07336,0,0.00000,2018
13,2018,Jharkhand,10,131,33,0,146,12,17307,0.17307,60348,0.60348,0,0.00000,2018
14,2018,Karnataka,77,13387,0,1,53,7,222356,2.22356,97280,0.97280,56655,0.56655,2018
15,2018,Kerala,5,6076,4,0,137,35,115777,1.15777,85448,0.85448,21,0.00021,2018
16,2018,Ladakh,0,0,0,0,114173,15576,86,0.00086,34,0.00034,0,0.00000,2018
17,2018,Madhya Pradesh,0,0,0,0,81,11,115646,1.15646,86470,0.86470,0,0.00000,2018
18,2018,Maharashtra,33,3964,0,0,54,5,265620,2.65620,127037,1.27037,30456,0.30456,2018
19,2018,Manipur,0,1,0,0,2389,284,2031,0.02031,1562,0.01562,0,0.00000,2018
20,2018,Meghalaya,0,0,0,60,13784,193,739,0.00739,225,0.00225,0,0.00000,2018
21,2018,Mizoram,0,0,0,0,70231,19952,256,0.00256,99,0.00099,0,0.00000,2018
22,2018,Orissa,0,11,11,7,434,124,43220,0.43220,29049,0.29049,0,0.00000,2018
23,2018,Punjab,1,40,635,0,127,4,98169,0.98169,49345,0.49345,0,0.00000,2018
24,2018,Rajasthan,55,9,0,0,84,19,148190,1.48190,119924,1.19924,0,0.00000,2018
25,2018,Sikkim,0,4,0,0,7471,531,491,0.00491,520,0.00520,0,0.00000,2018
26,2018,Tamilnadu,0,0,0,1,97,17,137797,1.37797,61963,0.61963,0,0.00000,2018
27,2018,Telangana,0,0,0,1,393,129,32018,0.32018,27368,0.27368,0,0.00000,2018
28,2018,Tripura,1,23,0,13,6606,855,1669,0.01669,1367,0.01367,0,0.00000,2018
29,2018,Uttar pradesh,75,9,535,0,25,4,435728,4.35728,350077,3.50077,0,0.00000,2018
30,2018,Uttarakhand,1,249,0,1,536,115,32287,0.32287,11551,0.11551,0,0.00000,2018
31,2018,West Bengal,0,6281,0,0,233,24,59874,0.59874,57621,0.57621,0,0.00000,2018

In [16]:
df_merged=df_merged.drop(columns=['Year'])

# df_merged.to_csv('2014_filtered.csv', index=False)


df_merged=df_merged.reindex(columns=['year','state','dismissed_count','prison_count','withdrawal_count','avg_decision_end_per1lakhcases','avg_fileend_per1lakhcases','avg_filecourt_per1lakhcases','pendingcases_count','pending_casesperlakh','criminal_count','criminal_perlakh','noncriminal_count','noncriminal_perlakh'])
df_merged.to_csv('2018_filtered.csv', index=False)
df_merged

,year,state,dismissed_count,prison_count,withdrawal_count,avg_decision_end_per1lakhcases,avg_fileend_per1lakhcases,avg_filecourt_per1lakhcases,pendingcases_count,pending_casesperlakh,criminal_count,criminal_perlakh,noncriminal_count,noncriminal_perlakh
0,2018,Andhra Pradesh,0,0,0,0,232,60,5579,0.05579,59479,0.59479,33408,0.33408
1,2018,Assam,0,204,0,0,286,60,0,0.00000,36264,0.36264,29359,0.29359
2,2018,Bihar,8,3,240,5,130,30,0,0.00000,44437,0.44437,130363,1.30363
3,2018,Chandigarh,0,0,55,0,2747,21,0,0.00000,6876,0.06876,1709,0.01709
4,2018,Chattisgarh,29,124,17,0,287,42,0,0.00000,35538,0.35538,22584,0.22584
5,2018,DNH at silvasa,0,50,0,0,54424,5831,0,0.00000,191,0.00191,143,0.00143
6,2018,Delhi,5,693,3662,0,191,14,0,0.00000,69371,0.69371,34886,0.34886
7,2018,Diu and daman,0,0,0,0,18617,2583,0,0.00000,337,0.00337,92,0.00092
8,2018,Goa,0,0,0,0,1447,218,0,0.00000,7776,0.07776,1846,0.01846
9,2018,Gujarath,0,28826,0,0,86,13,0,0.00000,132300,1.32300,56936,0.56936
10,2018,Haryana,17,0,2268,0,120,11,0,0.00000,117993,1.17993,43972,0.43972
11,2018,Himachal Pradesh,0,0,0,0,181,33,0,0.00000,67620,0.67620,49041,0.49041
12,2018,Jammu and kashmir,3,0,2,1,746,176,0,0.00000,20572,0.20572,7336,0.07336
13,2018,Jharkhand,10,131,33,0,146,12,0,0.00000,17307,0.17307,60348,0.60348
14,2018,Karnataka,77,13387,0,1,53,7,56655,0.56655,222356,2.22356,97280,0.97280
15,2018,Kerala,5,6076,4,0,137,35,21,0.00021,115777,1.15777,85448,0.85448
16,2018,Ladakh,0,0,0,0,114173,15576,0,0.00000,86,0.00086,34,0.00034
17,2018,Madhya Pradesh,0,0,0,0,81,11,0,0.00000,115646,1.15646,86470,0.86470
18,2018,Maharashtra,33,3964,0,0,54,5,30456,0.30456,265620,2.65620,127037,1.27037
19,2018,Manipur,0,1,0,0,2389,284,0,0.00000,2031,0.02031,1562,0.01562
20,2018,Meghalaya,0,0,0,60,13784,193,0,0.00000,739,0.00739,225,0.00225
21,2018,Mizoram,0,0,0,0,70231,19952,0,0.00000,256,0.00256,99,0.00099
22,2018,Orissa,0,11,11,7,434,124,0,0.00000,43220,0.43220,29049,0.29049
23,2018,Punjab,1,40,635,0,127,4,0,0.00000,98169,0.98169,49345,0.49345
24,2018,Rajasthan,55,9,0,0,84,19,0,0.00000,148190,1.48190,119924,1.19924
25,2018,Sikkim,0,4,0,0,7471,531,0,0.00000,491,0.00491,520,0.00520
26,2018,Tamilnadu,0,0,0,1,97,17,0,0.00000,137797,1.37797,61963,0.61963
27,2018,Telangana,0,0,0,1,393,129,0,0.00000,32018,0.32018,27368,0.27368
28,2018,Tripura,1,23,0,13,6606,855,0,0.00000,1669,0.01669,1367,0.01367
29,2018,Uttar pradesh,75,9,535,0,25,4,0,0.00000,435728,4.35728,350077,3.50077
30,2018,Uttarakhand,1,249,0,1,536,115,0,0.00000,32287,0.32287,11551,0.11551
31,2018,West Bengal,0,6281,0,0,233,24,0,0.00000,59874,0.59874,57621,0.57621