In [1]:
import pandas as pd

In [2]:
df0=pd.read_csv('/home/nirmala/timing2010.csv')

In [3]:
df1=pd.read_csv('/home/nirmala/timing2011.csv')

In [4]:
df2=pd.read_csv('/home/nirmala/timing2012.csv')

In [5]:
df3=pd.read_csv('/home/nirmala/timing2013.csv')

In [6]:
df4=pd.read_csv('/home/nirmala/timing2014.csv')

In [7]:
df5=pd.read_csv('/home/nirmala/timing2015.csv')

In [8]:
df6=pd.read_csv('/home/nirmala/timing2016.csv')

In [9]:
df7=pd.read_csv('/home/nirmala/timing2017.csv')

In [10]:
df8=pd.read_csv('/home/nirmala/timing2018.csv')

In [11]:
df=pd.concat([df0,df1])
df=pd.concat([df,df2])
df=pd.concat([df,df3])
df=pd.concat([df,df4])
df=pd.concat([df,df5])
df=pd.concat([df,df6])
df=pd.concat([df,df7])
df=pd.concat([df,df8])

In [14]:
df

,state_code,file_closing_days,file_reach_days,decide_close_days,Year
0,Andhra Pradesh,1000.340859,404.308270,0.423684,2010
1,Assam,0.000000,0.000000,0.000000,2010
2,Bihar,0.000000,0.000000,0.000000,2010
3,Chandigarh,0.000000,0.000000,0.000000,2010
4,Chattisgarh,0.000000,0.000000,0.000000,2010
...,...,...,...,...,...
27,Telangana,97.387049,44.757250,0.295233,2018
28,Tripura,150.772764,40.976632,0.245770,2018
29,Uttar pradesh,69.019989,20.760331,2.170473,2018
30,Uttarakhand,92.552775,30.921476,0.303449,2018
31,West Bengal,92.027731,17.358586,0.607467,2018

In [13]:
df=df.drop(columns="Unnamed: 0")

In [15]:
df.to_csv('timing_final.csv', index=False)
df.to_csv('timing_final_copy_after_filter.csv', index=False)